<div class="careat">
  <div class="img">
    <img [src]="environment?.websiteassetsURL + 'center_image_careatcentertransition (2).png'" alt="center_image_ione" title="center_image_ione" />
    <div class="bottom-left fs-2 color313131">
      Exceptional post-hospitalization care
    </div>
    <h1 class="bottom-left2 color031B4E">Transition Care</h1>
  </div>
  <div>
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-9 my-2 align-self-center container text-center">
        <div class="emptyheightdivhundred">
          <h2>Transition Care</h2>
        </div>
        <p class="aboutp paddingleftright">
          Recovering from a surgery, critical illness, or unexpected health
          setback is a challenging journey. While hospitals focus on emergency
          treatment and discharge, the immediate needs of patients following
          their hospital stay require careful consideration. Patients are still
          struggling with the traumas, both physically and psychologically, even
          after being deemed stable and ready for discharge.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="services_desc">
        <h4>Transition Care</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'transitioncare/transition-care.svg'" alt="transition_itwo" title="transition_itwo" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <ul class="upper">
                      <li>
                        <!-- <span>
                          Avoid hospital-acquired infections
                          <br />
                          Preventing patients and health workers from being
                          harmed by avoidable infections.</span
                        > -->
                        <span>
                          Avoid hospital-acquired infections<br />
                          <span class="fixedcolor">Preventing
                            patients and health workers
                            from being harmed by
                            avoidable infections.
                          </span>
                        </span>

                      </li>
                      <li>
                        <span>
                          Fast Recovery
                          <br />
                          <span class="fixedcolor">
                            Specialized care to ease patient recovery after hospital stay. Safe process and 24/7 medical
                            team observation and availability. Peace of mind during recovery process.
                          </span></span>
                      </li>
                      <li>
                        <span>Perfect Diet Plan
                          <br />
                          <span class="fixedcolor">
                            Perfect diet plan enriched with the right nutrients
                            and elements.
                          </span>
                        </span>
                      </li>
                      <li>
                        <span>Medical Supervision and Health Support
                          <br />
                          <span class="fixedcolor">
                            Patient receives significant amount of medical
                            supervision and health support from our Nursing and
                            Physio staff that they need to gain the physical and
                            mental strength.
                          </span>
                        </span>
                      </li>
                      <li class="pad-none">
                        <span>Reduce Hospital Readmission or Visits
                          <br />
                          <span class="fixedcolor">
                            Ongoing support and care co-ordination to reduce the hospital readmission or visits. Improve
                            overall health and well-being and promote independence.
                          </span>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--tabs-->
  <div class="container justify-content-center ctc">
    <!-- <p class="aboutp paddingleftright">
      Recovering from a surgery, critical illness, or unexpected health
      setback is a challenging journey. While hospitals focus on emergency
      treatment and discharge, the immediate needs of patients following their
      hospital stay require careful consideration. Patients are still
      struggling with the traumas, both physically and psychologically, even
      after being deemed stable and ready for discharge.
    </p> -->

    <!-- <ul>
      <p class="fonts25 color050D40 fontw600">
        Avoid hospital-acquired infections
      </p>
      <li>

        Preventing patients and health workers from being harmed by
        avoidable infections.

      </li>
    </ul>

    <ul>
      <p class="fonts25 color050D40 fontw600">Fast Recovery</p>
      <li>

        Specialized care to ease patient recovery after hospital stay. Safe
        process and 24/7 medical team observation and availability. Peace of
        mind during recovery process.

      </li>
    </ul>

    <ul>
      <p class="fonts25 color050D40 fontw600">
        Perfect Diet Plan
      </p>
      <li>

        Perfect diet plan enriched with the right nutrients and elements.

      </li>
    </ul>

    <ul>
      <p class="fonts25 color050D40 fontw600">
        Medical Supervision and Health Support
      </p>
      <li>

        Patient receives significant amount of medical supervision and
        health support from our Nursing and Physio staff that they need to
        gain the physical and mental strength.

      </li>
    </ul>

    <ul>
      <p class="fonts25 color050D40 fontw600">
        Reduce Hospital Readmission or Visits
      </p>
      <li class="pad-none">

        Ongoing support and care co-ordination to reduce the hospital
        readmission or visits. Improve overall health and well-being and
        promote independence.

      </li>
    </ul> -->

    <p class="aboutp paddingleftright text-center p-all">
      Experience exceptional post-hospitalization care at HealthOnUs center.
      Our specialized nursing specialists and therapists provide personalized
      transitional care plans, accelerating your recovery and minimizing
      hospital readmissions.
    </p>


  </div>
  <!--tabs ends-->

</div>

<!--processflow and download-->
<div class="darkbgsblue">
  <div class="container">

    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">Download</div>
        <div class="step-desc">Download from app store/play store</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">Register</div>
        <div class="step-desc">Register with your mobile number or email ID</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">3</div>
        <div class="step-name">Select Service</div>
        <div class="step-desc">Choose any of our services</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">4</div>
        <div class="step-name">Enjoy</div>
        <div class="step-desc">Get care at your comfort of home</div>
      </div>
    </div>
    <div class="downloadmbapp text-center">
      <li>
        <a class="wp-block-button__link wp-element-button has-text-align-start" (click)="popupopen()">Download Mobile
          App</a>
      </li>
    </div>
  </div>
  <div *ngIf="display">
    <app-modal-popup></app-modal-popup>
  </div>
</div>
<!--processflow and download ends-->

<!--faq's-->
<div class="bg6B">

  <p class="fs-2 fontw600 text-white text-center">Frequently Asked Questions</p>

  <div class="contactusfaq">
    <div class="container faq_pad">
      <div class="accordion accordion-flush" id="faqlist1">
        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-1">
              How can I be assured that the nursing specialists at your canters are trustworthy?
            </button>
          </div>
          <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              All staff members at HOU canter undergo rigorous training and certification processes. We prioritize
              patient satisfaction and carefully select and onboard our staff members based on their skills and
              behaviour.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-2">
              Are the nursing specialists and staff members employed directly by HOU or through a third-party contract?
            </button>
          </div>
          <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              All our staff members are employed directly by HOU. We do not involve any third-party or contractual
              processes for staff hiring and onboarding.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-3">
              Are all staff members verified? If yes, how do you perform the verification?
            </button>
          </div>
          <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              We conduct thorough background checks and police verification for all our staff members before hiring
              them. This ensures the trustworthiness and reliability of our team.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-4">
              What is the cost of your Transition care services?
            </button>
          </div>
          <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              The cost of our transition care services is determined by your specific requirements. Contact us to get a
              detailed information about our services and pricing.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--faq's ends-->