<div class="careers text-break">
  <!--oldcode starts here-->
  <!-- <div class="section first-section pb-60">
        <div class="container">
            <div>
                <div class="row py-50">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-3">
                        <h1 class="mt-3 mb-2 fw-900 lh-175"><span class="brand-color">Create positive change</span> at
                            HealthOnUs</h1>
                        <p class="mb-4">
                            We are looking for passionate people who can help us innovate healthcare services across the
                            world. Whether you are a tech enthusiast, marketing expert or healthcare specialists, we can
                            work together for a good cause.
                        </p>
                        <button class="btn brand-bgcolor text-white fw-bold" (click)="openRoles()">Explore open
                            roles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section second-section pb-57 mx-50">
        <div class="container">
            <div class="">
                <div class="row mb-28 justify-content-between">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-white mx-2  p-5">
                            <h4>
                                <i class="bi bi-people me-2"></i>
                                <strong>&nbsp;Who we are</strong>
                            </h4>
                            <div class="emptyheightdivten"></div>
                            <p>We are committed to providing quality care and ensuring that our clients receive the
                                services they need to live their lives to the fullest.</p>
                            <div class="emptyheightdivthirty"></div>
                            <button class="btn brand-bgcolor text-white fw-bold p-4 rounded-pill"
                                [routerLink]="['/aboutus']">Know more</button>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-white mx-2  p-5">
                            <h4 class="wp-block-heading"><i class="bi bi-mortarboard me-2"></i>&nbsp;What we do</h4>
                            <div class="emptyheightdivten"></div>
                            <p>We provide a variety of home healthcare services to help people stay independent and
                                comfortable in their own homes.</p>
                            <div class="emptyheightdivthirty"></div>
                            <button class="btn brand-bgcolor text-white fw-bold p-4 rounded-pill"
                                [routerLink]="['/care-at-home']">Know more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="section third-section">
        <div class="container">
            <div class="">
                <h2>Our Beliefs & Values</h2>
                <div class="emptyheightdivthirty"></div>
                <p>Whatever the market conditions or current trends, these are the values that guide us. In work or
                    play, private or public, this is who we are.</p>
                <div class="emptyheightdivthirty"></div>
                <div class="row mb-28 justify-content-between">
                    <div class="col-sm-12 col-md-6 col-lg-6 bg-white">
                        <h4>
                            Our Beliefs:
                        </h4>
                        <div class="emptyheightdivforty"></div>
                        <div class="right_dot_border">
                            <p>
                                <i class="bi bi-star me-4"></i>
                                We believe that you deserve more.
                            </p>
                            <div class="emptyheightdivtwenty"></div>
                            <p>
                                <i class="bi bi-trophy me-4"></i>
                                We believe that you should succeed.
                            </p>
                            <div class="emptyheightdivtwenty"></div>

                            <p>
                                <i class="bi bi-award me-4"></i>
                                We believe that you should win more often.
                            </p>
                            <div class="emptyheightdivtwenty"></div>
                            <p>
                                And we want you to get there knowing you’ve had the best team supporting you at each
                                step of
                                the journey.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 bg-white">
                        <h4 class="wp-block-heading">Our Values:</h4>
                        <div class="emptyheightdivforty"></div>
                        <div class="">
                            <p>
                                <i class="bi bi-people me-4"></i>
                                We put people first, always.
                            </p>
                            <div class="emptyheightdivtwenty"></div>
                            <p>
                                <i class="bi bi-patch-check me-4"></i>
                                We do the right thing every time.
                            </p>
                            <div class="emptyheightdivtwenty"></div>

                            <p>
                                <i class="bi bi-hand-thumbs-up me-4"></i>
                                We fight for our customer’s success.
                            </p>
                            <div class="emptyheightdivtwenty"></div>
                            <p>
                                <i class="bi bi-bullseye me-4"></i>
                                We commit to excellence by paying attention to details.
                            </p>
                            <div class="emptyheightdivtwenty"></div>
                            <p>
                                <i class="bi bi-hand-thumbs-up me-4"></i>
                                We labor for simplicity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="section fourth-section">
        <div class="container">
            <div class="">
                <h2 class="text-center">Employee Benefits</h2>
                <div class="emptyheightdivtwenty"></div>
                <p class="text-center">The perfect balance between work and personal life.</p>
                <div class="emptyheightdivthirty"></div>
                <div class="row mb-28 text-white">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-blue mx-1 p-5">
                            
                            <h5 class=""><strong>Your time is precious</strong></h5>
                            <div class="emptyheightdivtwenty"></div>
                            <p>Work is not everything. Our schedule is semi-flexible, allowing you to combine work with
                                personal life and giving you more freedom.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-violet mx-1 p-5">
                            
                            <h5 class=""><strong>Committed to your professional growth</strong></h5>
                            <div class="emptyheightdivtwenty"></div>
                            <p>We like to grow together, and that’s why we encourage professional training. Our workers
                                knowledge and skills add value to our company. We make it easier for you to attend
                                courses, conferences and get your master’s degrees.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-28 text-white">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-violet mx-1 p-5">
                           
                            <h5 class=""><strong>Leisure areas and events</strong></h5>
                            <div class="emptyheightdivtwenty"></div>
                            <p>Good vibes and cooperation are essential for our Universe. That’s why we organize events
                                and team building activities all year round.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                        <div class="col-bg bg-blue mx-1 p-5">
                            
                            <h5 class=""><strong>Health insurance</strong></h5>
                            <div class="emptyheightdivtwenty"></div>
                            <p>We provide you with a comprehensive medical insurance that covers a wide variety of needs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiveighty"></div>
    <div class="section fifth-section">
        <div class="container">
            <div class="">
                <h2 class="text-center fw-700">What to Expect</h2>
                <div class="emptyheightdivtwenty"></div>
                <p class="text-center">If you followed the first two steps and if we think you’re a great fit for our
                    team,
                    here’s what will happen next.
                </p>
                <div class="emptyheightdivthirty"></div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-4 col-lg-4 m-3 p-2">
                        <div class="col-bg bg-light-pink mx-2 p-3">
                            <div class="d-flex gap-5 align-items-center">
                                <p class="py-2 px-3 rounded-circle bg-white">
                                    <i class="bi bi-telephone"></i>
                                </p>
                                <div class="">
                                    <h6 class="fw-600">Step 01</h6>
                                    <p>We’ll get in touch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 m-3 p-2">
                        <div class="col-bg bg-light-blue mx-2 p-3">
                            <div class="d-flex gap-5 align-items-center">
                                <p class="py-2 px-3 rounded-circle bg-white">
                                    <i class="bi bi-chat-left-text"></i>
                                </p>
                                <div class="">
                                    <h6 class="fw-600">Step 02</h6>
                                    <p>Have a quick talk</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-4 col-lg-4 m-3 p-2">
                        <div class="col-bg bg-light-yellow mx-2 p-3">
                            <div class="d-flex gap-5 align-items-center">
                                <p class="py-2 px-3 rounded-circle bg-white">
                                    <i class="bi bi-calendar-check"></i>
                                </p>
                                <div class="">
                                    <h6 class="fw-600">Step 03</h6>
                                    <p>Schedule Interview</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 m-3 p-2">
                        <div class="col-bg bg-light-green mx-2 p-3">
                            <div class="d-flex gap-5 align-items-center">
                                <p class="py-2 px-3 rounded-circle bg-white">
                                    <i class="bi bi-suit-heart"></i>
                                </p>
                                <div class="">
                                    <h6 class="fw-600">Step 04</h6>
                                    <p>Extend our offer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="emptyheightdivthirty"></div>
                <div class="text-center">
                    <button class="btn brand-bgcolor text-white fw-bold p-4 rounded-pill" (click)="openings()">Apply
                        Now</button>
                </div>
                <div class="emptyheightdiveighty"></div>

            </div>
        </div>
    </div>
    <div class="section sixth-section mb-28">
        <div class="container">
            <div *ngIf="!showOpenings">
                <h2 class="text-center">We have openings</h2>
                <div class="emptyheightdivtwenty"></div>
                <p class="text-center">Take a look and apply for any job that matches your needs.</p>
                <div class="emptyheightdivthirty"></div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2" *ngFor="let job of jobPositions?.slice(0, 4)">
                        <div class="col-bg bg-light-brand mx-1 p-5">
                            <h5 class=""><strong>{{ job.Title }}</strong></h5>
                            <div class="emptyheightdivtwenty"></div>
                            <p>Review and apply if it matches your criteria.</p>
                            <div class="emptyheightdivtwenty"></div>
                            <button class="btn brand-bgcolor text-white fw-bold" (click)="applyNow(job?.ID)">More
                                details</button>
                        </div>
                    </div>
                </div>
                <div class="emptyheightdiv"></div>
                <div class="text-center">
                    <button class="btn brand-bgcolor text-white fw-bold p-4 rounded-pill" (click)="openings()">View all
                        openings</button>
                </div>
            </div>
            <div class="" *ngIf="showOpenings" id="showOpenings">
                <h2 class="text-center">Find your perfect role.</h2>
                <div class="emptyheightdivthirty"></div>
                <div class="mb-3 d-flex position-relative">
                    <div class="wp-block-search__inside-wrapper ">
                        <input class="wp-block-search__input search-input" id="wp-block-search__input-1"
                            placeholder="Enter role or keyword" value="" type="search" name="s" required=""
                            data-gtm-form-interact-field-id="0" [(ngModel)]="searchText" (input)="search()">
                        <button aria-label="Search" class="wp-block-search__button wp-element-button search-btn "
                            type="submit" (click)="search()">Search</button>
                    </div>
                    <div class="emptyheightdivforty"></div>

                </div>
                <div class="emptyheightdivtwenty"></div>
                <ul class="wp-block-post-template is-layout-flow wp-block-post-template-is-layout-flow">
                    <li
                        class="wp-block-post post-1917 post type-post status-publish format-standard hentry category-jobs">
                        <div *ngFor="let job of searchResults"
                            class="wp-block-columns p-3 border border-secondary rounded is-layout-flex wp-container-core-columns-layout-14 wp-block-columns-is-layout-flex">
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow flexbasis55">
                                <h4 class="wp-block-post-title has-medium-font-size fontweight400">
                                    <a target="_self">{{ job.Title }}</a>
                                </h4>
                                <div class="emptyheightdivtwelve"></div>
                                <p>{{ job?.Experience }}</p>
                                <p>{{ job?.OpeningDate | date:'MMMM, yyyy' }}</p>
                            </div>
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow flexbasis30">
                                <div class="emptyheightdivthirty"></div>
                                <p>{{ job?.Location }}</p>
                            </div>
                            <div
                                class="wp-block-column is-layout-flow wp-block-column-is-layout-flow flexbasis15 applynowalignment">
                                <a class="apply_now_btn wp-block-read-more" target="_self"
                                    (click)="applyNow(job?.ID)">Apply
                                    Now<span class="screen-reader-text">{{
                                        job?.Title }}</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="section seventh-section bg-light-brand mx-50 mb-28">
        <div class="container">
            <div class="text-center py-57 ">
                <h2 class="fw-700">Can’t find what you <span class="brand-color">are looking for?</span></h2>
                <div class="emptyheightdivthirty"></div>
                <p>Don’t worry, you can always get in touch with us. Tell us what you are seeking, and we will connect
                    you with any position that suits you.</p>
                <div class="emptyheightdivtwenty"></div>
                <button class="btn brand-bgcolor text-white fw-bold p-4 rounded-pill" [routerLink]="['/contact-us']">Get
                    in
                    touch</button>
                <div class="emptyheightdiv"></div>

            </div>
        </div>
    </div> -->
  <!--oldcode ends here-->

  <!--new careers code startshere-->
  <div class="uptoopeningsgrey">
    <section class="backgroundcolourlin">
      <div class="container">
        <div>
          <div class="text-center careertop">
            <h1 class="joinhou fontw600">Be a Part of Future of HealthCare</h1>
            <p class="looking">
              Whether you’re a tech enthusiast, marketing expert, or healthcare
              specialist, let’s unite to create the most robust and exceptional
              technology-enabled healthcare community.
            </p>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4 position-relative">
              <img [src]="environment?.websiteassetsURL + 'careers/laptopwithalook.png'" alt="laptopwithalook_ione"
                class="img-fluid section1-img" title="laptopwithalook_ione" />
              <div class="basiccard text-center position-absolute top-50 start-50 translate-middle">
                <div class="basiccard-body fontw600">40 Plus Paid Leaves</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 position-relative">
              <img [src]="environment?.websiteassetsURL + 'careers/multiplediscussions.png'"
                alt="multiplediscussions_itwo" class="img-fluid section1-img" title="multiplediscussions_itwo" />
              <div class="basiccard text-center position-absolute top-50 start-50 translate-middle">
                <div class="basiccard-body fontw600">Work life Balance</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 position-relative">
              <img [src]="environment?.websiteassetsURL + 'careers/multiplewithdesktop.png'"
                alt="multiplewithdesktop_ithree" class="img-fluid section1-img" title="multiplewithdesktop_ithree" />
              <div class="basiccard text-center position-absolute top-50 start-50 translate-middle">
                <div class="basiccard-body fontw600">Free Insurance</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container my-4 p-0">
      <div class="socialmediasss pt-4">
        <h3 class="color050D40 text-center">
          Join a Dynamic Team of Professionals
        </h3>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <ul>
              <li>
                <span class="looking">
                  Comprising over 200 experts from diverse fields.
                </span>
              </li>
              <li>
                <span class="looking">
                  A unique blend of technology enthusiasts and healthcare
                  specialists.
                </span>
              </li>
              <li>
                <span class="looking">
                  Abundant opportunities for career advancement.
                </span>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6">
            <ul class="text-start">
              <li>
                <span class="looking">
                  Exceptional mentorship and skill enhancement training
                  programs.
                </span>
              </li>
              <li>
                <span class="looking">
                  A comprehensive bonus system to motivate and reward employees.
                </span>
              </li>
              <li>
                <span class="looking">
                  A safe and comfortable workplace for better performance.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="emptyheightdiv"></div> -->
      </div>
    </div>
    <div class="container dynamic_padding">
      <!--       
      <p class="text-center color7963D4">Benefits</p> -->
      <h3 class="benefitsathou fontw600 text-center">
        Benefits Working at HealthOnUs
      </h3>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_1">
            <h5>Competitive salary package</h5>
            <p>
              A competitive salary package in the industry to keep the enthusiasm
              of the employee always up while attracting new talents.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_2">

            <h5>The Best corporate bouquet of benefits</h5>
            <p>
              Employee will get a ton of corporate benefits including health
              insurance, gratuity, bonus, referral bonus, paid time off apart, and
              more.
            </p>
          </div>


        </div>
      </div>
      <!-- <div class="emptyheightdivforty"></div> -->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_3">
            <h5>Comfortable and safe workplace</h5>
            <p>
              We maintain safe and comfortable work environment so that everyone
              can work enthusiastically for united goals.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_4">
            <h5>Insurance, Health & Wellness</h5>
            <p>
              Insurance coverage (like health insurance, life insurance, etc.) for
              employees along with promoting health and wellness initiatives.
            </p>
          </div>


        </div>
      </div>
      <!-- <div class="emptyheightdivforty"></div> -->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_5">

            <h5>Maternity, Paternity, and other Leaves</h5>
            <p>
              We support everyone during important life events by providing leaves
              such as maternity leave (for childbirth/adoption), paternity leave
              (for childbirth/adoption), and more.
            </p>
          </div>


        </div>
        <div class="col-sm-12 col-md-6">
          <div class="benefits_box be_bg_6">

            <h5>Work-life balance</h5>

            <p>
              Balance between work responsibilities and personal life is utmost
              important to maintain the quality of work productivity and life.
            </p>
          </div>

        </div>
      </div>
      <!-- <div class="emptyheightdiv"></div> -->
    </div>

  </div>

  <div class="container" id="wearehiring">
    <div class="wehaveopening">
      <h3>We’re Hiring</h3>
      <p>Explore Exciting Roles at HealthOnUs</p>

    </div>
  </div>
  <div id="showOpenings">

    <div class="container">
      <div class="mb-3 d-flex position-relative">
        <div class="wp-block-search__inside-wrapper">
          <input class="wp-block-search__input search-input makeitround" id="wp-block-search__input-1"
            placeholder="Enter role or keyword" value="" name="s" required="" data-gtm-form-interact-field-id="0"
            [(ngModel)]="searchText" (input)="search()" />
          <i class="fa-solid fa-magnifying-glass fa-xl cursorpointer"></i>
        </div>

      </div>

      <ul class="wp-block-post-template is-layout-flow wp-block-post-template-is-layout-flow">
        <li *ngFor="let job of getPaginatedResults()"
          class="wp-block-post post-1917 post type-post status-publish format-standard hentry category-jobs">
          <div class="joblist">
            <div class="row">
              <h4 class="wp-block-post-title has-medium-font-size fontweight400">

                <a target="_self" class="jobtitle fontw600">{{ job.Title }}</a>
                <div class="badge badge-dark mx-3 badgebg fontw400">
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="pr-2">{{ job.Designation }}</span>
                  </div>
                </div>
              </h4>
            </div>
            <div class="row">
              <!-- <div class="col-sm-12 col-md-12">
                <div [innerHTML]="job?.Summary" class="jobsummary"></div>
              </div> -->
              <div class="col-sm-12 col-md-12">
                <div [innerHTML]="truncateSummary(job?.Summary)" class="jobsummary"></div>
              </div>

            </div>
            <div class="row">
              <div class="col">

                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-auto mt-3">

                        <p><i class="fa-solid fa-location-dot fa-lg"></i> {{ job?.Location }}</p>
                      </div>
                      <div class="col-md-auto mt-3">

                        <p>
                          <i class="fa-solid fa-briefcase"></i> {{ job?.Experience }} Experience
                        </p>
                      </div>
                      <div class="col-md-auto mt-3">

                        <p>
                          <i class="fa-regular fa-calendar-days"></i> {{ job?.OpeningDate | date : "dd MMMM yyyy" }}
                        </p>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <div class="row justify-content-end">

                      <div class="col-md-12 mt-3">
                        <a class="apply_now_btn wp-block-read-more coloruchanges fontw400 text-center" target="_self"
                          (click)="applyNow(job?.ID)">View Job</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div *ngIf="!isLastItem(job)"></div>
        </li>
      </ul>

      <div class="d-flex justify-content-center mr-2">
        <ngb-pagination [collectionSize]="searchResults.length" [(page)]="currentPage" [pageSize]="itemsPerPage"
          (pageChange)="onPageChange($event)" [maxSize]="5" size="md">
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
      </div>

    </div>
  </div>
  <!--new careers code endshere-->
</div>
<!--total end-->