<div class="faq">
    <div class="container text-center">
        <div class="emptyheightdivthirty"></div>
        <h1 class="color6B53B6">Frequently Asked Questions</h1>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div class="accordion-item">
                        <div class="accordion-header font_h2">
                            <button class="accordion-button collapsed mx-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                    tabindex="0" aria-controls="ac-657" aria-expanded="false"><strong>Is
                                        HealthOnUs healthcare a government agency?</strong></h5>
                            </button>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <p class="mx-4">No, HealthOnUs is a private agency. We have obtained
                                all the necessary certifications and adhere to relevant policies to ensure
                                compliance with the law.</p>
                        </div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div class="accordion-item">
                        <div class="accordion-header font_h2">
                            <button class="accordion-button collapsed mx-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                    tabindex="0" aria-controls="ac-657" aria-expanded="false"><strong>What are
                                        your operating hours?
                                    </strong></h5>
                            </button>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <p class="mx-4">We are available 24/7 to provide healthcare services.</p>
                        </div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div class="accordion-item">
                        <div class="accordion-header font_h2">
                            <button class="accordion-button collapsed mx-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                    tabindex="0" aria-controls="ac-657" aria-expanded="false"><strong>What
                                        happens if a patient requires a specialist?
                                    </strong></h5>
                            </button>
                        </div>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <p class="mx-4">At HealthOnUs center, we have doctors available.
                                However, if a patient requires specialized medical treatment, we will arrange
                                for the patient to be transferred to a hospital for the best possible care.</p>
                        </div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div class="accordion-item">
                        <div class="accordion-header font_h2">
                            <button class="accordion-button collapsed mx-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                    tabindex="0" aria-controls="ac-657" aria-expanded="false"><strong>What
                                        happens if a patient requires surgery?
                                    </strong></h5>
                            </button>
                        </div>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <p class="mx-4">If a patient requires special medical treatment or
                                surgery, we will coordinate the patient's transfer to a hospital for the
                                necessary procedures.</p>
                        </div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div aria-hidden="true" class="emptyheightdivten"></div>
                    <div class="accordion-item">
                        <div class="accordion-header font_h2">
                            <button class="accordion-button collapsed mx-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                    tabindex="0" aria-controls="ac-657" aria-expanded="false"><strong>How do
                                        you recruit your nursing specialists, therapists, pharmacists, and lab experts?
                                    </strong></h5>
                            </button>
                        </div>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <p class="mx-4">We carefully hire qualified and skilled professionals
                                in various healthcare fields following a rigorous recruitment process. Our
                                recruitment process includes evaluating qualifications, experience, and
                                conducting interviews to ensure we have a competent team.</p>
                        </div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivseventy"></div>
                </div>
            </div>
        </div>
    </div>
</div>