<div class="container-fluid inhomephysiotherapydiv">


    <div class="container homebased">
        <div class="row homerow">
            <div class="col-lg-8 col-md-8 col-sm-12 homefirstcol">
                <h2 class="wp-block-heading">A Home-based <br><span class="color7465ad">Physiotherapy</span> Service
                </h2>

                <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                <p class="paragraphlineheight">Regain your flexibility and mobility and recover from complex health
                    conditions with our
                    customer-centric, home-based physiotherapy services. Our expert therapists will work with you to
                    build
                    an effective therapy plan tailored to your specific needs, allowing you to enjoy your recovery in
                    the
                    comfort of your own home.</p>

                <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>

                <div class="buttonhovercss">
                    <li>
                        <a class="wp-block-button__link wp-element-button has-text-align-start"
                            (click)="enquirenow()">Enquire Now</a>
                    </li>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <img class="img-fluid" src="../../assets/inhomephysio/imgone.png" alt="inhomephysio_ione" title="inhomephysio_ione" />
            </div>
        </div>
    </div>





    <div class="container whatisuse">

        <div aria-hidden="true" class="wp-block-spacer emptyheightdivseventy"></div>
        <h2 class="wp-block-heading">Home physiotherapy: Safer, faster, and comfortable</h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="text-center">
            <img class="img-fluid imgtwo" src="../../assets/inhomephysio/imgtwo.png" alt="inhomephysio_itwo" title="inhomephysio_itwo" />
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="paragraphlineheight">Our team of certified in-house physiotherapists is dedicated to helping
                    you manage chronic pain,
                    improve
                    mobility, and recover from injuries in the comfort of your own home. Say goodbye to appointments and
                    wait in lines. You can schedule your therapy sessions at your convenience.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="paragraphlineheight">If you are seeking high-quality, personalized, and convenient
                    physiotherapy care, we are here to help
                    you
                    achieve your goals and enhance your quality of life. <strong>Why wait for a healthier and happier
                        you?
                        Book your appointment today!</strong></p>
            </div>
        </div>
    </div>






    <div class="container servicesinphysio">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivforty"></div>
        <h3 class="wp-block-heading">Types of physiotherapy we provide</h3>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class="row servicesrow">
            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgthree.png" alt="inhomephysio_ithree" title="inhomephysio_ithree" />
                <p class="has-text-align-center"><strong>Orthopedic physiotherapy</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 middleone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgfour.png" alt="inhomephysio_ifour" title="inhomephysio_ifour" />
                <p class="has-text-align-center"><strong>Cardiovascular and lung</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgfive.png" alt="inhomephysio_ifive" title="inhomephysio_ifive" />
                <p class="has-text-align-center"><strong>Sports physiotherapy</strong></p>
            </div>
        </div>

        <div class="row servicesrow">
            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgsix.png" alt="inhomephysio_isix" title="inhomephysio_isix" />
                <p class="has-text-align-center"><strong>Women Physiotherapy</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 middleone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgseven.png" alt="inhomephysio_iseven" title="inhomephysio_iseven" />
                <p class="has-text-align-center"><strong>Geriatric physiotherapy</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgeight.png" alt="inhomephysio_ieight" title="inhomephysio_ieight" />
                <p class="has-text-align-center"><strong>Neuro physiotherapy</strong></p>
            </div>
        </div>

    </div>



    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>


    <div class="physicalfitness ms-5 me-5">
        <div class="container">
            <div class="row fitnessrow">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h3 class="wp-block-heading">Physiotherapy: Improve your physical fitness</h3>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <p class="paragraphlineheight">Physiotherapy, also known as physical therapy, is a specialized
                        healthcare profession to enhance
                        and restore physical functions and mobility of a person suffering from illness, injury, or
                        disability. It involves a comprehensive assessment, diagnosis, and personalized care plan to
                        improve pain, physical strength, and physical movement</p>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                    <div class="buttonhovercss">
                        <li>
                            <a class="wp-block-button__link wp-element-button has-text-align-start"
                                [routerLink]="['/about-us']">Know more</a>
                        </li>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 imgdisplay">
                    <div class="image">
                        <img class="img-fluid" src="../../assets/inhomephysio/imgnine.png" alt="inhomephysio_inine" title="inhomephysio_inine" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>

    <div class="container physiotherapistsclass">
        <h3 class="wp-block-heading">What physiotherapists will do</h3>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class="row servicesrow">
            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgten.png" alt="inhomephysio_iten" title="inhomephysio_iten" />
                <p class="has-text-align-center"><strong>Diagnosis of problems</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 middleone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgeleven.png" alt="inhomephysio_ieleven" title="inhomephysio_ieleven" />
                <p class="has-text-align-center"><strong>Educating and<br>training patients</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgtwelve.png" alt="inhomephysio_itwelve" title="inhomephysio_itwelve" />
                <p class="has-text-align-center"><strong>Exercise</strong></p>
            </div>
        </div>

        <div class="row servicesrow">
            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgthirteen.png" alt="inhomephysio_ithirtheen" title="inhomephysio_ithirtheen" />
                <p class="has-text-align-center"><strong>Treatment planning</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 middleone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgfourteen.png" alt="inhomephysio_ifourteen" title="inhomephysio_ifourteen" />
                <p class="has-text-align-center"><strong>Pain management</strong></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 firstone">
                <img class="img-fluid" src="../../assets/inhomephysio/imgfifteen.png" alt="inhomephysio_ififteen" title="inhomephysio_ififteen" />
                <p class="has-text-align-center"><strong>Posture<br>management</strong></p>
            </div>
        </div>

    </div>


    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>

    <div class="downloadclass ms-5 me-5">
        <div class="container">
            <div class="row" id="downloadsection">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="wp-block-heading has-text-align-left has-white-color has-text-color textclr">Let’s call
                        physiotherapists
                        to your home in simple steps.</h2>

                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>

                    <div class="row qrclass m-0">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="physioclass textclr">
                                <span><i class="fa-solid fa-circle-check"></i></span> Appointment
                                scheduling
                            </div>

                            <div class="physioclass textclr">
                                <span class="checkmark"><i class="fa-solid fa-circle-check"></i></span> Nursing care at
                                home
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="physioclass textclr">
                                <span class="checkmark"><i class="fa-solid fa-circle-check"></i></span> Physiotherapy at
                                home
                            </div>

                            <div class="physioclass textclr">
                                <span class="checkmark"><i class="fa-solid fa-circle-check"></i></span> Medical records
                            </div>
                        </div>
                    </div>


                    <div class="row qrclass">
                        <div class="col-lg-4 col-md-5 col-sm-12 playstoreimages">
                            <div class="imgwidth">
                                <img class="img-fluid" src="../../assets/homepage/playstore.png" alt="playstore_ione"
                                    (click)="playStore()" title="playstore_ione" />
                            </div>

                            <div class="imgwidth">
                                <img class="img-fluid" src="../../assets/homepage/appstore.png" alt="appstore_one"
                                    (click)="playStore()" title="appstore_one" />
                            </div>

                        </div>

                        <div class="col-lg-8 col-md-5 col-sm-12  houdownloadqr">
                            <img class="img-fluid" src="../../assets/downloadqr.png" alt="downloadqr_one" title="downloadqr_one" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 bottomclass  mobileimgdiv">
                    <img class="img-fluid mobileimg" src="../../assets/homepage/mobile.png" alt="mobile_one" title="mobile_one" />
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>



    <div class="accordianclass faqsaccordian ms-5 me-5">

        <h2 class="wp-block-heading has-text-align-center">FAQs</h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">Are your
                                        physiotherapists
                                        licensed?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Yes, all our staff are certified and well-trained to
                                        perform their task following
                                        standard procedures.&nbsp;&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>


                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <h5 id="at-658" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-658" aria-expanded="false">Do I have to show a
                                        doctor’s reference or
                                        therapy?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, you don’t need a doctor’s referral. However, if
                                        you
                                        have any doubts or concerns, you
                                        can talk to our physiotherapist.&nbsp;</p>
                                </div>
                            </div>
                        </div>


                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>



                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <h5 id="at-659" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-659" aria-expanded="false">How many sessions will
                                        I
                                        need?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">The number of sessions depends on your specific
                                        treatment. Please talk to our therapist
                                        to determine the number of sessions required for your recovery.&nbsp;</p>
                                </div>
                            </div>
                        </div>



                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>



                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    <h5 id="at-6510" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6510" aria-expanded="false">What should I expect
                                        in
                                        my first therapy
                                        session?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Our primary focus is on helping you improve your
                                        well-being. In your first session, our
                                        therapist will assess your health condition, understand your health issue, and
                                        conduct a
                                        checkup to identify the root cause of your condition. They will provide you with
                                        a
                                        clear
                                        explanation, advice, and recommendations tailored to your individual needs.
                                        Therapists
                                        will help you understand your question or any queries regarding your health
                                        condition
                                        and/or treatment.&nbsp;</p>
                                </div>
                            </div>
                        </div>



                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>



                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    <h5 id="at-6511" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6511" aria-expanded="false">What should I wear
                                        for
                                        therapy?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We recommend wearing loose and comfortable clothing
                                        for
                                        therapy, but our therapist will
                                        provide more specific recommendations depending on the area of treatment.&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>



                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    <h5 id="at-6512" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6512" aria-expanded="false">Can I
                                        cancel/reschedule
                                        my session?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Yes, you can cancel or reschedule your therapy
                                        session.
                                        You can find the option to cancel
                                        and reschedule your session under your order status.&nbsp;</p>
                                </div>
                            </div>
                        </div>


                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>


                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                    <h5 id="at-6512" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6513" aria-expanded="false">In case of injury,
                                        how
                                        soon should I see a
                                        physiotherapist?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We recommend seeing a therapist as soon as possible.
                                        However, if you have recently
                                        undergone surgery, our therapist will advise you on when you should start your
                                        physiotherapy. For more detailed information and personalized recommendations,
                                        please
                                        book a session with our therapist now.&nbsp;</p>
                                </div>
                            </div>
                        </div>


                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
</div>