<div class="transitioncaremaindiv ms-5 me-5">
    <div class="hospitalizationdiv">
        <div class="container">
            <h1 class="font_h2 wp-block-heading has-text-align-center mb-3">Exceptional Post-hospitalization Care</h1>
            <h1 class="font_h2 wp-block-heading has-text-align-center has-text-color color967CFF">Your Healing Space</h1>
            <div class="emptyheightdiv"></div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img class="img-fluid" src="../../assets/transitioncare/imgone.png" alt="transitioncare_ione" title="transitioncare_ione" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 ">
                    <p class="paragraphlineheight">Experience exceptional post-hospitalization care at HealthOnUs
                        center.
                        Our
                        specialized nursing specialists and therapists provide personalized transitional care plans,
                        accelerating your recovery and minimizing hospital readmissions.</p>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
                    <div class="buttonhovercss alignstart">
                        <li><a class="wp-block-button__link wp-element-button has-text-align-start"
                                [routerLink]="['/contact-us']">Contact Us</a></li>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <h2 class="wp-block-heading has-text-align-center has-text-color color967CFF">Holistic Support for
        Seamless Health Transitions</h2>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
    <div class="container holisticsupport">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 firstcol p-5">
                <p class="paragraphlineheight">Health issues of individuals can disrupt an entire family’s routine and
                    quality of life. If you have a
                    loved one who requires special care, consistent monitoring, and proper medication care, we can help.
                    Our
                    trained healthcare professionals can assist you in managing the situation, reducing mental and
                    physical
                    stress for you and your loved ones.</p>
                <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                <div class="buttonhovercss alignstart">
                    <li><a class="wp-block-button__link wp-element-button has-text-align-start"
                            [routerLink]="['/about-us']">Know more</a></li>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img class="img-fluid" src="../../assets/transitioncare/imgtwo.png" alt="transitioncare_itwo" title="transitioncare_itwo" />
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="container">
        <h2 class="wp-block-heading has-text-align-left has-text-color color967CFF">From Hospital to Healing
        </h2>
        <h3 class="wp-block-heading">When to Seek Transitional Care</h3>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="transitionalcare">
        <div class="container">
            <div class="row firstdiv">
                <div class="col-lg-4 col-sm-12 col-md-4 firstcol">
                    <img src="../../assets/transitioncare/imgthree.png" alt="transitioncare_ithree" title="transitioncare_ithree" />
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 firstcol">
                    <img src="../../assets/transitioncare/imgfour.png" alt="transitioncare_ifour" title="transitioncare_ifour" />
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 thirdcol">
                    <img src="../../assets/transitioncare/imgfive.png" alt="transitioncare_ifive" title="transitioncare_ifive" />
                </div>
                <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                        <img class="img-fluid" src="../../assets/transitioncare/arrow.png" alt="transitioncare_isix" title="transitioncare_isix" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                        <img class="img-fluid" src="../../assets/transitioncare/arrow.png" alt="transitioncare_iseven" title="transitioncare_iseven" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 my-2">
                        <p class="has-text-align-center">Complete your surgery at<br>Hospital.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 my-2">
                        <p class="has-text-align-center">Recover at our<br>care center.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 my-2">
                        <p class="has-text-align-center">Monitored by our<br>Transitional care team<br>until fully
                            recovered.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transitioncare2">
        <div class="container">
            <div class="row seconddiv">
                <div class="col-lg-10 col-sm-12 secondcolum">
                    <p class="has-text-align-center">Recovering from a surgery, critical illness, or unexpected health
                        setback is a challenging journey. While hospitals focus on emergency treatment and discharge,
                        the immediate needs of patients following their hospital stay require careful consideration.
                        Patients are still struggling with the traumas, both physically and psychologically, even after
                        being deemed stable and ready for discharge.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div
            class="wp-block-columns has-background is-layout-flex wp-container-core-columns-layout-9 wp-block-columns-is-layout-flex bgf5f2ff">
            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                <h2 class="wp-block-heading has-text-align-center has-text-color color967CFF">The Rewarding
                    Experience of Transitional Care</h2>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container rightimg">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/transitioncare/imgsix.png" alt="transitioncare_ieight"
                        title="transitioncare_ieight" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Nursing Care</h3>
                    <p class="paragraphlineheight">Our dedicated nursing specialists provide comprehensive medical
                        supervision and health support,
                        empowering you to regain the physical and mental strength to resume your daily lives with
                        confidence.
                    </p>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container leftimg">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Physical Rehabilitation</h3>
                    <p class="paragraphlineheight">We specially take care of skeletal muscle strength and integrity
                        through physiotherapy techniques. It
                        will help you recover from temporary disabilities, prevent muscle dystrophy, and enable you to
                        gain
                        normal or near-normal function.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12  text-center">
                    title="" class="descriptionimg img-fluid" src="../../assets/transitioncare/imgseven.png" alt=""
                    title="" />
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container rightimg">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/transitioncare/imgeight.png" alt="transitioncare_inine"
                        title="transitioncare_inine" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Neurological Rehabilitation</h3>
                    <p class="paragraphlineheight">We specially focus on restoring speech ability and strengthening neck
                        muscles. Whether patients have
                        experienced a stroke or other neurological conditions affecting their communication skills, we
                        provide
                        comprehensive support and auditory assistance if needed.
                    </p>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container leftimg">
            <div class="row">
                <div class="col-lg-9 col-sm-12 col-md-9 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Medication Management</h3>
                    <p class="paragraphlineheight">Our team ensures proper medication intake, offering expert guidance
                        on medication suitability and
                        adherence to prescribed schedules for better recovery.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-3 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/transitioncare/imgnine.png" alt="transitioncare_iten"
                        title="transitioncare_iten" />
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container rightimg">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-3 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/transitioncare/imgten.png" alt="transitioncare_ieleven"
                        title="transitioncare_ieleven" />
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Diet Management</h3>

                    <p class="paragraphlineheight">We will help you plan your diet enriched with essential nutrients,
                        fostering a healthy living routine.
                        Our dedicated care support can help bedridden patients regain their mobility and enable them to
                        walk.
                    </p>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <div class="container leftimg">
            <div class="row">
                <div class="col-lg-9 col-sm-12 col-md-9 description p-4">
                    <h3 class="wp-block-heading has-text-align-center mb-3">Psychological Rehabilitation</h3>

                    <p class="paragraphlineheight">Traumatic experiences can result in post-traumatic stress disorder
                        (PTSD) and hinder a patient’s return
                        to a normal state of mind. Our top psychologists offer a range of therapies and counselling
                        sessions to
                        provide invaluable mental support to our patients.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-3 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/transitioncare/imgeleven.png" alt="transitioncare_itwelve"
                        title="transitioncare_itwelve" />
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div class="downloadclass">
        <div class="container">
            <app-common-download></app-common-download>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
</div>