<div class=" physiotherapymaindiv ms-5 me-5">
    <div class="physiointro">
        <div class="physioh2">
            <h2 class="has-text-align-center">
                Flexibility, Mobility, Recovery <br>Reclaim Your Life With Exceptional Physiotherapy
            </h2>
        </div>
        <img src="../../assets/physiotherapy/imgone.png" alt="physiotherapy_ione" title="physiotherapy_ione" />
        <div class="container">
            <div class="physiopara">
                <p class="has-text-align-center">“At HealthOnUs center, we understand the importance of a swift and
                    seamless recovery. Our highly skilled physiotherapists provide you with expert care tailored to
                    address your specific needs. With the right skills and extensive training, our physiotherapy team is
                    equipped to guide you through a comprehensive rehabilitation journey”.</p>
            </div>
        </div>
    </div>

    <div class="container">

        <h2 class="wp-block-heading"><span class="color6246D9">Embark on a Journey of Healing and
                Strength</span>
        </h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class=" proclaimclass">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 discriptiondiv">
                        <p class="curved_blue_bg paragraphlineheight para">At HealthOnUs center, our dedicated team of
                            physiotherapists possesses a wide range of expertise in
                            various techniques, from fundamental exercises to advanced modalities. With specialized
                            knowledge in
                            physiotherapy exercise, McKensie Technique, Cryotherapy, Taping, Manual Therapy, and more,
                            our
                            therapists are equipped to address diverse needs and conditions.</p>
                        <div class="buttonhovercss">
                            <li>
                                <a class="wp-block-button__link wp-element-button has-text-align-start"
                                    [routerLink]="['/contact-us']">Schedule Now</a>
                            </li>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 proclaimimg">
                        <img class="img-fluid" src="../../assets/careathome/imgeight.png" alt="careathome_itwo" title="careathome_itwo" />
                    </div>
                </div>
            </div>

        </div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <h2 class="wp-block-heading has-text-color color967CFF">Unlock Your Potential with Physiotherapy
            Expertise
        </h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <p>At HealthOnUs, our experienced and knowledgeable physiotherapists are equipped to assist you with a diverse
            range
            of physiotherapy sessions:</p>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div class="physiotherapyexpertise">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv">
                    <div class="Expertise colorone">
                        <img class="img-fluid" src="../../assets/physiotherapy/imgtwo.png" alt="physiotherapy_ithree" title="physiotherapy_ithree" />
                        <p class="has-text-align-center has-text-color paragraphlineheight color967CFF">
                            <strong>Neurological
                                Complications</strong>
                        </p>
                        <p class="paragraphlineheight alignstraight">Trust our physiotherapists to address issues
                            related to
                            Parkinson’s
                            disease, stroke, cerebral
                            palsy,
                            and
                            more. We employ specialized techniques to reduce symptoms and improve your quality of life.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv ">
                    <div class="Expertise colortwo">
                        <img class="img-fluid" src="../../assets/physiotherapy/imgthree.png" alt="physiotherapy_ifour" title="physiotherapy_ifour" />
                        <p class="has-text-align-center has-text-color paragraphlineheight color967CFF">
                            <strong>Orthopedic Issues</strong>
                        </p>
                        <p class="paragraphlineheight alignstraight">Say goodbye to complications caused by back pain,
                            flat
                            feet,
                            arthritis, and other Orthopedic
                            concerns.
                            Our physiotherapy interventions are designed to alleviate pain and restore optimal
                            functionality.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv colorone">
                    <div class="Expertise colorone">
                        <img class="img-fluid" src="../../assets/physiotherapy/imgfour.png" alt="physiotherapy_ifive" title="physiotherapy_ifive" />
                        <p class="has-text-align-center has-text-color paragraphlineheight color967CFF">
                            <strong>Cardiovascular Support</strong>
                        </p>
                        <p class="paragraphlineheight alignstraight">Ease your recovery from a heart attack or manage
                            chronic heart
                            disease with our targeted therapy and
                            exercises. We will help you regain strength, enhance cardiovascular fitness, and improve
                            overall
                            well-being.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv">
                    <div class="Expertise">
                        <img class="img-fluid" src="../../assets/careatcentre/sunflower.png" alt="sunflower_isix" title="sunflower_isix" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv ">
                    <div class="Expertise colortwo">
                        <img class="img-fluid" src="../../assets/physiotherapy/imgthree.png" alt="physiotherapy_iseven" title="physiotherapy_iseven" />
                        <p class="has-text-align-center has-text-color paragraphlineheight color967CFF">
                            <strong>Orthopedic Issues</strong>
                        </p>
                        <p class="paragraphlineheight alignstraight">Say goodbye to complications caused by back pain,
                            flat
                            feet,
                            arthritis, and other Orthopedic
                            concerns.
                            Our physiotherapy interventions are designed to alleviate pain and restore optimal
                            functionality.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 Expertisediv colorone">
                    <div class="Expertise">
                        <img class="img-fluid" src="../../assets/careatcentre/lightbrain.png" alt="lightbrain_ieight" title="lightbrain_ieight" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <h2 class="wp-block-heading has-text-align-center has-text-color color967CFF">The Significance of
            Physiotherapy&nbsp;</h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
    </div>
    <div class="significance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 significanceimg">
                    <img class="img-fluid" src="../../assets/physiotherapy/imgsix.png" alt="physiotherapy_inine" title="physiotherapy_inine" />
                </div>
            </div>
        </div>

    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="houcenterdiv">
        <h3 class="wp-block-heading has-text-align-center has-text-color color967CFF">Why Choose
            Physiotherapy at HealthOnUs Center?</h3>
        <div class="container houcenter">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 discriptiondiv">
                    <p class="paragraphlineheight para">At the Center, our in-house team of certified and
                        experienced physiotherapists is dedicated to your well-being. They will assess your health
                        concerns, create a personalized therapy plan, and work in harmony with your physician’s
                        medications. With the use of standard techniques and advanced equipment, we strive to
                        expedite
                        your recovery and provide guidance on the benefits, considerations, and necessary
                        precautions
                        throughout your treatment journey.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 houcenterimg">
                    <img class="img-fluid" src="../../assets/physiotherapy/imgseven.png" alt="physiotherapy_iten" title="physiotherapy_iten" />
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div class="downloadclass">
        <div class="container">
            <app-common-download></app-common-download>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="accordianclass">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h2 class="wp-block-heading has-text-align-center">FAQs</h2>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <h5 id="at-730" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-730" aria-expanded="false">When should I visit a
                                        doctor
                                        and when should I
                                        visit a physiotherapist? Can you suggest?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Severe injuries requiring medical or surgical
                                        treatment
                                        should be addressed by a
                                        doctor.
                                        Our certified physiotherapists at our center can assess the severity of your
                                        condition
                                        and guide you on the appropriate healthcare professional to consult.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <h5 id="at-731" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-731" aria-expanded="false">Are physiotherapists
                                        different
                                        from physical
                                        therapists?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, physiotherapists and physical therapists are the
                                        same. The terms are
                                        interchangeable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <h5 id="at-732" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-732" aria-expanded="false">Can your
                                        physiotherapists
                                        perform surgery?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, physiotherapists are not trained to perform
                                        surgery.
                                        They work collaboratively
                                        with
                                        other healthcare professionals and doctors to help prevent and heal from
                                        surgeries.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    <h5 id="at-733" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-733" aria-expanded="false">Will physiotherapists
                                        prescribe medicines?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">The authority to prescribe medicines varies based on
                                        location and medical boards.
                                        Some
                                        physiotherapists may have licenses to prescribe pain-relieving medications.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    <h5 id="at-734" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-734" aria-expanded="false">When should I visit an
                                        HealthOnUs
                                        physiotherapist?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">If you experience persistent pain for more than three
                                        days that affects your mobility
                                        and
                                        range of motion, it is advisable to schedule a physiotherapy session to aid your
                                        recovery.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    <h5 id="at-735" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-735" aria-expanded="false">What are the
                                        specialities
                                        of
                                        our physiotherapy?
                                    </h5>
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">At HealthOnUs, our physiotherapists cover a
                                        comprehensive
                                        range of therapies such as
                                        cardio-respiratory conditions, musculoskeletal issues, oncology, neurological
                                        complaints, sports-related injuries, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>

</div>