<div class="careat">
  <div class="img">
    <img [src]="environment?.websiteassetsURL + 'center_image_careathomephysio (2).png'" alt="center_image_ione"
      title="center_image_ione" />
    <div class="bottom-left fs-2 color313131">
      Extensive rehab and recovery at home
    </div>
    <h1 class="bottom-left2 color031B4E">Physiotherapy Services</h1>
  </div>
  <div>
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-9 my-2 align-self-center container text-center">
        <div class="emptyheightdivhundred">
          <h2>Physiotherapy Services</h2>
        </div>
        <p class="aboutp paddingleftright">
          Regain your flexibility and mobility and recover from complex health
          conditions with our customer-centric, home-based physiotherapy
          services. Our expert therapists will work with you to build an
          effective therapy plan tailored to your specific needs, allowing you
          to enjoy your recovery in the comfort of your own home. If you are
          seeking high-quality, personalized, and convenient physiotherapy care,
          we are here to help you achieve your goals and enhance your quality of
          life.
        </p>
      </div>
    </div>
  </div>
  <div>
    <!--nmew-->
    <div class="container">
      <div class="services_desc">
        <div class="font_h4ortho">
          Orthopaedic or Musculoskeletal
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'physiotherapy/Orthopaedic-Musculoskeletal.svg'"
                  alt="Orthopaedic_itwo" title="Orthopaedic_itwo" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span>Spine Conditions</span>
                      </li>

                      <li>
                        <span>Shoulder, Elbow and Hand</span>
                      </li>

                      <li class="pad-none">
                        <span> Hip, Knee and Ankle</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <div class="font_h4ortho">
            General well-being, Pregnancy and Elderly care
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'physiotherapy/elderly-care.svg'"
                    alt="elderly_care_ithree" title="elderly_care_ithree" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li>
                          <span> Gynaecology & Obstetrics</span>
                        </li>
                        <li>
                          <span> Geriatrics</span>
                        </li>
                        <li class="pad-none">
                          <span> General Well Being or Physical Fitness</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <div class="font_h4ortho">
            Cardio and Respiratory
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'physiotherapy/cardio-respiratory.svg'"
                    alt="cardio_respiratory_ifour" title="cardio_respiratory_ifour" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li>
                          <span> Cardiothoracic</span>
                        </li>

                        <li class="pad-none">
                          <span>Respiratory</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <div class="font_h4ortho">
            Neurological and Paediatric
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'physiotherapy/neurolgical-Paediatric.svg'"
                    alt="neurolgical_ifive" title="neurolgical_ifive" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li>
                          <span> Neurological Conditions</span>
                        </li>
                        <li class="pad-none">
                          <span>Paediatrics</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <div class="font_h4ortho">
            Sports
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row pad-a">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'physiotherapy/sports.svg'" alt="sports_isix"
                    title="sports_isix" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li class="pad-none">
                          <span>Sports</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <div class="font_h4ortho">
            General Physiotherapy
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row pad-a">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'physiotherapy/general-physiotherapy.svg'"
                    alt="general_physiotherapy_iseven" title="general_physiotherapy_iseven" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <ul>
                        <li>
                          <span> Physiotherapy service</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <p class="about_footer">
          Our highly skilled <strong>physiotherapists</strong> provide you with expert care tailored to address your
          specific needs. With
          the right skills and extensive training, our physiotherapy team is equipped to guide you through a
          comprehensive rehabilitation journey. We have expertise in various techniques, from fundamental exercises to
          advanced modalities. With specialized knowledge in physiotherapy exercise, McKensie Technique, Cryotherapy,
          Taping, Manual Therapy, and more, our therapists are equipped to address diverse needs and conditions.
        </p>
      </div>
    </div>
  </div>
</div>
<!--processflow and download-->
<div class="darkbgsblue">
  <div class="container">

    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">Download</div>
        <div class="step-desc">Download from app store/play store</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">Register</div>
        <div class="step-desc">Register with your mobile number or email ID</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">3</div>
        <div class="step-name">Select Service</div>
        <div class="step-desc">Choose any of our services</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">4</div>
        <div class="step-name">Enjoy</div>
        <div class="step-desc">Get care at your comfort of home</div>
      </div>
    </div>
    <div class="downloadmbapp text-center">
      <li>
        <a class="wp-block-button__link wp-element-button has-text-align-start" (click)="popupopen()">Download Mobile
          App</a>
      </li>
    </div>
  </div>

  <div *ngIf="display">
    <app-modal-popup></app-modal-popup>
  </div>
</div>
<!--processflow and download ends-->

<!--faq's-->
<div class="bg6B">

  <p class="fs-2 fontw600 text-white text-center">Frequently Asked Questions</p>

  <div class="contactusfaq">
    <div class="container faq_pad">
      <div class="accordion accordion-flush" id="faqlist1">
        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-1">
              Are your physiotherapists licensed?
            </button>
          </div>
          <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              Yes, all our staff are certified and well-trained to perform their
              task following standard procedures.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-2">
              Do I have to show a doctor’s reference or therapy?
            </button>
          </div>
          <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              No, you don’t need a doctor’s referral. However, if you have any
              doubts or concerns, you can talk to our physiotherapist.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-3">
              What should I wear for therapy?
            </button>
          </div>
          <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              We recommend wearing loose and comfortable clothing for therapy,
              but our therapist will provide more specific recommendations
              depending on the area of treatment.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-4">
              How many sessions will I need?
            </button>
          </div>
          <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              The number of sessions depends on your specific treatment. Please
              talk to our therapist to determine the number of sessions required
              for your recovery.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-5">
              What should I expect in my first therapy session?
            </button>
          </div>
          <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              Our primary focus is on helping you improve your well-being. In
              your first session, our therapist will assess your health
              condition, understand your health issue, and conduct a checkup to
              identify the root cause of your condition. They will provide you
              with a clear explanation, advice, and recommendations tailored to
              your individual needs. Therapists will help you understand your
              question or any queries regarding your health condition and/or
              treatment.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-6">
              Can I cancel/reschedule my session?
            </button>
          </div>
          <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              Yes, you can cancel or reschedule your therapy session. You can
              find the option to cancel and reschedule your session under your
              order status.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-7">
              In case of injury, how soon should I see a physiotherapist?
            </button>
          </div>
          <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              We recommend seeing a therapist as soon as possible. However, if
              you have recently undergone surgery, our therapist will advise you
              on when you should start your physiotherapy. For more detailed
              information and personalized recommendations, please book a
              session with our therapist now.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--faq's ends-->