<div class="sitemap">
        <div class="firstsection">
                <div aria-hidden="true" class="emptyheightdiv"></div>
                <h1 class="text-center font_h2">One-Stop Solution for All Your <span class="sitemaphealthcare">
                                Healthcare</span> Needs</h1>
                <div aria-hidden="true" class="emptyheightdiv"></div>
        </div>
        <div class="secondsection">
                <div class="container">
                        <div class="row position-relative">
                                <div class="col-sm-12 col-md-6">
                                        <figure class="wp-block-image size-full">
                                                <img src="../../../assets/aboutus/whyusladydoctor.png"
                                                        alt="whyusladydoctor_ione" class="img-fluid" title="whyusladydoctor_ione" />
                                        </figure>
                                </div>
                                <div class="col-sm-12 col-md-6 imagetext position-absolute ">
                                        <p>Whether you require medications, therapy sessions,
                                                or nursing care during your recovery from surgery or
                                                accidents, HealthOnUs healthcare is your all-in-one
                                                destination. We provide comprehensive healthcare
                                                support tailored to your specific needs, ensuring
                                                convenience and efficient care in one place.</p>
                                </div>
                        </div>
                        <div class="emptyheightdivhundred"></div>
                        <div class="row">
                                <div class="container">
                                        <div class="col-sm-12 col-md-6 col-md-6">
                                                <div class="emptyheightdiv"></div>
                                                <ul class="wp-block-page-list">
                                                        <li><a href="#" [routerLink]="['/about-us']">About
                                                                        Us</a>
                                                                <ul class="wp-block-navigation__submenu-container">
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/why-us']">Why
                                                                                        Us</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li><a href="#" [routerLink]="['/care-at-center']">Care
                                                                        at Center</a>
                                                                <ul class="wp-block-navigation__submenu-container">
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/center-nursing-care']">Nursing
                                                                                        Care</a></li>
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/center-pharmacy']">Pharmacy</a>
                                                                        </li>
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/center-physiotherapy']">Physiotherapy</a>
                                                                        </li>
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/transition-care']">Transition
                                                                                        Care</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li><a href="#" [routerLink]="['/care-at-home']">Care
                                                                        at Home</a>
                                                                <ul class="wp-block-navigation__submenu-container">
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/home-nursing-care']">In-Home
                                                                                        Nursing Care</a>
                                                                        </li>
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/physiotherapy']">In-Home
                                                                                        Physiotherapy</a></li>
                                                                        <li class="wp-block-pages-list__item "><a
                                                                                        href="#"
                                                                                        [routerLink]="['/home-pharmacy']">Online
                                                                                        Pharmacy</a></li>
                                                                </ul>
                                                        </li>
                                                        <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/careers']">Careers</a></li>
                                                        <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/contact-us']">Contact Us</a>
                                                        </li>
                                                        <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/frequently-asked-questions']">Frequently
                                                                        Asked Questions</a>
                                                        </li>
                                                        <li class="wp-block-pages-list__item menu-item-home"><a href="#"
                                                                        [routerLink]="['/home']">Home</a>
                                                        </li>
                                                        <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/privacy-policy']">Privacy
                                                                        Policy</a></li>
                                                        <li class="wp-block-pages-list__item current-menu-item"><a
                                                                        href="#" [routerLink]="['/sitemap']"
                                                                        aria-current="page">Sitemap</a></li>
                                                        <!-- <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/products-sms-api']">SMS
                                                                        API</a></li> -->
                                                        <li class="wp-block-pages-list__item"><a
                                                                        [routerLink]="['/snap-to-fame']" href="#">Snap
                                                                        To
                                                                        Fame</a></li>
                                                        <li class="wp-block-pages-list__item"><a href="#"
                                                                        [routerLink]="['/terms-and-conditions']">Terms
                                                                        and Conditions</a></li>
                                                </ul>
                                                <div class="emptyheightdivseventy"></div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>