<!-- <div class="pageNotFound py-100 text-center">
    <img [src]="environment?.websiteassetsURL + '404errorpageimg.png'" alt="404errorpageimg_ione" title="404errorpageimg_ione" class="img-fluid">
    <div class="emptyheightdivthirty"></div>
    <h1 class="mt-3 pagegotlost">
        Sorry, it looks like the page get lost
    </h1>
    <div class="emptyheightdivten"></div>
    <h5 class="someonestole">
        (or someone has stolen it recently)
    </h5>
    <div class="emptyheightdivthirty"></div>
    <a class="btn btn-brand" [routerLink]="['/']">Back to Home</a>
</div> -->


<section class="py-100 page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 error_gif">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>
                        <p>the page you are looking for not available!</p>
                        <a href="" [routerLink]="['/']" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>