<div class="nursing-care text-break">
    <div class="section first-section">
        <div class="container">
            <div class=" mb-28 py-57">
                <h1 class="text-center mb-48 fw-700">Empathetic Nursing Care
                    <!-- <br> -->
                    <span class="nursing-brandColor fw-700">An efficient way to recovery</span>
                </h1>
                <div class="row gx-0">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 ">
                        <p class="mb-5">At HealthOnUs, we prioritize compassion and strive to ensure that every
                            patient’s
                            recovery journey is pleasant and stress-free with our world-class nursing care. Our
                            comprehensive range of patient care services combines the expertise of nursing specialists,
                            physiotherapists, pharmacists, and doctors to facilitate your healing process and help you
                            regain your health. Trust us to provide the utmost care and support during your journey to
                            wellness.</p>
                        <div class="justify-content-between">
                            <div>
                                <button class="btn brand-bgcolor contact-us" [routerLink]="['/contact-us']">
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <figure class="nursing-sec-1-img text-center">
                            <img class="img-fluid" src="../../../assets/nursing-care/Objects-1-1.png" alt="Objects_ione" title="Objects_ione">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="second-section p-5 ">
        <div class="container">
            <h2 class="text-center fw-700 m-0">We care. We help. We serve.</h2>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="third-section mx-3">
        <div class="container">
            <h3 class="nursing-brandColor m-0 fw-700">
                Personalized Nursing Care
            </h3>
            <strong class="m-0">Exceptional Services Tailored to Your Needs</strong>
            <div class="emptyheightdivthirty"></div>
            <div class="row mb-28">
                <div class="col-sm-12 col-md-6 col-xl-8 p-5 bg-gray">
                    <p>From comprehensive healthcare to basic nursing assistance, our custom nursing care services are
                        designed to cater to your specific requirements. Our dedicated team of highly skilled in-house
                        nursing specialists delivers exceptional care with personalized attention. Rest assured, we
                        strive to provide you with the highest level of support and ensure that you receive the best
                        care possible.<br>Schedule your visit today and discover the difference with our exceptional
                        nursing care services.
                    </p>
                    <div class="justify-content-between">
                        <button class="btn brand-bgcolor contact-us mt-3" [routerLink]="['/home']">
                            Explore More
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4 p-4">
                    <figure class="nursing-sec-1-img m-0 text-center">
                        <img class="img-fluid" src="../../../assets/nursing-care/Group-1171275004.png" alt="Group_itwo" title="Group_itwo">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="container">
        <hr>
        <div class="emptyheightdiv"></div>
        <h3 class="nursing-brandColor fw-700">We Pledge to Care</h3>
        <div class="emptyheightdivthirty"></div>
    </div>
    <div class="section third-section ">
        <div class="container">
            <div class="py-57 mb-28">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <ul class="ticklist">
                            <li>To provide quality and personalized care to each patient, ensuring their individual
                                needs aremet.</li>
                            <li>To create a safe, comfortable, and pleasant environment to maximize well-being and
                                happiness.
                            </li>
                            <li>To deliver timely and accurate assessment of illnesses, coupled with ongoing treatment
                                and care.
                            </li>
                            <li>To educate patients and their attendants on health matters, empowering them with
                                valuable
                                knowledge.</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-5">
                        <figure class="nursing-sec-1-img m-0 text-center">
                            <img class="img-fluid" src="../../../assets/nursing-care/Group-1171275005.png" alt="Group_ithree"
                                title="Group_ithree">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="emptyheightdiv"></div>
        <hr>
        <div class="emptyheightdiv"></div>
        <h3 class="nursing-brandColor fw-700 text-center m-0">Explore the Possibilities</h3>
        <div class="emptyheightdiv"></div>
    </div>
    <div class="section fourth-section">
        <div class="container">
            <div class="py-57">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8">
                        <ul class="handlist text-white">
                            <li>Struggling to manage medication and healthcare at your home?</li>
                            <li>Want to avoid hospital admission or readmission?</li>
                            <li>Are seeking a nursing care with a peaceful and welcoming facility?</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <figure class="nursing-sec-4-img m-0 text-center">
                            <img class="img-fluid" src="../../../assets/nursing-care/Group-1171274898.png" alt="Group_ifour"
                                title="Group_ifour">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fifth-section position-relative">
        <div class="container">
            <div class="mx-3">
                <div class="row ">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-7 p-5 bg-gray br-20">
                        <p>At HealthOnUs Care Center, you can expect top-notch nursing care from our team of nursing
                            specialists. They are dedicated to helping you recover sooner by providing a comfortable and
                            homely environment away from home. We are committed to enhancing the quality of healthcare,
                            fostering healing, and well-being.</p>
                        <button class="btn brand-bgcolor contact-us mt-3" [routerLink]="['/why-us']">
                            Read more...
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
                        <figure class="nursing-sec-5-img m-0 text-center">
                            <img class="img-fluid" src="../../../assets/nursing-care/Group-1171275006.png" alt="Group_isix"
                                title="Group_isix">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div class="sixth-section">
        <div class="downloadclass">
            <div class="container">
                <app-common-download></app-common-download>

            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <div class="faq">
        <div class="container">
            <h2 class="text-center fw-700">FAQs</h2>
            <div class="emptyheightdivthirty"></div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">What are the charges for nursing care at
                            HealthOnUs Care Center?</h5>
                    </button>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">The charges for nursing care vary depending on your specific
                                requirements. Please book an appointment to get detailed information about the pricing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">How can I be assured that the nursing
                            specialists at your centers are trustworthy?</h5>
                    </button>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">All staff members at our center undergo rigorous training and
                                certification processes. We prioritize patient satisfaction and carefully select and
                                onboard our staff members based on their skills and behavior.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">Are the nursing specialists and staff members
                            employed directly by HealthOnUs or through a third-party contract?
                        </h5>
                    </button>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">All our staff members are employed directly by HealthOnUs. We
                                do not involve any third-party or contractual processes for staff hiring and onboarding.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">Are all staff members verified? If yes, how do
                            you perform the verification?</h5>
                    </button>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">We conduct thorough background checks and police verification
                                for all our staff members before hiring them. This ensures the trustworthiness and
                                reliability of our team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
</div>