<div class="container ">
    <div class="text-center aboutus_header">
        <h1 class="rgbaclr">About HealthOnUs</h1>
        <p class="color797979 fontw400">Discover a World of Care With Us</p>


    </div>
    <div class="mr-3">

        <img [src]="environment?.websiteassetsURL + 'about_us/aboutus_1_1.png'" alt="aboutus_imgone"
            title="aboutus_imgone" class="img-fluid">

    </div>
    <!-- <div class="ourstory">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="fs-2 color242331 fontw600">Empowering Your Health
                    Journey</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p class="color797979 fontw400" style="text-align: justify !important;">
                    HealthOnUs offers certified and experienced in-house staff for Homecare and Transition care
                    services, ensuring convenient and highquality care at your doorstep. Our services are seamlessly
                    integrated with technology, allowing you to easily book and track every step of your service.
                </p>
                <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                <p class="color797979 fontw400" style="text-align: justify !important;">Established in 2022, we have
                    dedicated ourselves to pioneering innovative and futuristic solutions.
                    Our expertise spans across healthcare solutions, product development, mobile app development, and IT
                    services.</p>
            </div>
        </div>
    </div> -->
</div>



<div class="darkgb mt18">
    <div class="container-fluid">
        <div class="row gapb">
            <div class="col-sm-12 col-md-3 sideborders">
                <div class="d-flex align-items-end">
                    <figure class="mx-3">
                        <img [src]="environment?.websiteassetsURL + 'about_us/1000+services.svg'" alt="services_imgtwo"
                            class="img-fluid" title="services_imgtwo">
                    </figure>
                    <div class="">
                        <p class="text-white fontw600 fs25px">1000 +</p>
                        <div class="text-white font_h5">Services completed</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="d-flex align-items-center sideborders">
                    <figure class="mx-3">
                        <img [src]="environment?.websiteassetsURL + 'about_us/200+healthcare.svg'"
                            alt="healthcare_imgthre" class="img-fluid" title="healthcare_imgthre">
                    </figure>
                    <div class="">
                        <p class="text-white fontw600 fs25px">300 +</p>
                        <div class="text-white font_h5">Healthcare personal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="d-flex align-items-center sideborders">
                    <figure class="mx-3">
                        <img [src]="environment?.websiteassetsURL + 'about_us/50+transition.svg'" alt="transition_ifour"
                            class="img-fluid" title="transition_ifour">
                    </figure>
                    <div class="">
                        <p class="text-white fontw600 fs25px">40 +
                        </p>
                        <div class="text-white font_h5">Transitional care beds</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="d-flex align-items-center sideborders">
                    <figure class="mx-3">
                        <img [src]="environment?.websiteassetsURL + 'about_us/20+pharma.svg'" alt="pharma_ifive"
                            class="img-fluid" title="pharma_ifive">
                    </figure>
                    <div class="">
                        <p class="text-white fontw600 fs25px">10 + </p>
                        <div class="text-white font_h5">Pharmacy stores</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--our journey-->
<div class="ourlocations">
    <div class="container">

        <div class="text-center fs-1 font_h1 fontw600 color161616">
            Our Journey
        </div>

        <p class="text-center color3E3E3E fontw400">The timeline encapsulates
            our journey,
            reflecting our growth, achievements, and relentless
            pursuit of providing top-notch services to our clients. </p>

        <!-- <div class="newcarousel">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'about_us/timeline.png'" alt="" class="img-fluid">
            </figure>
        </div> -->

        <div>
            <ul class="timeline">
                <!-- Item 1 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Jan 2022</span></span>
                        </div>
                        <div class="desc">The inception of the HealthOnUs app, a brainchild of healthcare and tech
                            maestros, marked the beginning of our journey.</div>
                    </div>
                </li>

                <!-- Item 2 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Jul 2023</span></span>
                        </div>
                        <div class="desc">The soft launch of the HealthOnUs app took place, introducing our homecare
                            services to communities.</div>
                    </div>
                </li>

                <!-- Item 3 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Aug 2023</span></span>
                        </div>
                        <div class="desc">We hit the ground running with the full-fledged commencement of our Homecare
                            services in the cities of Hyderabad and Visakhapatnam.</div>
                    </div>
                </li>

                <!-- Item 4 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Sep 2023</span></span>
                        </div>
                        <div class="desc">A significant milestone was achieved with the successful completion of 100
                            services, a testament to our commitment and dedication.</div>
                    </div>
                </li>
                <!-- Item 5 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Oct 2023</span></span>
                        </div>
                        <div class="desc">The expansion of our footprint continued with the inauguration of new centers
                            in Hyderabad.</div>
                    </div>
                </li>
                <!-- Item 6 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Nov 2023</span></span>
                        </div>
                        <div class="desc">Furthering our reach, we inaugurated new centers in Visakhapatnam, bringing
                            our
                            services closer to the people</div>
                    </div>
                </li>
                <!-- Item 7 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Dec 2023</span></span>
                        </div>
                        <div class="desc">The year ended on a high note with establishment of the operation team.</div>
                    </div>
                </li>
                <!-- Item 8 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="hexa"></span>
                            <span class="time-wrapper"><span class="time">Feb 2024</span></span>
                        </div>
                        <div class="desc">Grand launch of the HealthOnUs App by Shri Pawan Kalyan</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<!--our journey ends-->

<!--missionvission-->
<div class="darkgb pr-3">
    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-6 my-2">
                <div class="custom-border missionvisiohover bg614BA5">
                    <div class="d-flex align-items-center">

                        <img [src]="environment?.websiteassetsURL + 'about_us/mission_aboutus.svg'"
                            alt="mission_aboutusisix" class="img-fluid" title="mission_aboutusisix">


                        <span class="fs-2 text-white fontw600">Mission</span>
                    </div>

                    <p class="fontw400 text-white">
                        To deliver a superior healthcare services experience beyond traditional hospital settings to
                        residences
                        and communities. By consolidating all healthcare services under one roof, we strive to assist
                        individuals on their health journey with an abundance of love and the care they deserve.
                    </p>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
                <div class="custom-border missionvisiohover bg614BA5">
                    <div class="d-flex align-items-center">

                        <img [src]="environment?.websiteassetsURL + 'about_us/vision_aboutus.svg'"
                            alt="vision_aboutusiseven" class="img-fluid" title="vision_aboutusiseven">

                        <span class="fs-2 text-white fontw600">Vision</span>
                    </div>

                    <p class="fontw400 text-white m-0">
                        To create a world where people won’t have to compromise on the quality of care they need. We
                        want to
                        emerge as a robust healthcare provider that caters to everyone’s needs for a healthy and happy
                        life,
                        powered by cutting-edge technology, and steered by a strong set of values.
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>
<!--missionvission ends-->

<!--locations-->
<div class="container">

    <div class="text-center alignitemscenter wellness">
        <div class="color050D40 font_h1wellness fontweight700">
            Our Wellness Hubs Near You
        </div>
        <!-- <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div> -->
        <p class="text-center widtheighty color3E3E3E">
            We operate multiple centers in Hyderabad and Vishakhapatnam, with a mission to soon expand nationwide.
        </p>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="row spoke_padding">
                <!-- <p class="text-center color000 fontw600">
                    Hyderabad
                </p> -->
                <div class="back hydlocation">
                    <div class="text-center font_h3 color000 fontw600 spokes">
                        Hyderabad Spokes
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 colorb spoleslist">
                    <ul>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span
                                class="fontw600">Suchitra</span></li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span
                                class="fontw600">Miyapur</span></li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span class="fontw600">KPHB</span>
                        </li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span
                                class="fontw600">Panjagutta</span></li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span class="fontw600">Vidya
                                Nagar</span></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 otherhydlocations colorb spoleslist">
                    <ul>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span class="fontw600">LB
                                Nagar</span></li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span
                                class="fontw600">Uppal</span></li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i> <span class="fontw600">ECIL</span>
                        </li>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span class="fontw600 asroad">A.S.
                                Rao Nagar</span></li>
                        <li class="bt-none"><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span
                                class="fontw600">Madhapur</span></li>
                    </ul>
                </div>
            </div>

            <div class="row spoke_padding">
                <div class="back vizaglocation">
                    <div class="text-center font_h3 color000 fontw600 spokes">
                        Visakhapatnam Spokes
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 colorb spoleslist">
                    <ul>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span class="fontw600">Murali
                                Nagar</span></li>
                        <li> <i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span class="fontw600">Sujata
                                Nagar</span></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 colorb spoleslist">
                    <ul>
                        <li><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span
                                class="fontw600">Gajuwaka</span></li>
                        <li class="bt-none"><i class="fa-solid fa-location-dot fa-lg colo6B53B6"></i><span
                                class="fontw600">Madhurawada</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-1 pt20px">

            <img [src]="environment?.websiteassetsURL + 'about_us/Map With Locations.png'" alt="about_us_ieight"
                class="img-fluid" title="about_us_ieight">

        </div>
    </div>
</div>
<!--locations ends-->

<!--be a part of future healthcare-->
<div class="container">
    <div class="bglightpink bglightpinkpadding text-center">
        <div class="text-center font_h1beapart fontw600">
            Be a Part of Future of HealthCare
        </div>

        <p class="mx-2 fontw400">Whether you’re a tech
            enthusiast, marketing
            expert, or healthcare specialist, let’s unite to create the most robust and exceptional
            technology-enabled
            healthcare community.
        </p>


        <div class="viewopenrolesbtn mt-4">
            <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                    [routerLink]="['/careers']">Join Us</a></li>
        </div>

    </div>
</div>
<!--be a part of future healthcare ends-->
<app-common-download></app-common-download>