<div class="nursing">
    <!--firstsection-->
    <div class="firstsection p-5 mb-28">
        <div class="">
            <h2 class="text-center topcap">Proficient and Compassionate<br><span class="homenursingcare">Home Nursing
                    Care</span></h2>
        </div>
    </div>
    <div class="container">
        <!--secondsection-->
        <div class="secondsection">
            <div class="row">
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <div class="col-sm-12 col-md-6 col-md-6">
                    <p class="rounded_div">Experience a faster recovery with our exceptional home nursing care services,
                        tailored to meet all your comprehensive needs for patient care. Our team of skilled
                        professionals
                        will ensure you receive the highest quality of care in the comfort of your home.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-md-6 flexbasis">
                    <div class="wp-block-image">
                        <img fetchpriority="high" class="wheelchairman" src="../../../assets/careathome/wheelchair.png"
                            alt="wheelchair_ione" sizes="(max-width: 833px) 100vw, 833px" title="wheelchair_ione">
                    </div>
                </div>
            </div>
        </div>
        <!--thirdsection-->
        <div class="thirdsection">
            <div>
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <h2 class="wp-block-heading has-text-align-center">Personalized <span class="nursincareathome">Nursing
                        Care
                        at
                        Home</span></h2>
                <p class="backgroud border">Health issues of individuals can disrupt an entire family’s routine
                    andquality of life.If you have a loved one who requires specialized care,
                    constant monitoring, and medication management, we can help. Our team of trained medical
                    professionals can assist you in managing the
                    situation, reducing mental and physical stress for you and your loved ones. Our in-house nursing
                    staff will work closely with your family to
                    develop a personalized care plan that promotes your health and well-being.</p>
            </div>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <div class="row mb-28 justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                    <div class="col-bg backgroundblue  p-5">
                        <div class="emptyheightdivten"></div>
                        <p>Rest assured that your loved one is in good hands and will receive the highest
                            quality care,
                            allowing you
                            to spend quality time together and enjoy life to the fullest.</p>
                        <div class="emptyheightdivthirty"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                    <div class="col-bg backgroundblue p-5">
                        <div class="emptyheightdivten"></div>
                        <p>We offer both short-term and long-term nursing care services to suit your needs. If
                            you’re uncertain about how long you’ll require nursing care, we can help you customize
                            your care plan accordingly.</p>
                        <div class="emptyheightdivthirty"></div>
                    </div>

                </div>
            </div>
        </div>
        <!--fourth-->
        <div class="fourthsection">
            <div class="row">
                <div aria-hidden="true" class="emptyheightdiv"></div>
                <div class="col-sm-12 col-md-6">
                    <img src="../../../assets/careathome/ladywheelchair.png" alt="ladywheelchair_itwo" class="ladywheel"
                        sizes="(max-width: 621px) 100vw, 621px" title="ladywheelchair_itwo">
                </div>
                <div class="col-sm-12 col-md-6 pl10">
                    <h2 class="wp-block-heading topcap">Who Can Get Benefits of Nursing <br>
                        <span>Care at Home?</span>
                    </h2>
                    <div aria-hidden="true" class="emptyheightdivthirty"></div>
                    <ul class="ticklist">
                        <li>
                            Elderly people who need special care and want to maintain
                            their independence in home while receiving professional nursing care.
                        </li>
                        <li>Post-surgical patients need supervision and help during their
                            recovery.</li>
                        <li>
                            Individuals living with chronic illnesses, disabilities, or diseases such
                            as heart failure,kidney disease, dementia, etc., who need ongoing
                            care and monitoring without hospitalization.
                        </li>
                        <li>Patients who need medical equipment and medication monitoring
                            for their undergoing treatment
                        </li>
                        <li>
                            New mothers require specialized care for themselves and their
                            babies to support their health and well-being.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <h2 class="wp-block-heading has-text-align-center">Benefits of Nursing <span class="careathome">Care at
                Home</span></h2>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <!--fifth section-->
        <div class="fifthsection">
            <div class="row position-relative">
                <div class="col-sm-12 col-md-6 text-center">
                    <figure class="wp-block-image size-full">
                        <img src="../../../assets/careathome/ladydoctor.png" alt="ladydoctor_ithree"
                            class="img-fluid widthheight" title="ladydoctor_ithree" />
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 imagetext position-absolute ">
                    <p>Our highly trained and experienced nursing
                        specialists are equipped to provide top-notch
                        healthcare assistance to patients in need. We
                        understand that each patient has unique
                        requirements, which is why we create customized
                        care plans to meet their long-term and short-term
                        needs. Our nursing specialists are committed to
                        maintaining safety, professionalism,and adhering to
                        standard procedures and policies to provide you
                        with the best care.</p>
                </div>
                <div class="emptyheightdiv"></div>
                <div class="emptyheightdiv"></div>
            </div>
        </div>
    </div>
    <!--sixthsection-->
    <div class="sixthsection">
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="row">
            <h2 class="wp-block-heading has-text-align-center">What Nursing Specialists will do?</h2>
            <div aria-hidden="true" class="emptyheightdiv"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-1"></div>
                <div class="col-sm-12 col-md-5">
                    <ul class="ticklist">
                        <li>Wound Care</li>
                        <li>Pain Management</li>
                        <li>Skilled Nursing</li>
                        <li>Case Management</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-5">
                    <ul class="ticklist">
                        <li>Feeding tube insertion and changing</li>
                        <li>Infusion therapy</li>
                        <li>Home safety instruction</li>
                        <li>Urine Catheterization</li>
                    </ul>
                </div>
                <div class="emptyheightdivseventy"></div>

            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <!--7th-->
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div class="seventhsection">
        <div class="downloadclass">
            <div class="container">
                <app-common-download></app-common-download>
            </div>
        </div>
    </div>
    <!--space-->
    <div class="emptyheightdiv"></div>
    <h2 class="text-center">FAQs</h2>
    <!--eightsection--> <!--accordionsstarthere-->
    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
    <div class="eigthsection">
        <div class="accordianclass py-57">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                            tabindex="0" aria-controls="ac-657" aria-expanded="false">Who are Nursing
                                            Specialists?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">At HealthOnUs, our team comprises certified and
                                            highly specialized nursing professionals or Nursing staff or nurses, known
                                            as
                                            Nursing Specialists. With their exceptional skills and extensive experience
                                            in
                                            nursing, you can confidently entrust them with your well-being and any
                                            health-related concerns.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        <h5 id="at-658" class="c-accordion__title js-accordion-controller" role="button"
                                            tabindex="0" aria-controls="ac-658" aria-expanded="false">How do you hire
                                            nursing specialists?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Our nursing specialists are selected based on
                                            their
                                            qualifications, experience, and training. We ensure that they are reliable
                                            and
                                            compassionate professionals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        <h5 id="at-659" class="c-accordion__title js-accordion-controller" role="button"
                                            tabindex="0" aria-controls="ac-659" aria-expanded="false">Why should I use
                                            your
                                            homecare service?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Our homecare service allows you to recover in the
                                            comfort of your own home, close to your loved ones, and at a lower cost than
                                            hospital stays. We guarantee safe and hassle-free access to professional
                                            care.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                        <h5 id="at-6510" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6510" aria-expanded="false">
                                            What is the cost of
                                            your home nursing services?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">The cost of our home nursing services is
                                            determined
                                            by your specific requirements. You can find detailed information about our
                                            services and pricing on our app.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive">
                                        <h5 id="at-6511" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6511" aria-expanded="false">How
                                            soon can I start
                                            using your services?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">You can start using our services as soon as you
                                            book
                                            through our app, and we confirm your appointment.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSix" aria-expanded="false"
                                        aria-controls="flush-collapseSix">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6512" aria-expanded="false">Can
                                            I reschedule my
                                            booking?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Yes, you can easily reschedule your booking
                                            through
                                            our app. Simply choose the available time slot that suits you best.</p>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                        aria-controls="flush-collapseSeven">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">How
                                            can I pay for
                                            your homecare services?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">You can pay for our homecare services through our
                                            app
                                            using various payment methods.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEight" aria-expanded="false"
                                        aria-controls="flush-collapseEight">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Can
                                            I get occasional
                                            homecare help?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Yes, we offer a range of service modules that can
                                            be
                                            customized to your needs. You can easily book occasional homecare services
                                            through our mobile app.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNine" aria-expanded="false"
                                        aria-controls="flush-collapseNine">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Is
                                            there a long-term
                                            contract for your services?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseNine" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">No, we do not need a long-term contract for our
                                            services. You can use our services as per your requirement.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTen" aria-expanded="false"
                                        aria-controls="flush-collapseTen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">How
                                            long does your
                                            homecare service last?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">The length of our homecare service varies
                                            depending
                                            on your specific needs. You can determine how long and how often you require
                                            our
                                            services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEleven" aria-expanded="false"
                                        aria-controls="flush-collapseEleven">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Is
                                            my medical and
                                            confidential data safe with you?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseEleven" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Yes, we strictly follow a privacy policy to
                                            ensure
                                            that all your information is kept confidential and secure.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTweleve" aria-expanded="false"
                                        aria-controls="flush-collapseTweleve">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Do
                                            your nursing
                                            specialists help with domestic chores?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTweleve" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">No, our services are limited to healthcare only.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThirteen" aria-expanded="false"
                                        aria-controls="flush-collapseThirteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Do
                                            I need to provide
                                            meals and bed to the nursing specialists for 24-hour service?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseThirteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">If our nursing specialists are staying full-time,
                                            you
                                            should provide them with meals, a bed, and access to a washroom.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFourteen" aria-expanded="false"
                                        aria-controls="flush-collapseFourteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">
                                            What language do your
                                            caregivers speak?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFourteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Our caregivers speak local, Hindi, and English.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFifteen" aria-expanded="false"
                                        aria-controls="flush-collapseFifteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">How
                                            well-trained are
                                            your staff?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseFifteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Our staff is trained as per industry standards to
                                            provide you with the best care possible.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSixteen" aria-expanded="false"
                                        aria-controls="flush-collapseSixteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Can
                                            nursing
                                            specialists travel with the patient?</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseSixteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">This depends on the specific circumstances of
                                            each
                                            case. Please contact us to discuss your individual needs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeventeen" aria-expanded="false"
                                        aria-controls="flush-collapseSeventeen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Are
                                            you licensed?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseSeventeen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Yes, we are licensed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEightteen" aria-expanded="false"
                                        aria-controls="flush-collapseEightteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">
                                            What makes your
                                            homecare services unique?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseEightteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">We have our own staff, from therapists to nursing
                                            specialists, and do not involve any third-party agency. This ensures safe,
                                            quick, and top-notch services for patients.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNineteen" aria-expanded="false"
                                        aria-controls="flush-collapseNineteen">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Can
                                            I stop your
                                            services whenever I want?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseNineteen" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Yes, you can stop using our services at any time
                                            by
                                            letting us know in advance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwenty" aria-expanded="false"
                                        aria-controls="flush-collapseTwenty">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">
                                            What if I don’t like
                                            the nursing specialist provided by you? Can I get a replacement?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwenty" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">We want you to be comfortable with the nursing
                                            specialists we provide. If you have any issues or are not comfortable with
                                            your
                                            nursing specialist, we will arrange for a replacement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwentyOne" aria-expanded="false"
                                        aria-controls="flush-collapseTwentyOne">
                                        <h5 id="at-6512" class="c-accordion__title js-accordion-controller"
                                            role="button" tabindex="0" aria-controls="ac-6513" aria-expanded="false">Do
                                            I need a
                                            prescription or physician authorization to avail your homecare services?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwentyOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">To receive medical help, we require a
                                            prescription or
                                            physician authorization. However, for services such as elderly care,
                                            mother-baby
                                            care, and others, a prescription may not be necessary. Please check our app
                                            for
                                            more details.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
</div>