<div class="careat">
  <div class="img">
    <img [src]="environment?.websiteassetsURL + 'center_image_careat2.png'" alt="center_image_ione"
      title="center_image_ione" />
    <!-- <div class="top-left fs-2 color031B4E">service</div> -->
    <div class="bottom-left fs-2 color313131">
      Exceptional medical care at home
    </div>
    <h1 class="bottom-left2 color031B4E">Nursing Services</h1>
  </div>

  <div>
    <div class="row justify-content-between">
      <!-- <div class="col-sm-12 col-md-12 my-2 br10">
                
                <div class="centered-list" id="centeredul">
                    <ul class="ulclass">
                        
                            <li class="onhoverpointer" (click)="self()">Home Care Nursing
                            </li>
                            
                            <li class="onhoverpointer" (click)="homecarephysio()">Home Care Physiotherapy
                            </li>
                            
                            <li class="onhoverpointer" (click)="homecarepharma()">Pharmacy
                            </li>
                        
                    </ul>
                </div>
                <div class="emptyheightdivthirty"></div>
            </div> -->
      <div class="col-sm-12 col-md-9 my-2 align-self-center container text-center">
        <div class="emptyheightdivhundred">
          <h2>Nursing Services</h2>
        </div>
        <p class="aboutp paddingleftright">
          Experience a faster recovery with our exceptional home nursing care
          services, tailored to meet all your comprehensive needs for patient
          care. Our team of skilled professionals will ensure you receive the
          highest quality of care in the comfort of your home. If you have a
          loved one who requires specialized care, constant monitoring, and
          medication management, we can help. Our Nursing Specialists will work
          closely with your family to develop a personalized care plan that
          promotes your health and well-being.
        </p>
      </div>
    </div>
  </div>

  <div>
    <!--nmew-->
    <div class="container">
      <div class="services_desc">
        <h4>Medical Management</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'homecare-01.jpg'" alt="homecare_ione"
                  title="homecare_ione" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span> Infusion and Injections</span>
                      </li>

                      <li>
                        <span> Vitals check</span>
                      </li>

                      <li>
                        <span> Nebulization </span>
                      </li>
                      <li>
                        <span> Immunization or Vaccination</span>
                      </li>
                      <li>
                        <span> GRBS Monitoring</span>
                      </li>
                      <li>
                        <span> Feeds(Nasal Gastric tube, Jejunal tube) </span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <ul class="lower">
                      <li>
                        <span> Diabetic Care </span>
                      </li>
                      <li>
                        <span> IV Cannula Insertion and Removal</span>
                      </li>

                      <li>
                        <span> Sponge Bath</span>
                      </li>
                      <li>
                        <span> ECG</span>
                      </li>
                      <li>
                        <span> Fetal Monitoring</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <h4>Advance Nursing Services</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'nursing-care/adv-nursing-service.svg'"
                    alt="adv_nursing_ithree" title="adv_nursing_ithree" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-6">
                      <ul class="upper">
                        <li>
                          <span> Nasogastric Tube Insertion and Removal </span>
                        </li>

                        <li>
                          <span> FC Insertion and Removal </span>
                        </li>

                        <li>
                          <span> Oxygen Administration </span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <ul class="lower">
                        <li>
                          <span> Enema and Colon Irrigation for Bowel Disability </span>
                        </li>
                        <li>
                          <span> Tracheostomy Nursing Carel</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <h4>Basic Mother and Child-Care</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'mother-child-care.png'" alt="nursing_assistance_ifour"
                    title="nursing_assistance_ifour" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li class="pad-none">
                          <span> Mother and Childcare</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <h4>Post Surgical Care</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'nursing-care/post-surgical-service.svg'"
                    alt="post_surgical_ifive" title="post_surgical_ifive" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li>
                          <span> Suture Removal</span>
                        </li>
                        <li>
                          <span> Wound Care</span>
                        </li>
                        <li class="pad-none">
                          <span> Dressing</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <h4>Specialty Nursing Services</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'critical.png'" alt="critical_nursing_isix"
                    title="critical_nursing_isix" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li>
                          <span> Critical Care Nursing </span>
                        </li>
                        <li>
                          <span> Palliative Care Nursing </span>
                        </li>
                        <li class="pad-none">
                          <span> End of life Care Services</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_desc">
          <h4>Geriatric Nursing Care</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="environment?.websiteassetsURL + 'geriatric.png'" alt="" title="" />
                </div>
                <div class="col-md-8 align-self-center">
                  <div class="row pad-a">
                    <div class="col-sm-12 col-md-12">
                      <ul class="upper">
                        <li class="pad-none">
                          <span> End of life Care Services</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <p class="about_footer">
          Our highly trained and experienced
          <strong>Nursing Specialists</strong> are equipped to provide top-notch
          healthcare assistance to patients in need. We understand that each
          patient has unique requirements, which is why we create customized
          care plans to meet their long-term and short-term needs. Our nursing
          specialists are committed to maintaining safety, professionalism, and
          adhering to standard procedures and policies to provide you with the
          best care.
        </p>
      </div>
    </div>
  </div>
  <div class="darkbgsblue">

    <!-- <figure class="text-center">
      <img [src]="environment?.websiteassetsURL + 'stepper_1_img.png'" alt="stepper_iseven" title="stepper_iseven" class="img-fluid" />
    </figure> -->
    <div class="container">

      <div class="stepper-wrapper">
        <div class="stepper-item completed">
          <div class="step-counter">1</div>
          <div class="step-name">Download</div>
          <div class="step-desc">Download from app store/play store</div>
        </div>
        <div class="stepper-item completed">
          <div class="step-counter">2</div>
          <div class="step-name">Register</div>
          <div class="step-desc">Register with your mobile number or email ID</div>
        </div>
        <div class="stepper-item completed">
          <div class="step-counter">3</div>
          <div class="step-name">Select Service</div>
          <div class="step-desc">Choose any of our services</div>
        </div>
        <div class="stepper-item completed">
          <div class="step-counter">4</div>
          <div class="step-name">Enjoy</div>
          <div class="step-desc">Get care at your comfort of home</div>
        </div>
      </div>
      <div class="downloadmbapp text-center">
        <li>
          <a class="wp-block-button__link wp-element-button has-text-align-start" (click)="popupopen()">Download Mobile
            App</a>
        </li>
      </div>
    </div>
    <div *ngIf="display">
      <app-modal-popup></app-modal-popup>
    </div>
  </div>
  <div class="bg6B">

    <p class="fs-2 fontw600 text-white text-center">
      Frequently Asked Questions
    </p>

    <div class="contactusfaq">
      <div class="container faq_pad">
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item bbnone br10">
            <div class="accordion-header font_h2">
              <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-1">
                Who are Nursing Specialists?
              </button>
            </div>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                At HealthOnUs, our team comprises certified and highly
                specialized nursing professionals or Nursing staff or nurses,
                known as Nursing Specialists. With their exceptional skills and
                extensive experience in nursing, you can confidently entrust
                them with your well-being and any health-related concerns.
              </div>
            </div>
          </div>

          <div class="accordion-item bbnone br10">
            <div class="accordion-header font_h2">
              <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-2">
                How do you hire Nursing Specialists?
              </button>
            </div>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Our Nursing Specialists are selected based on their
                qualifications, experience, and training. We ensure that they
                are reliable and compassionate professionals.
              </div>
            </div>
          </div>

          <div class="accordion-item bbnone br10">
            <div class="accordion-header font_h2">
              <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-3">
                Why should I use your homecare service?
              </button>
            </div>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Our homecare service allows you to recover in the comfort of
                your own home, close to your loved ones, and at a lower cost
                than hospital stays. We guarantee safe and hassle-free access to
                professional care.
              </div>
            </div>
          </div>

          <div class="accordion-item bbnone br10">
            <div class="accordion-header font_h2">
              <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-4">
                What is the cost of your home nursing services?
              </button>
            </div>
            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                The cost of our home nursing services is determined by your
                specific requirements. You can find detailed information about
                our services and pricing on our app.
              </div>
            </div>
          </div>

          <div class="accordion-item bbnone br10">
            <div class="accordion-header font_h2">
              <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-5">
                How soon can I start using your services?
              </button>
            </div>
            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                You can start using our services as soon as you book through our
                app, and we will confirm your appointment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>