<div class="whyus">
    <div class="firstsection">
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <h1 class="text-center">One-Stop Solution for All Your <span class="whyushealthcare">
                Healthcare</span> Needs</h1>
        <div aria-hidden="true" class="emptyheightdiv"></div>
    </div>
    <div class="secondsection">
        <div class="container">
            <div class="row position-relative">
                <div class="col-sm-12 col-md-6">
                    <figure class="wp-block-image size-full">
                        <img src="../../../assets/aboutus/whyusladydoctor.png" alt="whyusladydoctor_ione"
                            class="img-fluid" title="whyusladydoctor_ione" />
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 imagetext position-absolute ">
                    <p>Whether you require medications, therapy sessions,
                        or nursing care during your recovery from surgery or
                        accidents, HealthOnUs healthcare is your all-in-one
                        destination. We provide comprehensive healthcare
                        support tailored to your specific needs, ensuring
                        convenience and efficient care in one place.</p>
                </div>
                <div class="emptyheightdiv"></div>
            </div>
            <div class="emptyheightdivhundred"></div>
            <p class="text-center font">Why Us</p>
            <div class="emptyheightdiv"></div>
            <div class="text-center font_h2">Because <span class="wecare">we care </span> a lot
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-6">
                    <div class="emptyheightdiv"></div>
                    <div>
                        <div class="font_h2">
                            Comprehensive and <span class="wecare">Reliable Care</span>
                        </div>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p>
                        At HealthOnUs, we prioritize accessibility, affordability, and comprehensive care for all
                        individuals. Whether you’re recovering from an injury or post-surgery, we offer convenient and
                        comfortable healthcare support for your recovery journey. With a dedicated team of medicine
                        experts, nursing specialists, doctors, and therapists, we are committed to helping you achieve
                        your health goals. Our highly skilled and trained staff provide excellent care, prioritizing
                        your safety and comfort throughout your treatment.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-md-6">
                    <img src="../../../assets/aboutus/oldmanwithstick.png" class="imagesize img-fluid" alt="oldmanwithstick_itwo" title="oldmanwithstick_itwo">
                </div>
            </div>
        </div>
    </div>
    <div class="thirdsection">
        <div class="container">
            <div class="emptyheightdivforty"></div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="../../../assets/aboutus/docpatientwithsaline.png" class="imagesize" alt="docpatientwithsaline_ithree" title="docpatientwithsaline_ithree">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div>
                        <div class="font_h2">
                            <span class="shorten">Shorten</span> your hospital stay
                        </div>
                        <div class="emptyheightdivtwenty"></div>
                        <p>
                            Transitioning from the hospital to your home can be daunting, especially when you require
                            specialized care to recover. This is increasingly important due to the rising incidence of
                            non-communicable diseases and an aging population. Our dedicated team of trained nursing
                            specialists and therapists is equipped with the expertise and equipment needed to provide
                            exceptional long-term and chronic care. By offering a safe and comfortable environment, we
                            aim
                            to make your recovery journey hassle-free and more pleasant. With our focus on streamlining
                            your
                            recovery process, you can shorten your hospital stay and receive the personalized care you
                            need
                            to regain your health.
                        </p>
                    </div>
                </div>
            </div>
            <div class="emptyheightdivforty"></div>
        </div>
    </div>
    <div class="fourthsection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-6">
                    <div class="emptyheightdiv"></div>
                    <div>
                        <div class="font_h2">
                            A <span class="costeffective">cost-effective</span> healthcare support
                        </div>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p>
                        Our integrated approach brings together a team of pharmacists, nursing specialists, and
                        physiotherapists under one roof, providing you with a wide range of healthcare services tailored
                        to your needs. From basic care to advanced healthcare help, we are dedicated to easing your
                        recovery journey and delivering the highest quality support. Choose HealthOnUs center for
                        comprehensive and affordable healthcare that puts your well-being first.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-md-6">
                    <div class="emptyheightdiv"></div>
                    <img src="../../../assets/aboutus/moneybag.png" class="imagesize text-center img-fluid" alt="moneybag_ifour"
                        title="moneybag_ifour">
                </div>
            </div>
        </div>
        <div class="emptyheightdiv"></div>
    </div>
    <div class="fifthsection">
        <div class="container">
            <div class="font_h2">
                We are moving from better to the best.
            </div>
            <div class="emptyheightdivten"></div>
            <i class="continoustext">
                “We are continuously striving to improve and reach the pinnacle of excellence in our services.”
            </i>
            <div class="emptyheightdivforty"></div>
            <div class="row">
                <div class="col-lg-9 col-sm-12 col-md-6 description my-2">
                    <p class="paragraphlineheight">In the pursuit of providing exceptional healthcare services, our goal
                        is to constantly push the boundaries and elevate our standards. We firmly believe that there is
                        always room for improvement and that we can continually enhance the quality of care we deliver.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 my-2">
                    <img class="descriptionimg img-fluid" src="../../../assets/aboutus/pluscare.png" alt="pluscare_ifive" title="pluscare_ifive" />
                </div>
            </div>
            <div class="emptyheightdivhundred"></div>
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-6 my-2">
                    <img class="microscope-img img-fluid" src="../../../assets/aboutus/microscope.png" alt="microscope_isix"
                        title="microscope_isix" />
                </div>
                <div class="col-lg-9 col-sm-12 col-md-6 description my-2">
                    <p class="paragraphlineheight">By adopting a mindset of continuous improvement, we are committed to
                        identifying areas where we can enhance our services, processes, and outcomes. We invest in
                        research, advanced technologies, and ongoing professional development to stay at the forefront
                        of healthcare advancements.
                    </p>
                </div>
            </div>
            <div class="emptyheightdivhundred"></div>
            <div class="row">
                <div class="col-lg-9 col-sm-12 col-md-6 description my-2">
                    <p class="paragraphlineheight">Our dedication to being the best means that we are not complacent
                        with just being better than before. We are determined to exceed expectations, surpass industry
                        standards, and set new benchmarks in healthcare delivery. Through our unwavering commitment to
                        excellence, we are constantly evolving, growing, and moving forward on the journey from better
                        to the best.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 my-2">
                    <img class="descriptionimg img-fluid" src="../../../assets/aboutus/stocksgrow.png" alt="stocksgrow_iseven"
                        title="stocksgrow_iseven" />
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <div class="sixthsection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-6 my-2">
                    <div class="font_h2">
                        Easy to manage a <span class="color7465ad">healthy lifestyle </span> & <br>
                        prevent illness
                    </div>
                    <div class="emptyheightdivthirty"></div>
                    <p>
                        Earlier, healthcare infrastructure was primarily focused on preventing and controlling
                        communicable diseases. However, with increased life expectancy and changing disease patterns, we
                        now require an expanded healthcare support system. Providing healthcare services at home and
                        building a dedicated recovery center has become a necessity in promoting health and preventing
                        illnesses, whether it be acute, curative therapies, or other forms of care.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-md-6 my-2">
                    <img src="../../../assets/aboutus/ladywithgym.png" class="img-fluid" alt="ladywithgym_ieight" title="ladywithgym_ieight">
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <div class="seventhsection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-6 my-2">
                    <img src="../../../assets/aboutus/multipledoctors.png" class="imagesize" alt="multipledoctors_inine" title="multipledoctors_inine">
                </div>
                <div class="col-sm-12 col-md-6 col-md-6 my-2">
                    <div>
                        <div class="font_h2">
                            Comprehensive Training and <br>
                            <span class="color7465ad">Upskilling for staff</span>
                        </div>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p>
                        At HealthOnUs, we prioritize the continuous development and training of our personnel to deliver
                        exceptional care and maintain the highest standards of professionalism. We understand that
                        proper training is essential to ensure consistency, quality, and expertise in our services.
                        That’s why we have a comprehensive training and upskilling program in place for our staff
                        members. From acquiring the necessary knowledge and skills to fostering the right attitude, we
                        go the extra mile to ensure our team is competent and well-prepared to provide you with the best
                        possible care.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
    <div class="eightsection">
        <div class="container">
            <div>
                <div class="font_h2">
                    Efficient Planning for Your Specific Needs at <span class="ourcenter">Our Center</span>
                </div>
            </div>
            <div class="emptyheightdiv"></div>
            <div class="row mb-28 text-white">
                <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                    <div class="col-bg left-col mx-2 p-5">
                        <p class="cardscss">
                            At HealthOnUs, we prioritize a robust plan of action tailored to meet your specific
                            healthcare needs. We believe that an exemplary healthcare service requires a simple, clear,
                            and practical plan that is easily understood by all involved parties. Our plans are designed
                            to ensure seamless coordination among our healthcare personnel, stakeholders, and clients.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                    <div class="col-bg right-col mx-2 p-5">
                        <p class="cardscss">
                            We maintain open lines of communication to keep all necessary personnel informed of any
                            updates or changes to our services or requirements. This proactive approach guarantees that
                            our operations run smoothly and efficiently, without any potential conflicts that could
                            compromise the quality of care we provide.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdiv"></div>
</div>