<!-- <div class="body careathomepage text-break">
    <div class="firstdiv">
        <div class="bgeff5ff pt-57">
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <h2 class="has-text-align-center">Bringing <span class="color7465ad">quality care</span> right to <span
                    class="color7465ad">your home</span></h2>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <p class="paragraphlineheight" class="has-text-align-center">At HealthOnUs Homecare, we are committed to
                providing high-quality care in
                the comfort of your home.</p>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <p class="has-text-align-center paragraphlineheight"><a data-type="link"
                    [routerLink]="['/contact-us']">Contact Us →</a></p>
            <div aria-hidden="true" class="emptyheightdiv"></div>
            <div class="container">
                <div class="row justify-content-center py-20 px-38 row-images">
                    <div class="col-lg-3 col-md-3 col-sm-12 my-2 text-center">
                        <img class="img-fluid img-1" src="../../assets/careatcentre/img.png" alt="" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 my-2 text-center">
                        <img class="img-fluid img-2" src="../../assets/careatcentre/secondimg.png" alt="" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 my-2 text-center">
                        <img class="img-fluid img-3" src="../../assets/careatcentre/thirdimg.png" alt="" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 my-2 text-center">
                        <img class="img-fluid img-4" src="../../assets/careatcentre/fourthimg.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div aria-hidden="true" class="emptyheightdivhundred"></div>
        <h2 class="wp-block-heading has-text-align-center">Learn more about <span class="color7465ad">HealthOnUs
                Homecare services</span></h2>
        <div aria-hidden="true" class="emptyheightdivhundred"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careatcentre/fifthimg.png" alt="" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 description">
                    <h3 class="wp-block-heading">What is <span class="color7465ad">home healthcare?</span></h3>

                    <p class="paragraphlineheight">Home healthcare is a wide range of healthcare services that can be
                        provided in the comfort of
                        your
                        home such as nursing care, physical therapy, medicines, and health monitoring. It is an
                        alternative
                        to in-hospital care provided by trained healthcare professionals who take care of the physical,
                        social, and psychological needs of the patient. It will be less expensive and more convenient
                        than traditional healthcare services and allow you to recover and manage your health in a
                        familiar
                        environment.</p>
                </div>
            </div>
        </div>

        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careatcentre/sixthimg.png" alt="" />
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 description">
                    <h3 class="wp-block-heading">Why Home Healthcare is <span class="color7465ad">more
                            effective.</span></h3>
                    <p class="paragraphlineheight">Our home healthcare professionals are well-trained and skilled in
                        providing holistic care,
                        addressing not
                        only the physical needs of patients but also their social and psychological well-being. They
                        work to
                        eliminate factors that may affect patients’ health, including their social and psychological
                        environment.</p>
                    <div aria-hidden="true" class="wp-block-spacer 
                    emptyheightdivtwenty"></div>

                    <p class="paragraphlineheight">At HealthOnUs, our professionals are dedicated to promoting
                        self-empowerment in patients, helping
                        them to
                        become more independent and self-sufficient to live a healthy life. We believe that by working
                        together
                        with our patients, we can create a supportive and nurturing environment that promotes healing
                        and
                        overall well-being.</p>
                </div>
            </div>
        </div>

        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careatcentre/seventhimg.png" alt="" />
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 description">
                    <h3 class="wp-block-heading">Home Healthcare is not new, but we are <span class="color7465ad">making
                            it
                            better.</span></h3>
                    <p class="paragraphlineheight">Patients with chronic or disabling illnesses require exceptional
                        care, which can sometimes
                        necessitate
                        specialized caregiving skills found in a hospital setting. Earlier in the nineteenth century,
                        hospitals
                        were not always easily accessible to everyone. Then patient care, childbirth, and other major
                        medical
                        assistance were part of domestic life. However, families with sufficient financial means would
                        hire
                        nursing specialists, midwives, or doctors for home assistance. Towards the end of the century,
                        benevolent women would provide healthcare support at home, especially to those who could not
                        afford
                        proper care. Despite these efforts, access to home healthcare services remained limited and
                        inequitable
                        due to various roadblocks.</p>
                </div>
            </div>
        </div>

        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careatcentre/eighthimg.png" alt="" />
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 description">
                    <h3 class="wp-block-heading">Why It is different with <span class="color7465ad">HealthOnUs?</span>
                    </h3>
                    <p class="paragraphlineheight">Home healthcare support is not a new concept. We have all seen it for
                        decades in the form of home
                        visits
                        by nursing specialists and physicians. At HealthOnUs, we are augmenting its aura by connecting
                        it to
                        more professionals, trained healthcare personnel, better medicines, modern approaches, and
                        technology.
                        We are striving to make it more easily accessible to everyone at the most affordable price. We
                        have
                        in-house staff including nurses, therapists, and pharmacists to elevate your health and
                        well-being.</p>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="emptyheightdiv"></div>
    <div class="buttonhovercss">
        <li><a class="wp-block-button__link has-text-align-center wp-element-button" [routerLink]="['/aboutus']">Read
                more about Us →</a></li>
    </div>
    <div aria-hidden="true" class="emptyheightdiv"></div>
</div> -->

<div class="careat">
    <div class="container">
        <div aria-hidden="true" class="emptyheightdivhundred"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div aria-hidden="true" class="emptyheightdivseventy"></div>
                <p class="fs-2 colors050D40 fontw600 lnheight">Welcome To A </p>
                <p class="fs-2 fontw600 colors967CFF">New Era of Healthcare </p>
                <p class="fs-2 fontw600 colors050D40 lnheight">Where Empathy Meets Expertise</p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <p class="text-dark fs-5 fw-normal font-family-Open Sans">
                    We bring the warmth of home and the assurance of world-class healthcare together. Enjoy a healthcare
                    journey that’s as comforting as it is comprehensive, right in your own home.&nbsp;&nbsp;
                </p>
                <div aria-hidden="true" class="emptyheightdivforty"></div>
                <div class="btns d-flex">
                    <p class="text-dark fs-6 fw-semibold font-family-Outfit contactustext">
                        Contact Us
                    </p>
                    <div class="circular-bgcontact">
                        <figure class="d-flex text-center">
                            <a [routerLink]="['/contact-us']">
                                <img src="../../assets/products/arrowrightslight.svg" alt="arrowrightslight_ione" class="img-fluid"
                                    id="animatedArrow" title="arrowrightslight_ione">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 imgesizeborder">
                <owl-carousel-o [options]="customOptions" class="imgesizeborder">
                    <ng-container *ngFor="let image of images">
                        <ng-template carouselSlide>
                            <img src="{{ image }}" alt="image_itwo" class="img-fluid" title="image_itwo">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdivforty"></div>
        <div class="row">
            <p class="text-center fs-2 colors050D40 fontw600">Upholding Your Right to the Best</p>
            <div aria-hidden="true" class="emptyheightdivtwenty"></div>
            <p class="text-center colors313131 fontw400">Acknowledging your right to the best, we blend the finest
                elements in crafting our homecare services. </p>
        </div>
        <div aria-hidden="true" class="emptyheightdivforty"></div>
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-3 my-2">
                <div class="px-2 bg967CFF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg mx-2">
                        <figure>
                            <img src="../../assets/careathome/doctorwithstethinpurple.svg" alt="doctor_ithree" class="img-fluid"
                                title="doctor_ithree">

                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="text-white fontw600 mx-2">Dedicated Crew Member</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="text-white fontw400 mx-2">Skilled, trained, and experienced healthcare professionals.</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3  my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/healthecgraph.svg" alt="healthecgraph_ifour" class="img-fluid" title="healthecgraph_ifour">

                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">On-Demand Appointments</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">Easy booking from a mobile app at your preferred times.</p>
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3  my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/examinereport.svg" alt="examinereport_ifive" class="img-fluid" title="examinereport_ifive">
                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">Customized Plan</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">A healthcare plan designed to make your recovery easy and
                        effective.</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3  my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/time24.svg" alt="time_isix" class="img-fluid" title="time_isix">
                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">Safety Is the Priority</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">Estimation and intervention for potential risks and problems.
                    </p>
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                </div>
            </div>
            <div aria-hidden="true" class="emptyheightdivseventy"></div>
            <div class="row text-center">
                <p class="fs-2 colors050D40 fontw600">Our Homecare <span class="colors967CFF fontw600">Services</span>
                </p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <p class="colors313131 fontw400">Delve into our comprehensive suite of services, meticulously designed
                    to enrich your homecare journey.</p>
            </div>
            <div aria-hidden="true" class="emptyheightdiv"></div>
            <div class="row" id="nursing">
                <div class="col-sm-12 col-md-6">
                    <figure>
                        <img src="../../assets/careathome/injectiontolady.png" alt="injectiontolady_iseven" class="img-fluid" title="injectiontolady_iseven">
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="colors050D40 fontw600 fs-2">Nursing Services</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <ul class="ticklist">
                        <li>
                            <p class="colors313131 fontw400 mx-4">Care begins with an assessment and the creation of
                                care
                                plans to meet specific needs.</p>
                        </li>
                    </ul>
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                    <ul class="ticklist">
                        <li>
                            <p class="colors313131 fontw400 mx-4">Healthcare assistance is provided by well-qualified,
                                certified, and trained nursing specialists.</p>
                        </li>
                    </ul>
                    <div aria-hidden="true" class="emptyheightdivten"></div>

                    <div class="booknowbtn mt-4">
                        <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                                [routerLink]="['/careers']">Book Now</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="bg142346 padding1em">
            <div class="row" id="physio">
                <div class="col-sm-12 col-md-5 physio">
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                    <p class="text-white fs-2 fontw600 mx-3">Physiotherapy Services</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <ul class="ticklist mx-3">
                        <li>
                            <p class="colors313131 fontw400 mx-4" style="color: #fff !important;">Regain your
                                flexibility
                                and mobility and recover from complex health conditions with our customer-centric,
                                home-based physiotherapy services.</p>
                        </li>
                    </ul>
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                    <ul class="ticklist mx-3">
                        <li>
                            <p class="colors313131 fontw400 mx-4 text-white" style="color: #fff !important;">With the
                                right skills and extensive training, our physiotherapy team is equipped to guide you
                                through
                                a comprehensive rehabilitation journey.</p>
                        </li>
                    </ul>
                    <div class="newbooknowbtn mt-4 mx-3">
                        <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                                [routerLink]="['/careers']">Book Now</a>
                        </li>
                        <div aria-hidden="true" class="emptyheightdivforty"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                    <figure>
                        <img src="../../assets/careathome/physiotherwithhandlady.png" alt="physiotherwithhandlady_ieight" class="img-fluid" title="physiotherwithhandlady_ieight">
                    </figure>
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="row" id="pharma">
            <div class="col-sm-12 col-md-6">
                <figure>
                    <img src="../../assets/careathome/tabletsholdpharma.png" alt="tabletsholdpharma_inine" class="img-fluid" title="tabletsholdpharma_inine">
                </figure>
            </div>
            <div class="col-sm-12 col-md-6">
                <p class="colors050D40 fontw600 fs-2">Pharmacy services</p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <ul class="ticklist">
                    <li>
                        <p class="colors313131 fontw400 mx-4">We assure you of genuine medicine delivery directly to
                            your doorstep, with a hassle-free ordering process, minimal waiting period, and reasonable
                            prices.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <ul class="ticklist">
                    <li>
                        <p class="colors313131 fontw400 mx-4">We verify your prescription and ensure that you are
                            taking the correct medications.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <ul class="ticklist">
                    <li>
                        <p class="colors313131 fontw400 mx-4">We check that your new medications are not interfering
                            with any existing medication.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivfortyfive"></div>
                <div class="booknowbtn mt-4">
                    <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                            [routerLink]="['/careers']">Book Now</a>
                    </li>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdiv"></div>
    </div>
    <div class="E9E9E9Line"></div>
    <div class="container">
        <div class="accordianclass accordiannewhomepage">
            <div class="container">
                <div class="row">
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <h1 class="color050D40 lineheight fontweight700 pt-3 text-center">
                        Frequently Asked Questions
                    </h1>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <div class="accordion accordion-flush pt-3" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <p id="at-20"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-20" aria-expanded="true">Can I
                                        reschedule my booking?
                                    </p>
                                </button>
                            </h5>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Yes, you can easily reschedule your booking through
                                        our app. Simply choose the available time slot that suits you best.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <p id="at-21"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-21" aria-expanded="false">Will my
                                        report be shared with anyone other than me?
                                    </p>
                                </button>
                            </h5>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, we strictly follow a privacy policy and will
                                        only share your report with the contact details you provide us.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <p id="at-22"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-22" aria-expanded="false">What is
                                        the cost of your home nursing services?
                                    </p>
                                </button>
                            </h5>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">The cost of our home nursing services is determined
                                        by your specific requirements. You can find detailed information about our
                                        services and pricing on our app.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    <p id="at-23"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-23" aria-expanded="false">How do
                                        you select your caregivers?
                                    </p>
                                </button>
                            </h5>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Our caregivers are selected based on their
                                        qualifications, experience, and training. We ensure that they are reliable and
                                        compassionate professionals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <h5 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    <p id="at-23"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-23" aria-expanded="false">Can I get
                                        occasional homecare help?
                                    </p>
                                </button>
                            </h5>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Yes, we offer a range of service modules that can be
                                        customized to your needs. You can easily book occasional homecare services
                                        through our app.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                    </div>
                </div>
                <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
            </div>
        </div>

    </div>
</div>