<section class="home-testimonial">
    <div class="container-fluid">
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center testimonialnav">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="text-center">
                                        <i class="fa-solid fa-circle-user fa-2xl color000"></i> 
                                       </div>
                                    <div class="link-name d-flex justify-content-center">
                                       
                                        Pankar</div>
                                    <div class="link-position d-flex justify-content-center">Nursing Care</div>
                                    
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Extremely good service. I
                                        really
                                        appreciate four
                                        team for extending this
                                        wonderful
                                        service hat’s off all of you God Bless You All.&rdquo;</div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="tour-item">
                                <div class="tour-desc bg-white">
                                    <div class="text-center">
                                        <i class="fa-solid fa-circle-user fa-2xl color000"></i> 
                                       </div>
                                    <div class="link-name d-flex justify-content-center">
                                        
                                        R.Srikanth</div>
                                    <div class="link-position d-flex justify-content-center">Physiotherapy</div>
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Ramadevi garu explained all
                                        the
                                        problems that I
                                        have and suggested the immediate
                                        remedies and will follow up with her regularly.&rdquo;</div>
                                    
                                   
                                    
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="tour-item">
                                <div class="tour-desc bg-white">
                                    <div class="text-center">
                                        <i class="fa-solid fa-circle-user fa-2xl color000"></i> 
                                       </div>
                                    <div class="link-name d-flex justify-content-center">
                                        
                                        Seray Ahmed</div>
                                    <div class="link-position d-flex justify-content-center">Physiotherapy</div>
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Syed Azhar visited my house,
                                        observed my left
                                        shoulder pain, and provided
                                        guidance on
                                        specific exercises. Wishing HealthOnUs all the best for the future.&rdquo;</div>
                                    
                                    
                                   
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="tour-item">
                                <div class="tour-desc bg-white">
                                    <div class="text-center">
                                        <i class="fa-solid fa-circle-user fa-2xl color000"></i> 
                                       </div>
                                    <div class="link-name d-flex justify-content-center">
                                        
                                        M.Deepika</div>
                                    <div class="link-position d-flex justify-content-center">Nursing Care</div>
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Service is good have enough
                                        patience to explain
                                        all details. Likes the service
                                        and
                                        refer this to neighbors. Thank you!&rdquo;</div>
                                   
                                    
                                    
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="tour-item">
                                <div class="tour-desc bg-white">
                                    <div class="text-center">
                                        <i class="fa-solid fa-circle-user fa-2xl color000"></i> 
                                       </div>
                                    <div class="link-name d-flex justify-content-center">
                                       
                                        
                                        P S.Rao</div>
                                        <div class="link-position d-flex justify-content-center">Nursing Care</div>
                                    <div class="tour-text color-grey-3 text-center">&ldquo;It is an excellent
                                        interaction with the team
                                        sincere and punctual services. Well
                                        done
                                        keep it up wish you all the best.&rdquo;</div>
                                    
                                   
                                    
                                
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </section>
    </div>
</section>