<div class="content frs-content">
    <div class="container">

        <h1 class="wp-block-heading has-text-align-center mt2rem">Privacy Policy</h1>



        <p>Last updated:&nbsp;16 February 2023</p>



        <p>The website <a><u class="cursorpointer" (click)="visitwebsite()">http://www.healthonus.io/</u></a> and the
            mobile application
            Health on us (together,
            “<strong>Platform</strong>”) is owned and operated by Healthonus Technologies Private Limited
            (“<strong>Company</strong>”) having its registered office <em>Dwaraka Icon, Second Floor, Plot No. 131,
                Kavuri Hills, Madhapur, Hyderabad – 500 033</em>. The Platform aims to use technology to provide
            excellent health care to your convenience (“<strong>Services</strong>”).</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>For the purposes of this Privacy Policy, the words “<strong>us”, “we”</strong>, and “<strong>our</strong>”
            refer to the Company and all references to <strong>“you”, “your”</strong> or <strong>“User”,</strong> as
            applicable means the person who accesses, uses and/or participates on the Platform in any manner or
            capacity.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>This Privacy Policy sets out the privacy practices of the Company with respect to the Platform and further
            explains how we collect, use, share and protect personal information about the Users of the Services,
            including the Practitioners (<em>as defined in the Terms of Use</em>), the End-Users (<em>as defined in the
                Terms of Use</em>), and the visitors of Platform.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>This document is published in accordance with the provisions of the Information Technology Act, 2000,
            Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or
            Information) Rules, 2011 (<strong>“SPDI Rules”</strong>) and other such applicable rules made thereunder. We
            request you to go through this Privacy Policy and the Terms of Use carefully before you decide to access
            this Platform and avail the Services.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>The protection and security of your personal information is our top priority and we have taken all necessary
            and reasonable measures to protect the confidentiality of the user information and its transmission through
            the internet.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>By using our Services and the Platform or by otherwise giving us your information, you agree to the terms of
            this Privacy Policy. You also expressly consent to our collection, use and disclosure of your Personal
            Information (<em>as defined below</em>) in the manner prescribed under this Privacy Policy and further
            signify your agreement to this Privacy Policy and the Terms of Use. We reserve the right to change, modify,
            add or delete portions of the terms of this Privacy Policy, at our sole discretion at any time. If you use
            the Services on behalf of someone else (such as your child) or an entity, you represent that you are
            authorized by such individual or entity to accept this Privacy Policy on such individual’s or entity behalf.
            If you do not agree to this Privacy Policy, do not subscribe to the Services, use the Platform or give us
            any of your information in any manner whatsoever.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">1. Collection of Information</div>



        <ol>
            We may collect information from you through your use of the Platform or through any engagement with us.
            We may collect and process personal information provided by you, including but not limited to:

            <li>
                Any information that identifies or can be used to identify, contact or locate the user such
                as
                full name, phone number, gender, age, date of birth, time of birth and place of birth
            </li>


            <li>Physical address and an email address or other contact information, whether at work or at home,
                or correspondence address</li>



            <li>Physical, physiological and mental health condition</li>



            <li>Sexual orientation, medical records and history, and biometric information and</li>



            <li>Any data that is automatically captured by the Platform such as your mobile phone operating
                system, every computer / mobile device connected to the internet which is given a domain name
                and a set of numbers that serve as that computer’s Internet Protocol or “IP” address. When you
                request a page from any page within the Platform, our web servers automatically recognize your
                domain name and IP address. The domain name and IP address reveal nothing personal about you
                other than the IP address from which you have accessed the Platform,</li>


        </ol>



        <p>hereinafter, collectively referred to as “<strong>Personal Information</strong>”.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">2. Use of the Information Collected</div>



        <ol>
            The primary goal of the Company in collecting the Personal Information is to provide you, a Platform for
            availing our Services. The Company may use the Personal Information provided by you in the following
            ways:
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <ul>
                <li>
                    <ul>
                        <li>
                            (a) To help provide you the Services in an effective manner
                        </li>
                        <li> (b) To observe, improve and administer the quality of Service</li>



                        <li> (c) To analyze how the Platform is used and diagnose technical problems as and when they
                            occur</li>



                        <li> (d) To confirm your identity in order to determine your eligibility to use the Platform
                        </li>



                        <li> (e) To notify you about any changes to the Platform</li>



                        <li> (f) To enable the Company to comply with its legal and regulatory obligations</li>
                    </ul>
                </li>

                <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

                <li>For the purpose of sending administrative notices and Service-related alerts and similar
                    communication, as detailed under this Privacy Policy, with a view to optimizing the efficiency
                    of the Platform</li>



                <li>Doing market research, troubleshooting, protection against error, project planning, fraud and
                    other criminal activity</li>



                <li>Company may require the User to pay with a credit card, wire transfer, debit card or cheque for
                    Services for which subscription amount(s) is/are payable. Company will collect such User’s
                    credit card number and/or other financial institution information such as bank account numbers
                    and will use that information for the billing and payment processes, including but not limited
                    to the use and disclosure of such credit card number and information to third parties as
                    necessary to complete such billing operation and</li>
            </ul>



            <ul>
                <li>To enforce the Company’s Terms of Use.</li>
            </ul>



            <div class="emptyheightdivtwenty"></div>
            <strong> 2.1 Sale of Assets, Merger, Acquisition, Bankruptcy: </strong>Information collected from you may be
            transferred to a third party as a result of a sale or acquisition, merger or bankruptcy involving the
            Company.


            <div class="emptyheightdivtwenty"></div>
            <strong>2.2 Cookies</strong>
            <ul>
                <li>Cookies are small portions of information saved by your browser onto your computer / mobile.
                    Cookies are used to record various aspects of your visit and assist the Company to provide you
                    with uninterrupted service.</li>



                <li>We may use information collected from our Cookies to identify user behavior and to serve content
                    and offers based on your profile, in order to personalize your experience and in order to
                    enhance the convenience of the users of our Platform.</li>



                <li>The user acknowledges and agrees that third party service providers may use Cookies or similar
                    technologies to collect information about the user’s pattern of availing the Services, in order
                    to inform, optimize, and provide advertisements based on the user’s visits on the Platform and
                    general browsing pattern and report how third-party service providers advertisement impressions,
                    other uses of advertisement services, and interactions with these impressions and services are
                    in relation to the user’s visits on such third party’s website.</li>



                <li>We neither have access to, nor do the Privacy Policy or Terms of Use govern the use of Cookies
                    or other tracking technologies that may be placed by third party service providers on the
                    Platform. These parties may permit the user to opt out of tailored advertisement at any time,
                    however, to the extent advertising technology is integrated into the Services, the user may
                    still receive advertisements and related updates even if they choose to opt-out of tailored
                    advertising. We assume no responsibility or liability whatsoever for the user’s receipt or use
                    of such tailored advertisements.</li>
            </ul>

        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">3. Sharing of Information</div>



        <ol class="dotted_list">
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <strong>3.1 Sharing: </strong>Other than as mentioned elsewhere in this Privacy Policy, the Company may
            share aggregated demographic information and limited Personal Information with the Company’s
            subsidiaries, holding companies, partners or affiliates as the case maybe for the purpose of providing
            the services through the Platform. The Company will not be liable for transfer of any personal
            identification information resulting from loss or distribution of data, the delineation or corruption of
            media storage, power failures, natural phenomena, riots, act(s) of vandalism, sabotage, terrorism or any
            other event beyond Company’s control. Further, the Company’s Privacy Policy does not cover the use of
            Cookies by its partners and affiliates since the Company does not have access or control over such
            Cookies.


            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <strong>3.2 Consulting: </strong>The Company may partner with another party to provide certain specific
            services if required. When you sign-up for such services, the Company will share names, or other
            Personal Information that is necessary for the third party to provide these Services. The Company’s
            contractual arrangements with such third parties restrict these parties from using personally
            identifiable information except for the explicit purpose of assisting in the provision of these
            Services.

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <strong>3.3 Regulatory Disclosures: </strong>We cooperate with government and law enforcement officials and
            private parties to enforce and comply with the law. Thus, we may access, use, store, transfer and
            disclose your information (including Personal Information), including disclosure to third parties such
            as government or law enforcement officials or private parties as we reasonably determine is necessary
            and appropriate:
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <ul class="dotted_list">
                <p>
                    (a) to satisfy any applicable law, regulation, governmental requests or legal process
                </p>



                <p>(b) to protect the safety, rights, property or security of the Company, our Services, the Platform
                    or any third party</p>



                <p>(c) to protect the safety of the public for any reason</p>



                <p>(d) to detect, prevent or otherwise address fraud, security or technical issues and /or</p>



                <p>(e) to prevent or stop any activity we consider to be, or to pose a risk of being, an illegal,
                    unethical, or legally actionable activity. Such disclosures may be carried out without notice to
                    you.
                </p>
            </ul>



            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <strong>3.4 Link to Third Party Websites: </strong>Platform may contain links which may lead you to other
            websites. Please note that once you leave the Company’s Platform you will be subjected to the privacy
            policy of such other websites. The linked websites are not necessarily under the control of the Company.
            Please be aware that the Company is not responsible for the privacy practices of such other sites. The
            Company encourages you to read the privacy policies of each and every website that collects Personal
            Information. If you decide to access any of the third-party sites linked to the Platform, you do this
            entirely at your own risk. Any links to any partner of the Company should be the responsibility of the
            linking party, and the Company will not be responsible for notification of any change in name or
            location of any information on the Platform. We may further disclose your Personal Information to such
            third parties to whom we have transferred our rights and duties under any agreement entered into with
            such third parties and may also disclose your Personal Information to any of our affiliates,
            subsidiaries or related entity.
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">4. Security of Information</div>



        <ol class="dotted_list">
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">4.1</span> The Company has put in place necessary precautions to protect
                your Personal Information
                and
                implements
                reasonable security practices including certain managerial, technical, operational and physical security
                control measures to safeguard and secure such Personal Information. The Company only processes Personal
                Information in a way that is compatible with and relevant for the purpose for which it was collected or
                authorized by the user. The Platform allows users access to their Personal Information and allows them
                to correct, amend or delete inaccurate information.</p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <p><span class="fontw600">4.2</span> The Company uses commercially reasonable precautions to preserve the
                integrity and
                security of your
                information against loss, theft, unauthorised access, disclosure, reproduction, use or amendment.</p>


            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">4.3</span> The information that is collected from you may be transferred to,
                stored and processed
                at any
                destination within and / or outside India. By submitting information on the Platform, you agree to this
                transfer, storing and / or processing. The Company will take such steps as it considers reasonably
                necessary to ensure that your information is treated securely and in accordance with this Privacy
                Policy.</p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <p><span class="fontw600">4.4</span> In using the Platform, you accept the inherent security implications of
                data
                transmission over the
                internet. Therefore, the use of the Platform will be at your own risk and the Company assumes no
                liability for any disclosure of information due to errors in transmission, unauthorised third-party
                access or other acts of third parties, or acts or omissions beyond its reasonable control and you agree
                not to hold the Company responsible for any breach of security.</p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <p><span class="fontw600">4.5</span> Company makes all User information accessible to its employees, agents
                or partners and
                third parties
                only on a need-to-know basis, and binds all such employees to strict confidentiality obligations.</p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <p><span class="fontw600">4.6</span> Company will not have knowledge of your password. It is important for
                you to protect against
                unauthorized access to your password, your computer and your mobile phone. Be sure to log off from the
                Platform when finished. Company does not undertake any liability for any un-authorised use of your
                account and password. If you suspect any unauthorized use of your account, you must immediately notify
                Company by sending an email to <em>&nbsp;</em><strong> <a
                        href="mailto:grievance@healthonus.io"><u>grievance&#64;healthonus.io</u></a></strong> You shall
                be
                liable to indemnify Company due to any loss suffered by it due to such unauthorized use of your account
                and password. In the event the Company becomes aware of any breach of the security of your information,
                it will promptly notify you and take appropriate action to the best of its ability to remedy such a
                breach.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">5. Exclusion</div>



        <ol class="dotted_list">
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">5.1</span> This Privacy Policy does not apply to any information other than
                information collected by the Company
                through the Platform including such information collected in accordance with the clause on “Collection
                of Information” above. This Privacy Policy will not apply to any unsolicited information provided by you
                through the Platform or through any other means. This includes, but is not limited to, information
                posted on any public areas of the Platform. All such unsolicited information shall be deemed to be
                non-confidential and the Company will be free to use, disclose such unsolicited information without
                limitation.</p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

            <p><span class="fontw600">5.2</span> The Company also protects your Personal Information off-line other than
                as specifically mentioned in
                this Privacy Policy. Access to your Personal Information is limited to employees, agents or partners and
                third parties, who the Company reasonably believes will need that information to enable the Company to
                provide Services to you. However, the Company is not responsible for the confidentiality, security or
                distribution of your own Personal Information by our partners and third parties outside the scope of our
                agreement with such partners and third parties.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">6. Data Retention</div>



        <ol class="dotted_list">
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">6.1</span> The Company shall not retain Personal Information longer than is
                necessary to fulfil the purposes for
                which it was collected and as permitted by applicable law. If you wish to cancel your account or request
                that the Company no longer use your information to provide you Services, contact us through email at
                <strong><a href="mailto:contactus@healthonus.io"><u>contactus&#64;healthonus.io</u></a></strong> . Even
                after your account is terminated, the Company may
                retain
                your Personal Information as needed to comply with our legal and regulatory obligations, resolve
                disputes, conclude any activities related to cancellation of an account, investigate or prevent fraud
                and other inappropriate activity, to enforce our agreements, and for other business reason.
            </p>

            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>


            <p><span class="fontw600">6.2</span> The Company does not knowingly collect Personal Information from
                persons
                under the age of 18 (eighteen).
                In the event that we are made aware that a person under the age of 18 (eighteen) has provided us with
                such Personal Information, we delete such information from our servers within a reasonable period of
                time. If you are a parent or guardian and you are aware that your child has provided us with Personal
                Information, please contact us at <a
                    href="mailto:contactus&#64;healthonus.io"><strong><u>contactus&#64;healthonus.io</u></strong></a> in
                order
                to
                enable us to take appropriate action.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">7. Right to Withdraw Consent</div>



        <ol>
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">7.1</span> The consent that you provide for the collection, use and disclosure of
                your Personal Information will
                remain valid until such time it is withdrawn by you in writing. If you withdraw your consent, the
                Company will stop processing the relevant Personal Information except to the extent that the Company has
                other grounds for processing such Personal Information under applicable laws. The Company will respond
                to your request within a reasonable timeframe. You may withdraw your consent at any time by contacting
                the Company at <strong><a
                        href="mailto:contactus@healthonus.io"><u>contactus&#64;healthonus.io</u></a></strong>.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">8. Right to Correction</div>

        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>


        <ol>
            <p><span class="fontw600">8.1</span> You are responsible for maintaining the accuracy of the information you
                submit to us, such as your
                contact information provided as part of account registration. The Company relies on the users to
                disclose to it all relevant and accurate information and to inform the Company of any changes. If you
                wish to make a request to correct or update any of your personal data which we hold about you, you may
                submit your request via email at <strong><a
                        href="mailto:contactus@healthonus.io"><u>contactus&#64;healthonus.io</u></a></strong>.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">9. Notification of Changes</div>



        <ol class="dotted_list">
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
            <p><span class="fontw600">9.1</span> From time to time, the Company may update this Privacy Policy to
                reflect changes to its information
                practices with or without advance notice. Any changes will be effective upon publishing the revised
                Privacy Policy. If the Company makes any material changes, it will notify you by means of a notice on
                the Services prior to the change becoming effective. We encourage you to periodically review this page
                for the latest information on our privacy practices. As always, if you object to any of the changes to
                our terms, and you no longer wish to use the Services, you may contact our grievance officer on the
                details mentioned below to deactivate your account.</p>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">10. Grievance Officer</div>



        <ol>
            In accordance with the Information Technology Act, 2000 and the rules made thereunder, the contact
            details of the Grievance Officer are provided below:
            <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
            <p>Email Id: <strong><a
                        href="mailto:grievance&#64;healthonus.io"><u>grievance&#64;healthonus.io</u></a></strong></p>

        </ol>






        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <div class="wp-block-heading font_h2">11. Address for Privacy Questions</div>



        <ol>
            Should you have questions about this Privacy Policy or Company’s information collection, use and
            disclosure practices, you may contact us at <strong><a
                    href="mailto:contactus&#64;healthonus.io"><u>contactus&#64;healthonus.io</u></a></strong>. We
            will use
            reasonable efforts to respond promptly to requests, questions or concerns you may have regarding our use
            of Personal Information about you. Except where required by law, the Company cannot ensure a response to
            questions or comments regarding topics unrelated to this policy or Company’s privacy practices.
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
    </div>
</div>