<!--NEW DESIGN 22-03-2024-->
<owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide>
        <div class="img">
            <img [src]="environment?.websiteassetsURL + 'samep.png'" alt="samep_ione">
            <div class="fs22 color031B4E img-content" title="samep_ione">
                <h1>
                    Recover In the Comfort of Your Home</h1>
                <div class="emptyheightdivforty"></div>
                <span class="bottom-left3 olor031B4E" (click)="contactus()">Contact Us <i
                        class="fa-solid fa-arrow-right-long"></i></span>

            </div>


        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="img">
            <img [src]="environment?.websiteassetsURL + 'processreading.png'" alt="processreading_itwo"
                title="processreading_itwo">
            <div class="fs22 color031B4E img-content disnone">
                <div class="font_h1">
                    A Smooth and Pleasant
                    Recovery
                </div>
                <div class="emptyheightdivforty"></div>
                <span class="bottom-left3 olor031B4E" (click)="contactus()">Contact Us <i
                        class="fa-solid fa-arrow-right-long"></i></span>
            </div>


        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="img">
            <img [src]="environment?.websiteassetsURL + 'senior_bp_check.png'" alt="senior_bp_ithree"
                title="senior_bp_ithree">
            <div class="fs22 color031B4E img-content disnone">
                <div class="font_h1">Physio and Rehabilitation Center</div>
                <div class="emptyheightdivforty"></div>
                <span class="bottom-left3 olor031B4E" (click)="contactus()">Contact Us <i
                        class="fa-solid fa-arrow-right-long"></i></span>
            </div>

        </div>
    </ng-template>
    <!-- <ng-template carouselSlide>
        <div class="img">
            <img src="../../assets/pharma_checl.png" alt="pharma_checl_ifour" title="pharma_checl_ifour">
            <div class="fs-2 color031B4E img-content">
                <div>Pharmacy Home delivery</div>
                </div>
                <div>
                    <span class="bottom-left3 olor031B4E" (click)="contactus()">Contact Us</span>
                </div>
           
        </div>
    </ng-template> -->
</owl-carousel-o>