.mb-28 {
  margin-bottom: 28px;
}

.fw-700 {
  font-weight: 700;
}

.p-57 {
  padding: 57px;
}

.py-57 {
  padding-top: 57px;
  padding-bottom: 57px;
}

.btn-brand {
  background: #7465ad !important;
  color: #fff;
  padding: 12px 30px;
  font-weight: 500;
}

.contact-us {
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  border-radius: 9999px;
  font-size: 1.125rem;
}

.btn-brand-outline {
  background-color: #fff !important;
  color: #7465ad !important;
  border: 1px solid #7465ad !important;
}

.group-img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

i.bi {
  font-size: 40px;
}

.left-col {
  background: #eeeeff;
  height: 100%;
}

.right-col {
  background: #e2f3ff;
  height: 100%;
}

.second.left-col {
  background: #fbffcc !important;
  height: 100%;
}

.second.right-col {
  background: #e8ffe2 !important;
  height: 100%;
}

.sixth-section {
  background: #7465ad;
  margin-right: 50px !important;
  margin-left: 50px !important;
}

button.brand-bgcolor {
  background-color: #7465ad;
  color: #fff;
}

button.brand-bgcolor:hover {
  background-color: #fff !important;
  border: 1px solid #7465ad !important;
  color: #7465ad !important;
}

@media screen and (max-width: 1200px) {
  .sixth-section {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 578px) {
  .content-img {
    max-width: 200px;
    position: absolute;
    right: 25%;
    top: 9%;
    animation: bounce 5s ease-in-out infinite;
  }

  .message-img {
    position: absolute;
    left: 10%;
    bottom: 26%;
    animation: rotate 50s linear infinite;
    max-width: 50px;
  }

  .bell-img {
    position: absolute;
    right: 4%;
    top: 18%;
    animation: rotate 50s linear infinite;
    max-width: 50px;
  }
}

@media screen and (min-width: 578px) and (max-width: 1200px) {
  .content-img {
    max-width: 268px;
    position: absolute;
    right: 25%;
    top: 9%;
    animation: bounce 5s ease-in-out infinite;
  }

  .message-img {
    position: absolute;
    left: 10%;
    bottom: 26%;
    animation: rotate 50s linear infinite;
    max-width: 85px;
  }

  .bell-img {
    position: absolute;
    right: 4%;
    top: 18%;
    animation: rotate 50s linear infinite;
    max-width: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .content-img {
    max-width: 250px;
    position: absolute;
    right: 25%;
    top: 9%;
    animation: bounce 5s ease-in-out infinite;
  }

  .message-img {
    position: absolute;
    left: 10%;
    bottom: 26%;
    animation: rotate 50s linear infinite;
    max-width: 90px;
  }

  .bell-img {
    position: absolute;
    right: 4%;
    top: 18%;
    animation: rotate 50s linear infinite;
    max-width: 90px;
  }
}

.colourtex {
  color: #967CFF !important;
}

.circular-bg {
  background-color: #fff !important;
  width: 50px;
  color: #170074 !important;
  height: 50px;
  border: 1px solid #170074 !important;
  border-radius: 50%;
  margin: -8px 22px 15px 24px;
  padding: 10px;
  text-align: center !important;
}

.othethancontainer {
  background-color: #fff !important;
}

.square-bg {
  background-color: #EDE8FF !important;
  width: 50px;
  color: #967CFF !important;
  height: 50px;
  border-radius: 10px !important;
  margin: 0 auto !important;
  padding: 10px;
}

.mx-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.color142346 {
  color: #142346 !important;
}

.bgf7 {
  background: #F7F7F7 !important;
}

.contactustext {
  color: #170074 !important;
}

.adjustmentsimg {
  width: 97px !important;
  height: 70px !important;
}

.linehg {
  line-height: 1 !important;
}

.linehgfloat15 {
  line-height: 1.5 !important;
}

.globalfontcolour {
  color: #050D40 !important;
}

.buildingfontcolour {
  color: #0E0E2C !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.cardstextcolour {
  color: #313131 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.otherbgblue {
  background: #142346 !important;
}

.whiteline {
  border-bottom: 1px solid #5D667C !important;
}

.buttonhovercss {
  text-align: center !important;

  li {
    list-style: none !important;
  }

  a {
    text-decoration: none !important;
    background: #FFF !important;
    border-radius: 10px !important;
    color: #142346 !important;
    border: 1px solid #142346 !important;
    padding: 10px 33px !important;
    line-height: 1.5 !important;
  }
}

.buttonhovercss li a:hover {
  color: #fff !important;
  background: #142346 !important;
  border: 1px solid #142346 !important;
}

.demonow {
  color: #142346 !important;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.btns .circular-bg img {
  cursor: pointer;
  animation: bounce 1s infinite;
}

.btns .circular-bg img:hover {
  animation-play-state: paused;
}

.max-width73 {
  max-width: 73% !important;
}