<!-- <div class="products-sms-api text-break">
    <div class="container">
        <div class="emptyheightdiveighty"></div>
        <div class="row mb-28">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="fw-700">Engage your customers<br>globally with SMS APIs</div>
                <div class="emptyheightdivthirty"></div>
                <p>Alerts, pin codes, appointment reminders, promotions? Whatever the situation, our SMS service ensures
                    you’re relevant and timely.&nbsp;&nbsp;</p>
                <div class="emptyheightdivthirty"></div>
                <div class="emptyheightdivthirty"></div>
                <div class="btns d-flex gap-3">
                    <button class="btn brand-bgcolor contact-us" (click)="contactUs()">
                        Try for free
                    </button>
                    <button class="btn btn-brand btn-brand-outline contact-us" (click)="contactUs()">Contact Us</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <figure class="position-relative">
                            <img src="../../assets/products/Group.png" alt="" class="img-fluid group-img">
                            <img src="../../assets/products/div.content-wrapper.png" alt=""
                                class="img-fluid content-img">
                            <img src="../../assets/products/Group-1000001825.png" alt="" class="img-fluid message-img">
                            <img src="../../assets/products/Group-1000001826.png" alt="" class="img-fluid bell-img">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="emptyheightdiveighty"></div>
        <h3 class="fw-700">Text anyone, anytime, anywhere</h3>
        <div class="emptyheightdivforty"></div>
        <div class="row mb-28">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-chat-square-quote"></i>
                <h4 class="fw-700 mt-3">Unbeatable engagement</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>Get instant attention and the highest reach.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-send-check"></i>
                <h4 class="fw-700 mt-3">Best-in-class SMS delivery</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>With our enterprise grade platform, we make sure your SMS messages always get through.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-globe"></i>
                <h4 class="fw-700 mt-3">Limitless global scalability</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>Sending SMS globally? We’ve got deep local and international knowledge and premium customer support!
                </p>
            </div>
        </div>
        <div class="emptyheightdiveighty"></div>
        <div class="fw-700">SMS API use cases</div>
        <div class="emptyheightdivforty"></div>
        <div class="row mb-28 justify-content-evenly">
            <div class="col-sm-12 col-md-6 col-lg-6  mt-2">
                <div class="p-5 mx-3">
                    <figure class="text-center">
                        <img src="../../assets/products/Account_notifications.png.png" alt="" class="img-fluid">
                    </figure>
                    <h4 class="fw-700 m-0 text-center">Account notifications</h4>
                    <div class="emptyheightdivthirty"></div>
                    <p class="text-center">Easily build a customer notifications system<br>by using our SMS API.
                    </p>
                    <div class="emptyheightdivthirty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <div class="p-5 mx-3">
                    <figure class="text-center">
                        <img src="../../assets/products/div.c-eKZEkL.png" alt="" class="img-fluid">
                    </figure>
                    <h4 class="fw-700 m-0 text-center">SMS customer service</h4>
                    <div class="emptyheightdivthirty"></div>
                    <p class="text-center">Send and receive SMS from a specially-
                        selected number or even port an existing one.
                    </p>
                    <div class="emptyheightdivthirty"></div>
                </div>
            </div>
        </div>
        <div class="row mb-28 justify-content-evenly">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <div class="mx-3 p-5">
                    <figure class="text-center">
                        <img src="../../assets/products/div.c-eKZEkL-1.png" alt="" class="img-fluid">
                    </figure>
                    <h4 class="fw-700 m-0 text-center">SMS marketing</h4>
                    <div class="emptyheightdivthirty"></div>
                    <p class="text-center">Build your own SMS Marketing Software with
                        our API and we’ll take care of the details.
                    </p>
                    <div class="emptyheightdivthirty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <div class="p-5 mx-3">
                    <figure class="text-center">
                        <img src="../../assets/products/div.c-eKZEkL-2.png" alt="" class="img-fluid">
                    </figure>
                    <h4 class="fw-700 m-0 text-center">Two-factor authentication</h4>
                    <div class="emptyheightdivthirty"></div>
                    <p class="text-center">Build a custom 2FA experience using secure
                        SMS codes to verify user credentials.
                    </p>
                    <div class="emptyheightdivthirty"></div>
                </div>
            </div>
        </div>
        <div class="emptyheightdivseventy"></div>

    </div>
    <div class="sixth-section">
        <div class="container">
            <div class="row justify-content-between py-57 px-2 mb-28 text-white">
                <div class="col-sm-12 col-md-5 col-lg-6 pe-5">
                    <div class="fw-700">See our SMS API Pricing</div>
                    <div class="emptyheightdivthirty"></div>
                    <p>Customers typically save 30% by switching to HealthOnUs SMS API, with lower list pricing and
                        automatic volume discounts.</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <p class="m-0">Starting at</p>
                    <div class="fw-700 m-0">INR 0.25</div>
                    <p class="m-0">Per Message</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="emptyheightdivseventy"></div>
        <div class="row mb-28">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-chat-square-quote"></i>
                <h4 class="fw-700 mt-4">Messaging API documentation</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>Our Messaging API supports sending and receiving both SMS and MMS. Check out our award-winning
                    developer docs to find out more.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-send-check"></i>
                <h4 class="fw-700 mt-4">15 minute code tutorial</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>In this tutorial, we show you how to build an SMS appointment reminder service in 15 minutes.
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <i class="bi bi-globe"></i>
                <h4 class="fw-700 mt-4">Overview: Hosted SMS</h4>
                <div class="emptyheightdivtwenty"></div>
                <p>Learn about sending and receiving SMS via an existing number with Our SMS.
                </p>
            </div>
        </div>
        <div class="emptyheightdivseventy"></div>
    </div>
    <div class="sixth-section">
        <div class="container">
            <div class="row justify-content-between align-items-end p-57 mb-28 text-white">
                <div class="col-sm-12 col-md-5 col-lg-6 pe-5">
                    <h1 class="fw-700 mb-28">Ready to get started?</h1>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <button class="btn btn-brand btn-brand-outline contact-us mb-28" (click)="contactUs()">Talk to
                        Expert</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--new code starts here-->
<div class="products-sms-api text-break bgf7">
    <div class="container">
        <div class="emptyheightdiveighty"></div>
        <div class="row mb-28">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="emptyheightdivseventy"></div>
                <h1 class="fw-700 font_h2">Engage your customers<br>globally with <span class="colourtex">SMS API</span></h1>
                <div class="emptyheightdivthirty"></div>
                <p class="text-dark fs-5 fw-normal font-family-Open Sans">
                    Alerts, pin codes, appointment reminders, promotions? Whatever the situation, our SMS service
                    ensures you're relevant and timely.&nbsp;&nbsp;
                </p>
                <div class="emptyheightdivthirty"></div>
                <div class="emptyheightdivthirty"></div>
                <div class="btns d-flex">
                    <p class="text-dark fs-6 fw-semibold font-family-Outfit contactustext">
                        Contact Us
                    </p>
                    <div class="circular-bg">
                        <figure class="d-flex text-center">
                            <img src="../../assets/products/arrowrightslight.svg" alt="arrowrightslight_ione" class="img-fluid"
                                id="animatedArrow" title="arrowrightslight_ione" (click)="contactUs()">
                        </figure>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <figure class="position-relative">
                            <img src="../../assets/products/usingphonewithcard.png" alt="usingphonewithcard_itwo" title="usingphonewithcard_itwo" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="emptyheightdiveighty"></div>
    </div>
    <div class="othethancontainer">
        <div class="emptyheightdivthirty"></div>
        <p class="text-center text-dark fs-1 fw-semibold font-family-Outfit globalfontcolour">
            Your one-stop Solution for global Messaging
        </p>
        <div class="emptyheightdivtwenty"></div>
        <div class="container">
            <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans buildingfontcolour">
                Building a complete SMS messaging solution is quick and easy with Telesign. With our
                <br>
                SMS gateway API, you can deliver text alerts, reminders, and notifications, facilitate two-way
                conversations,
                <br>
                and communicate anonymously with your customers – no matter where in the world they’re located.
            </p>
            <div class="emptyheightdiv"></div>
            <div class="row mb-28">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="square-bg text-center justify-content-center adjustmentsimg">
                        <figure>
                            <img src="../../assets/products/messagevideo.svg" alt="messagevideo_ithree" title="messagevideo_ithree"
                                class="img-fluid max-width73">
                        </figure>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p class="text-center text-dark fs-2 fw-semibold font-family-Open Sans linehg m-0 px-3 py-2">
                        Unbeatable
                        <br>
                        engagement
                    </p>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans  m-0 px-3 py-2">
                        Alerts, pin codes, appointment reminders, promotions? Whatever
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="square-bg text-center justify-content-center adjustmentsimg">
                        <figure>
                            <img src="../../assets/products/sendmessage.svg" alt="sendmessage_ifour" title="sendmessage_ifour"
                                class="img-fluid max-width73">
                        </figure>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p class="text-center text-dark fs-2 fw-semibold font-family-Open Sans  linehg  m-0 px-3 py-2">
                        Best-in-class SMS
                        <br>
                        delivery
                    </p>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans  m-0 px-3 py-2">
                        Alerts, pin codes, appointment reminders, promotions? Whatever
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="square-bg text-center justify-content-center adjustmentsimg">
                        <figure>
                            <img src="../../assets/products/globewitharrows.svg" alt="globewitharrows_ifive" title="globewitharrows_ifive"
                                class="img-fluid max-width73">
                        </figure>
                    </div>
                    <div class="emptyheightdivtwenty"></div>
                    <p class="text-center text-dark fs-2 fw-semibold font-family-Open Sans  linehg m-0 px-3 py-2">
                        Limitless global
                        <br>
                        scalability
                    </p>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans  m-0 px-3 py-2">
                        Alerts, pin codes, appointment reminders, promotions? Whatever
                    </p>
                </div>
                <div class="emptyheightdivthirty"></div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivthirty"></div>
    <div class="container">
        <p class="text-black fs-1 fw-semibold font-family-Outfit linehgfloat15">
            Scale from concept to global <br>
            solution with flexible SMS APIs
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="emptyheightdiv"></div>
                <figure>
                    <img src="../../assets/products/illustration.png" alt="illustration_isix" title="illustration_isix" class="img-fluid">
                </figure>
                <div class="emptyheightdivthirty"></div>
                <p class="text-center text-dark fs-2 fw-semibold font-family-Open Sans">
                    Programmable Messaging API
                </p>
                <div class="emptyheightdivten"></div>
                <p class="text-center text-dark fs-5 fw-semibold font-family-Open Sans">
                    Send transactional MMS, SMS, and WhatsApp<br>messages with a single API.
                </p>
                <div class="emptyheightdivthirty"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivten"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivten"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivthirty"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <figure>
                    <img src="../../assets/products/phonewithmulti.png" alt="phonewithmulti_iseven" title="phonewithmulti_iseven" class="img-fluid">
                </figure>
                <div class="emptyheightdivthirty"></div>
                <p class="text-center text-dark fs-2 fw-semibold font-family-Open Sans">
                    Conversations API
                </p>
                <div class="emptyheightdivten"></div>
                <p class="text-center text-dark fs-5 fw-semibold font-family-Open Sans">
                    Drive two-way engagement with cross-channel<br>messaging for MMS and more using a single API.
                </p>
                <div class="emptyheightdivthirty"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivten"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivten"></div>
                <div class="d-flex align-items-center text-center justify-content-center">
                    <i class="fa-solid fa-circle-check fa-2xl color142346"></i>
                    <p class="text-center text-dark fs-5 fw-normal font-family-Open Sans mx-3">
                        We are looking for passionate people who can help
                    </p>
                </div>
                <div class="emptyheightdivthirty"></div>
            </div>
        </div>
    </div>

    <div class="othethancontainer">
        <div class="container">
            <p class="text-dark fs-1 fw-semibold font-family-Outfit">
                SMS API use cases
            </p>
            <div class="row mb-28 justify-content-evenly">
                <div class="col-sm-12 col-md-6 col-lg-6  mt-2">
                    <div class="px-5 py-3 mx-3">
                        <figure class="text-center">
                            <img src="../../assets/products/Account_notifications.png.png" alt="Account_ieight" title="Account_ieight"
                                class="img-fluid">
                        </figure>
                        <h4 class="fw-700 m-0 text-center fw-600 cardstextcolour">Account notifications</h4>
                        <div class="emptyheightdivthirty"></div>
                        <p class="text-center fw-400 cardstextcolour">Easily build a customer notifications system<br>by
                            using our SMS API.
                        </p>
                        <div class="emptyheightdivthirty"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                    <div class="px-5 py-3 mx-3">
                        <figure class="text-center">
                            <img src="../../assets/products/div.c-eKZEkL.png" alt="products_ione" title="products_ione" class="img-fluid">
                        </figure>
                        <h4 class="fw-700 m-0 text-center fw-600 cardstextcolour">SMS customer service</h4>
                        <div class="emptyheightdivthirty"></div>
                        <p class="text-center fw-400 cardstextcolour">Send and receive SMS from a specially-
                            selected number or even port an existing one.
                        </p>
                        <div class="emptyheightdivthirty"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-28 justify-content-evenly">
                <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                    <div class="mx-3 px-5 py-3">
                        <figure class="text-center">
                            <img src="../../assets/products/div.c-eKZEkL-1.png" alt="products_itwo" title="products_itwo" class="img-fluid">
                        </figure>
                        <h4 class="fw-700 m-0 text-center fw-600 cardstextcolour">SMS marketing</h4>
                        <div class="emptyheightdivthirty"></div>
                        <p class="text-center fw-400 cardstextcolour">Build your own SMS Marketing Software with
                            our API and we’ll take care of the details.
                        </p>
                        <div class="emptyheightdivthirty"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                    <div class="px-5 mx-3 py-3">
                        <figure class="text-center">
                            <img src="../../assets/products/div.c-eKZEkL-2.png" alt="products_ithree" title="products_ithree" class="img-fluid">
                        </figure>
                        <h4 class="fw-700 m-0 text-center fw-600 cardstextcolour">Two-factor authentication</h4>
                        <div class="emptyheightdivthirty"></div>
                        <p class="text-center fw-400 cardstextcolour">Build a custom 2FA experience using secure
                            SMS codes to verify user credentials.
                        </p>
                        <div class="emptyheightdivthirty"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="otherbgblue">
        <div class="container">
            <div class="row justify-content-between py-5 text-white">
                <div class="col-sm-12 col-md-7 col-lg-7 pe-4">
                    <div class="fw-700 font_h2">We Offer Lowest SMS API Pricing</div>
                    <div class="emptyheightdivthirty"></div>
                    <p class="text-white fs-5 fw-normal font-family-Open Sans">
                        Customers typically save 30% by switching to HOU SMS API, with lower list pricing and automatic
                        volume discounts.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Starting at</p>
                    <div class="font_h2">INR 0.25</div>
                    <p>Per Message</p>
                </div>
            </div>
            <div class="whiteline"></div>
            <div class="emptyheightdivthirty"></div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <p class="text-white">FAQs</p>
                    <div class="emptyheightdivthirty"></div>
                    <h3 class="text-white">
                        Frequently Asked <br>
                        Questions
                    </h3>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="row">
                        <div class="accordion accordion-flush pt-3" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        <h5 id="at-20" class="c-accordion__title js-accordion-controller fontweight700"
                                            role="button" tabindex="0" aria-controls="ac-20" aria-expanded="true">We
                                            bring healthcare help
                                            beyond hospitals
                                            directly ?
                                        </h5>
                                    </button>
                                </h5>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Get access to an in-house team of proficient,
                                            professional,<br>and passionate
                                            healthcare
                                            personnel.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        <h5 id="at-21"
                                            class="c-accordion__title js-accordion-controller color0F0F25 fontweight700"
                                            role="button" tabindex="0" aria-controls="ac-21" aria-expanded="false">
                                            We bring healthcare help
                                            beyond hospitals
                                            directly ?
                                        </h5>
                                    </button>
                                </h5>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">We are connecting technology and healthcare
                                            to
                                            deliver<br>the best possible outcomes for
                                            patients.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        <h5 id="at-22"
                                            class="c-accordion__title js-accordion-controller color0F0F25 fontweight700"
                                            role="button" tabindex="0" aria-controls="ac-22" aria-expanded="false">
                                            We bring healthcare help
                                            beyond hospitals
                                            directly ?
                                        </h5>
                                    </button>
                                </h5>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">Get access to personalized healthcare
                                            services,
                                            including<br>nursing, pharmacy, and
                                            physiotherapy
                                            in a few clicks only.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                        <h5 id="at-23"
                                            class="c-accordion__title js-accordion-controller color0F0F25 fontweight700"
                                            role="button" tabindex="0" aria-controls="ac-23" aria-expanded="false">
                                            We bring healthcare help
                                            beyond hospitals
                                            directly ?
                                        </h5>
                                    </button>
                                </h5>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p class="paragraphlineheight">We strictly comply with all necessary
                                            guidelines
                                            and<br>policies to ensure your safety and
                                            well-being.</p>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="emptyheightdivforty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="othethancontainer">
        <div class="container">
            <div class="emptyheightdivseventy"></div>
            <p class="text-dark text-center fs-1 fw-semibold font-family-Outfit m-0 px-3 py-2 demonow">
                Request A demo now
            </p>
            <div class="emptyheightdivten"></div>
            <p class="text-center text-black fs-5 fw-normal font-family-Open Sans  m-0 px-3 py-2">
                Customers typically save 30% by switching to HOU SMS API, with lower list pricing and automatic
                volume discounts.
                <br>
                Loremu ipsum Loremu ipsum Loremu ipsum Loremu ipsum.
            </p>
            <div class="emptyheightdivtwenty"></div>
            <div class="buttonhovercss mt-4">
                <li><a class="wp-block-button__link wp-element-button has-text-align-start"
                        [routerLink]="['/contact-us']"><span class="fw-600">Contact Us</span></a>
                </li>
            </div>
            <div class="emptyheightdivforty"></div>
        </div>
    </div>
</div>
<!--new code ends here-->