.bgcolors {
    background: #f6f3ff !important;
    margin: 2em 0;
    padding: 2em;

    h2 {
        color: #30216b !important;
    }
}

.downloadapp {
    background-color: #967CFF;
    color: #fff !important;
    border-radius: 30px !important;
}

.flotright {
    float: right !important;
}

.color000 {
    color: #000 !important;
}

.fontw400 {
    font-weight: 400 !important;
}

.fontw600 {
    font-weight: 600 !important;
}

.color363434 {
    color: #363434 !important;
}

.circular-bgcontactcircle {
    background-color: #967CFF !important;
    padding: 6px 13px !important;
    text-align: center;
    border-radius: 50% !important;
    position: absolute;
    right: 64%;
    top: 6px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.btns .circular-bgcontactcircle img {
    cursor: pointer;
    animation: bounce 1s infinite;
}

.btns .circular-bgcontactcircle img:hover {
    animation-play-state: paused;
}

#animatedArrow {
    padding: 10px;
    background-color: #967CFF;
    border-radius: 50%;
}

.download-btn {
    padding: 1em 1em;
    background: #967cff;
    border-radius: 30px;
    color: #fff !important;
    width: 200px;
    text-align: center;
    margin: 1em auto;
}

.healthcarebg {
    background: #967CFF !important;
    color: #fff !important;
}

.whitelines {
    border-bottom: 1px solid #918CA2 !important;
}

.mlml13 {
    margin-right: 1.3rem !important;
    // margin-left: 1.3rem !important;
}

.bgfff {
    background: #fff !important;
    padding: 2em 0;
}

.featurecard {
    background: #fff !important;
    border-radius: 10px !important;
    height: 200px !important;
    padding: 1em !important;
    box-shadow: 0px 0px 10px 0px #e7e7e7;
}

.featurecard {
    .stephead {
        font-size: 1.2em;
        color: #050D40 !important;

    }

    .steppara {
        color: #4a4a4a !important;
        font-size: 16px;
    }

}

.color918CA2 {
    color: rgba(49, 49, 49, 0.6) !important;
}

.onhoverpointer {
    cursor: pointer !important;
}

.bbnone {
    border-bottom: none !important;
}

.br10 {
    border-radius: 10px !important;
    margin-bottom: 0.5em;
}

.accstyles {
    border-radius: 38px !important;
}

.bg6B {
    background: #6B53B6 !important;
    margin-top: 2em;
    padding: 2em;

    p {
        padding-bottom: 1em;
    }
}

.housercount {
    align-items: center !important;
    display: flex !important;
    padding: 2px !important;
}

.feature-text {
    p:nth-child(1) {
        padding: 0.5em 0;
        font-size: 20px;
        color: #050D40;
        font-weight: 600;
    }

    p:nth-child(2) {
        font-size: 16px;
        color: #4a4a4a;
    }
}

.m-all {

    h2 {
        margin: 0em 0 1em 0;
    }
}

.fixedheight {
    height: 65vh !important;
    width: auto !important;
}

@media only screen and (min-width: 260px) and (max-width: 1024px) {
    .mediaquerygapreduce {
        height: 0% !important;
    }
}

.af_row_margin {
    margin-top: 3em;
}

@media (max-width:576px) {
    .af_row_margin {
        margin-top: 0em !important;
    }

    .af_mar_top {
        margin-top: 2em !important;
    }

    .featurecard {
        margin-bottom: 1em;
        height: auto !important;
    }

    // h2 {
    //     padding-top: 1em;
    // }

    .bgcolor {
        margin-top: 1em !important;
    }

    .bgfff {
        padding: 0 !important;
    }
    .mediaquerygapreduce{
        margin-bottom: 1em;
    }
    .faq_pad{
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .bgcolors{
        padding: 32px 15px !important;
      }
}

.listtypedisc {
    list-style-type: disc !important;
}

.color6E778C {
    color: #6E778C !important;
}

.feature .accordion-button {
    padding: 0px !important;
}

.accordion-item {
    h5 {
        font-size: 0.8em;
    }

    p {
        color: #241946;
    }
}

h1,
h2,
h4 {
    color: #050D40;
}

span {
    color: #4a4a4a;
}

.mr-top{
    margin-top: 2em;
}
h1{
    margin-bottom: 0.5em;
}
.appfeatures{
    p{
        color: #4a4a4a !important;
    }
}