<div class="bgcolor mt-5">
    <div class="appfeatures">
        <div class="container">
            <div class="bgcolor" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="me-0" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
                    <div class="row align-items-center p-0 text-center">
                        <div class="col-sm-12 col-md-4 my-2 appfeatures" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="400">
                            <h1 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
                                Healthcare at Your Fingertips!
                            </h1>

                            <p class="color6E778C" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">
                                At HealthOnUs, we believe that healthcare should be convenient,
                                accessible, and personalized. That’s why we’ve created a mobile
                                app that brings a world of homecare services to your fingertips.
                            </p>

                            <div class="download-btn cursorpointer" data-aos="flip-up" data-aos-duration="1000"
                                data-aos-delay="1200" (click)="popupopen()">
                                Download our App
                                <!-- <img [src]="environment?.websiteassetsURL + 'app-features/incliedright.png'" alt=""
                                    class="img-fluid mx-3 cursorpointer" id="animatedArrow" /> -->
                            </div>

                            <div class="d-flex mr-top">
                                <img [src]="environment?.websiteassetsURL + 'app-features/downloadss_people.png'" alt="downloadss_people_ione"
                                    class="img-fluid h-100" title="downloadss_people_ione" />
                                <p class="housercount">
                                    10k + HealthOnUs users Hyderabad and Visakhapatnam
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8 my-2 p-0" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="1200">
                            <img [src]="environment?.websiteassetsURL + 'app-features/Main Set App.png'" alt="Main_Set_itwo"
                                class="img-fluid h-25 flotright w-100" title="Main_Set_itwo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--exicting features-->
<div class="container">

    <div class="text-center font_h1 fontw600">
        Exciting Features of the HealthOnUs App!
    </div>
    <!--1st-->
    <div class="row af_row_margin">
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/timericon.svg'" alt="timericon_ithree" class="img-fluid"
                    title="timericon_ithree" />
            </figure>
            <div class="feature-text">
                <p>Health Management</p>
                <p>
                    Manage records, get medical advice, enjoy virtual consultations, and
                    more.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/fast_performance.svg'" alt="fast_performance_ifour"
                    class="img-fluid" title="fast_performance_ifour" />
            </figure>
            <div class="feature-text">
                <p>Multi-Platform Support</p>
                <p>
                    The HealthOnUs mobile app is available for download on both the App
                    Store and Play Store.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/unlimited_content.svg'" alt="unlimited_content_ifive"
                    class="img-fluid" title="unlimited_content_ifive" />
            </figure>
            <div class="feature-text">
                <p>User-Friendly Interface</p>
                <p>
                    Enjoy a smooth navigation experience with an easy-to-understand
                    graphical user interface (GUI).
                </p>
            </div>
        </div>
    </div>
    <!--2nd-->
    <div class="row af_row_margin">
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/ultimate_custom.svg'" alt="ultimate_custom_isix" class="img-fluid"
                    title="ultimate_custom_isix" />
            </figure>
            <div class="feature-text">
                <p>Accuracy and Privacy</p>
                <p>
                    Our app adheres to robust privacy and safety protocols, ensuring the
                    security of your data and protecting your privacy from
                    vulnerabilities.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/boost_productivity.svg'" alt="boost_productivity_iseven"
                    class="img-fluid" title="boost_productivity_iseven" />
            </figure>
            <div class="feature-text">
                <p>Alerts and Notifications</p>
                <p>
                    Stay informed! Receive app notifications, messages, or emails
                    regarding your booking details, health journey updates, and special
                    offers.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center af_mar_top">
            <figure>
                <img [src]="environment?.websiteassetsURL + 'app-features/customer_support.svg'" alt="customer_support_ieight"
                    class="img-fluid" title="customer_support_ieight" />
            </figure>
            <div class="feature-text">
                <p>Customer Support</p>
                <p>
                    Access 24/7 assistance for your queries and problems via our mobile
                    app's Help and Support tab.
                </p>
            </div>
        </div>
    </div>

</div>
<!--curtains-->
<div class="bgcolors">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 text-center mediaquerygapreduce">

                <img *ngIf="selectedAccordion === 'manageHealthProfile'"
                    [src]="environment?.websiteassetsURL + 'app-features/phone_img_1.png'" alt="phone_img_inine"
                    class="img-fluid fixedheight" title="phone_img_inine" />
                <img *ngIf="selectedAccordion === 'Vaccinations'"
                    [src]="environment?.websiteassetsURL + 'app-features/phone_img_2_2.png'" alt="phone_img_iten"
                    class="img-fluid fixedheight" title="phone_img_iten" />
                <img *ngIf="selectedAccordion === 'GRBS'"
                    [src]="environment?.websiteassetsURL + 'app-features/phone_img_3_3.png'" alt="phone_img_ieleven"
                    class="img-fluid fixedheight" title="phone_img_ieleven" />
                <img *ngIf="selectedAccordion === 'healthRecords'"
                    [src]="environment?.websiteassetsURL + 'app-features/phone_img_4_4.png'" alt="phone_img_itwelve"
                    class="img-fluid fixedheight" title="phone_img_itwelve" />
            </div>
            <div class="col-sm-12 col-md-7 align-self-center">

                <div class=" font_h2">
                    HealthOnUs Mobile App: Behind the curtains
                </div>

                <div class="feature">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="accordion-header font_h2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    (click)="toggleAccordion('healthRecords')" data-bs-target="#flush-collapseOne"
                                    aria-expanded="false" [attr.aria-expanded]="selectedAccordion === 'healthRecords'"
                                    aria-controls="flush-collapseOne">
                                    <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">
                                        <strong>Health Records</strong>
                                    </h5>
                                </button>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse"
                                data-bs-parent="#accordionFlushExample">
                                <p class="mlml13">
                                    Our app securely stores your medical records and history,
                                    allowing users to access them anytime, anywhere.
                                </p>

                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="accordion-header font_h2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    (click)="toggleAccordion('manageHealthProfile')" data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false" [attr.aria-expanded]="
                    selectedAccordion === 'manageHealthProfile'
                  " aria-controls="flush-collapseTwo">
                                    <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">
                                        <strong>Manage Profiles for Self and Family</strong>
                                    </h5>
                                </button>
                            </div>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <p class="mlml13">
                                    Our app simplifies managing multiple profiles, including your
                                    own and those of family members.
                                </p>

                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="accordion-header font_h2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    (click)="toggleAccordion('GRBS')" data-bs-target="#flush-collapseThree"
                                    aria-expanded="false" [attr.aria-expanded]="selectedAccordion === 'GRBS'"
                                    aria-controls="flush-collapseThree">
                                    <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">
                                        <strong>Vitals and GRBS Monitoring</strong>
                                    </h5>
                                </button>
                            </div>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <p class="mlml13">
                                    Effortlessly save, track, and monitor vital signs for both you
                                    and your family. Stay informed about health trends.
                                </p>

                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header font_h2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    (click)="toggleAccordion('Vaccinations')" data-bs-target="#flush-collapseFour"
                                    aria-expanded="false" [attr.aria-expanded]="selectedAccordion === 'Vaccinations'"
                                    aria-controls="flush-collapseFour">
                                    <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">
                                        <strong> Vaccination Tracking</strong>
                                    </h5>
                                </button>
                            </div>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <p class="mlml13">
                                    Keep a comprehensive record of all vaccinations to enhance
                                    your health management.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--featuring cards-->
<div class="bgfff">
    <div class="container">
        <div class="text-center  m-all">
            <h2>Avail Service in 4 simple Steps</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurecard">
                    <div class="text-center font_h1 color918CA2">01</div>

                    <p class="text-center text-white stephead">Download and Sign Up</p>

                    <p class="text-center text-white steppara">
                        Get started by downloading our app and creating an account.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurecard">
                    <div class="text-center font_h1 color918CA2">02</div>
                    <p class="text-center text-white stephead">Select Your Service</p>
                    <p class="text-center text-white steppara">
                        Choose from a range of services tailored to your needs.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurecard">
                    <div class="text-center font_h1 color918CA2">03</div>
                    <p class="text-center text-white stephead">
                        Pick Your Preferred Slot
                    </p>
                    <p class="text-center text-white steppara">
                        Select a convenient time slot that works for you.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurecard">
                    <div class="text-center font_h1 color918CA2">04</div>
                    <p class="text-center text-white stephead">Make Payment and Enjoy</p>
                    <p class="text-center text-white mx-2 steppara">
                        Complete the payment process and let us take care of the rest!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--faq's-->
<div class="bg6B">

    <p class="fs-2 fontw600 text-white text-center">Frequently Asked Questions</p>

    <div class="contactusfaq">
        <div class="container faq_pad">
            <div class="accordion accordion-flush" id="faqlist1">
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-1">
                            What can I access when I login?
                        </button>
                    </div>
                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            Once you login, you will unlock a suite of features and services on our app. This includes
                            Nursing services, Physiotherapy services, Pharmacy Services, access to your complete
                            profile, and exclusive offers from HealthOnUs. Please note that the specific features and
                            services available to you may vary based on your location and other conditions. If you run
                            into any issues, don’t hesitate to reach out to us at
                            <a href="mailto:customersupport@healthonus.io">
                                <u> customersupport&#64;healthonus.io</u> </a>. We will be happy to help you!
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-2">
                            How can I update my profile?
                        </button>
                    </div>
                    <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            To update your profile, log in to your profile account and go to ‘Mange my Profile’ section.
                            There, you can edit your personal information, Health, and social habits. If you have any
                            trouble, you may also contact us at
                            <a href="mailto:customersupport@healthonus.io">
                                <u> customersupport&#64;healthonus.io </u>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-3">
                            Where can I check my order status?
                        </button>
                    </div>
                    <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            To check your order status, navigate to the ‘order History’ section in the app. Find your
                            order in the list. We also provide regular updates through push notifications, SMS, and
                            emails to keep you informed at every step. If there are any delays or changes in your order,
                            we will promptly contact you with updates.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-6">
                            Can I make the payment by cash after service completion?
                        </button>
                    </div>
                    <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            We encourage only online payments and payments must be made before availing the service.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-7">
                            What are the different payments methods in the app?
                        </button>
                    </div>
                    <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            <ol>
                                <li class="listtypedisc">Phonepe</li>
                                <li class="listtypedisc">GPay</li>
                                <li class="listtypedisc">Paytm</li>
                                <li class="listtypedisc">UPI all options( Phonepe, Gpay, Paytm, Net banking
                                    applications)</li>
                                <li class="listtypedisc">Credit/Debit cards</li>
                                <li class="listtypedisc">Razorpay</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-8">
                            What is the minimum cart value to order medicines?
                        </button>
                    </div>
                    <div id="faq-content-8" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            The minimum cart value to order medicine is 200 rupees.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-9">
                            Why I am unable to apply coupons while ordering medicines?
                        </button>
                    </div>
                    <div id="faq-content-9" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            Coupons are not applicable for medicines. You can avail coupons while placing a service
                            request for Nursing and Physiotherapy.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-10">
                            What services are you providing?
                        </button>
                    </div>
                    <div id="faq-content-10" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            We offer a range of home healthcare services including Physiotherapy, Nursing care, and
                            pharmacy delivery. Each of these categories encompasses a variety of sub-services. For a
                            comprehensive understanding of all the services we provide, we encourage you to explore our
                            app in detail.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <div class="accordion-header font_h2">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-11">
                            What is the processing time for my request?
                        </button>
                    </div>
                    <div id="faq-content-11" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            Your request will be processed promptly, typically within minutes.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-12">
                            Will my medical and personal information remain confidential with your company?
                        </button>
                    </h2>
                    <div id="faq-content-12" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            Yes, rest assured that any information you provide via the app is kept strictly private and
                            confidential. For more details, please refer to our privacy policy.
                        </div>
                    </div>
                </div>
                <div class="accordion-item bbnone br10">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-content-13">
                            Can I choose my caregiver?
                        </button>
                    </h2>
                    <div id="faq-content-13" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                        <div class="accordion-body">
                            Upon confirmation, a professional caregiver will be assigned to you based on your specific
                            needs.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="display">
    <app-modal-popup></app-modal-popup>
</div>