<div class="careat">
  <div class="img">
    <img [src]="environment?.websiteassetsURL + 'center_image_careatcentertransition (2).png'" alt="center_image_ione" title="center_image_ione" />
    <div class="bottom-left fs-2 color313131">
      Comprehensive physio & Rehab center
    </div>
    <h1 class="bottom-left2 color031B4E">Physio & Rehab Services</h1>
  </div>
  <div>
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-9 my-2 align-self-center container text-center">
        <div class="emptyheightdivhundred">
          <h2>Physio & Rehab Services</h2>
        </div>
        <p class="aboutp paddingleftright">
          At HealthOnUs center, we understand the importance of a swift and
          seamless recovery. Our highly skilled physiotherapists provide you
          with expert care tailored to address your specific needs. With the
          right skills and extensive training, our physiotherapy team is
          equipped to guide you through a comprehensive rehabilitation journey.
          We have expertise in various techniques, from fundamental exercises to
          advanced modalities. With specialized knowledge in physiotherapy
          exercise, McKensie Technique, Cryotherapy, Taping, Manual Therapy, and
          more, our therapists are equipped to address diverse needs and
          conditions.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="services_desc">
        <h4>Orthopaedic or Musculoskeletal</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'pharmacy/orthopedic.svg'" alt="orthopedic_itwo" title="orthopedic_itwo" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span>Pain management</span>
                      </li>

                      <li>
                        <span>Injury rehabilitation</span>
                      </li>

                      <li>
                        <span>Post-operative rehabilitation</span>
                      </li>
                      <li>
                        <span>Sports physiotherapy</span>
                      </li>

                      <li>
                        <span>Manual therapy</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <ul class="lower">
                      <li>
                        <span>Exercise therapy</span>
                      </li>
                      <li>
                        <span>Electrotherapy</span>
                      </li>
                      <li>
                        <span>Acupuncture</span>
                      </li>
                      <li>
                        <span>Low Back Ache</span>
                      </li>
                      <li>
                        <span>Work injury rehabilitation</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="services_desc">
        <h4>Neurological and Paediatric</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'pharmacy/Neurological.svg'" alt="Neurological_ithree" title="Neurological_ithree" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span>Neurological Conditions</span>
                      </li>

                      <li>
                        <span>Paediatrics</span>
                      </li>
                      <li>
                        <span>Spinal Cord Injury / Paraplegia</span>
                      </li>
                      <li>
                        <span>Vestibular Rehabilitation & Neuro Rehabilitation</span>
                      </li>
                      <li>
                        <span>Paralysis</span>
                      </li>
                      <li>
                        <span>Parkinson's Disease</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <ul class="lower">
                      <li>
                        <span>GBS</span>
                      </li>
                      <li>
                        <span>Foot Drop / Wrist Drop</span>
                      </li>
                      <li>
                        <span>Head Injury</span>
                      </li>
                      <li>
                        <span>Cerebral Palsy</span>
                      </li>
                      <li>
                        <span>Delayed Milestone Development</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="services_desc">
        <h4>Cardio and Respiratory</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'pharmacy/cardio.svg'" alt="cardio_ifour" title="cardio_ifour" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span>Cardiothoracic</span>
                      </li>
                      <li>
                        <span>Respiratory</span>
                      </li>
                      <li>
                        <span>Pulmonary rehabilitation</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <ul class="lower">
                      <li>
                        <span>Cardio - Thoracic Rehab</span>
                      </li>
                      <li>
                        <span>Respiratory / Chest Physiotherapy</span>
                      </li>
                      <li>
                        <span>Post op Rehab of CABG/Bypass</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="services_desc">
        <h4>General well-being, Pregnancy and Elderly care</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img [src]="environment?.websiteassetsURL + 'pharmacy/general-wellbeing.svg'" alt="general_wellbeing_ifive" title="general_wellbeing_ifive" />
              </div>
              <div class="col-md-8 align-self-center">
                <div class="row pad-a">
                  <div class="col-sm-12 col-md-6">
                    <ul class="upper">
                      <li>
                        <span>Posture correction</span>
                      </li>

                      <li>
                        <span>Strength and conditioning</span>
                      </li>
                      <li>
                        <span>Balance and coordination training</span>
                      </li>
                      <li>
                        <span>Fall prevention</span>
                      </li>
                      <li>
                        <span>Osteoporosis management</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <ul class="lower">
                      <li>
                        <span>Back pain relief</span>
                      </li>
                      <li>
                        <span>Pelvic floor muscle training</span>
                      </li>
                      <li>
                        <span>Preparation of childbirth</span>
                      </li>
                      <li>
                        <span>Postpartum recovery</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="aboutp paddingleftright text-center p-all">
        At the Center, our in-house team of certified and experienced physiotherapists is dedicated to your well-being.
        They will assess your health concerns, create a personalized therapy plan, and work in harmony with your
        physician’s medications. With the use of standard techniques and advanced equipment, we strive to expedite your
        recovery and provide guidance on the benefits, considerations, and necessary precautions throughout your
        treatment
        journey.
      </p>
    </div>
  </div>
</div>
<div class="darkbgsblue">
  <div class="container">

    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">Download</div>
        <div class="step-desc">Download from app store/play store</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">Register</div>
        <div class="step-desc">Register with your mobile number or email ID</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">3</div>
        <div class="step-name">Select Service</div>
        <div class="step-desc">Choose any of our services</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">4</div>
        <div class="step-name">Enjoy</div>
        <div class="step-desc">Get care at your comfort of home</div>
      </div>
    </div>
    <div class="downloadmbapp text-center">
      <li>
        <a class="wp-block-button__link wp-element-button has-text-align-start" (click)="popupopen()">Download Mobile
          App</a>
      </li>
    </div>
  </div>
  <div *ngIf="display">
    <app-modal-popup></app-modal-popup>
  </div>
</div>
<div class="bg6B">

  <p class="fs-2 fontw600 text-white text-center">Frequently Asked Questions</p>
  <div class="contactusfaq">
    <div class="container faq_pad">
      <div class="accordion accordion-flush" id="faqlist1">
        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-1">
              When should I visit a doctor and when should I visit a physiotherapist? Can you suggest?
            </button>
          </div>
          <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              Severe injuries requiring medical or surgical treatment should be addressed by a doctor. Our certified
              physiotherapists at our centers can assess the severity of your condition and guide you on the appropriate
              healthcare professional to consult.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-2">
              Are physiotherapists different from physical therapists?
            </button>
          </div>
          <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              No, physiotherapists and physical therapists are the same. The terms are interchangeable.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-3">
              Can your physiotherapists perform surgery?
            </button>
          </div>
          <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              No, physiotherapists are not trained to perform surgery. They work collaboratively with other healthcare
              professionals and doctors to help prevent and heal from surgeries.
            </div>
          </div>
        </div>

        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-4">
              Will physiotherapists prescribe medicines?
            </button>
          </div>
          <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              The authority to prescribe medicines varies based on location and medical boards. Some physiotherapists
              may have licenses to prescribe pain-relieving medications.
            </div>
          </div>
        </div>
        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-5">
              When should I visit your physiotherapist?
            </button>
          </div>
          <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              If you experience persistent pain for more than three days that affects your mobility and range of motion,
              it is advisable to schedule a physiotherapy session to aid your recovery.
            </div>
          </div>
        </div>
        <div class="accordion-item bbnone br10">
          <div class="accordion-header font_h2">
            <button class="accordion-button collapsed accstyles" type="button" data-bs-toggle="collapse"
              data-bs-target="#faq-content-6">
              What are the specialties of HealthOnUs physiotherapy?
            </button>
          </div>
          <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
            <div class="accordion-body">
              Our physiotherapists cover a comprehensive range of therapies such as cardiorespiratory conditions,
              musculoskeletal issues, oncology, neurological complaints, sports-related injuries, etc.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>