<!-- <div class=" careatcentermaindiv ms-5 me-5">
    <div class="firstdiv">
        <div class="container">
            <div class="bgeff5ff">
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <h2 class="wp-block-heading has-text-align-center">A Heaven of Healing</h2>
                <h2 class="wp-block-heading has-text-align-center"><span class="color7465ad">Where Care Meets Compassion</span></h2>
                <div aria-hidden="true" class="emptyheightdivthirty"></div>
                <p class="has-text-align-center paragraphlineheight">Experience the utmost dedication to your well-being
                    with our team of highly
                    skilled nursing specialists, pharmacists, and physiotherapists. We are committed to providing
                    comprehensive support and supervision throughout your journey, prioritizing your health, and
                    ensuring a
                    nurturing environment for your complete well-being.</p>
                <div aria-hidden="true" class="emptyheightdiv"></div>
                <div class="firstimagediv">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 addressdiv">
                                <img class="img-fluid" src="../../assets/careathome/imgone.png" alt="" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 addressdiv">
                                <img class="img-fluid img-2" src="../../assets/careathome/imgtwo.png" alt="" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 addressdiv">
                                <img class="img-fluid img-3" src="../../assets/careathome/imgthree.png" alt="" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 addressdiv">
                                <img class="img-fluid" src="../../assets/careathome/imgfour.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="efficientclass">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 imgcolumn">
                <img class="img-fluid" src="../../assets/careathome/efficient.png" alt="" />
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="container">
        <h2 class="wp-block-heading has-text-align-left">Transforming your <span
                class="headerfontcolor">healthcare</span>
            experiences</h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <h3 class="wp-block-heading">At HealthOnUs Care Center:</h3>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 description">
                    <p class="paragraphlineheight"><strong>Your One-Stop Solution for All Your Healthcare
                            Needs</strong><br>Our team of highly trained
                        healthcare support staff is available 24/7 to provide you with the best and most comprehensive
                        healthcare services. We ensure that all our services comply with HIPAA and other essential
                        government
                        policies, prioritizing your privacy and security.</p>

                    <div class="buttonhovercss">
                        <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                                [routerLink]="['/aboutus']">Know more</a></li>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 ">
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center ">
                    <img class="descriptionimg img-fluid" src="../../assets/careathome/imgfive.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    </div>
    <div class="container">
        <h2 class="wp-block-heading has-text-align-left">What sets <span class="color7465ad">“HealthOnUs” Care
                Center</span> Apart</h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
        <h3 class="wp-block-heading has-text-color color7465ad">Exceptional Care</h3>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 description imgsix">
                    <p class="paragraphlineheight"><strong>A New Dawn in Healthcare Standards</strong></p>
                    <p class="paragraphlineheight">At HealthOnUs, our mission is to provide the best possible care to
                        everyone we serve. We recognize the
                        challenges and issues prevalent in current healthcare facilities, especially with the emergence
                        of new
                        diseases. We believe that quality care should be accessible to all individuals. With this
                        vision, we are
                        dedicated to redefining healthcare standards and ensuring that everyone receives exceptional
                        care at our
                        Care Center.</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 ">
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careathome/imgsix.png" alt="" />
                </div>
            </div>
            <div aria-hidden="true" class="emptyheightdiv"></div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 description imgseven">
                    <p class="paragraphlineheight"><strong>Sustainable Healthcare Continuum</strong></p>
                    <p class="paragraphlineheight">At our Center, we offer specialized healthcare support to help you
                        avoid hospital admission and
                        readmission. With a team comprising nursing specialists, doctors, therapists, pharmacists, and
                        health
                        investigators, you will receive end-to-end support for your recovery all under one roof,
                        providing a
                        comforting environment akin to home. We understand the overwhelming nature and potential costs
                        associated with hospital stays.</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 ">
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <img class="descriptionimg img-fluid" src="../../assets/careathome/imgseven.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivhundred"></div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <div class="downloadclass">
        <div class="container">
            <app-common-download></app-common-download>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
    <h2 class="wp-block-heading has-text-align-center">FAQs</h2>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
    <div class="accordianclass">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <div id="at-657" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-657" aria-expanded="false">Is HealthOnUs
                                        Healthcare a
                                        government agency?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, HealthOnUs Healthcare is a private agency. We
                                        have
                                        obtained all the necessary certifications
                                        and adhere to relevant policies to ensure compliance with the law.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <div id="at-658" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-658" aria-expanded="false">What are your
                                        operating
                                        hours?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We are available 24/7 to provide healthcare services
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <div id="at-659" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-659" aria-expanded="false">What happens if a
                                        patient
                                        requires a specialist?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">At our health care center, we have doctors available.
                                        However, if a patient requires
                                        specialized
                                        medical treatment, we will arrange for the patient to be transferred to a
                                        hospital
                                        for the best
                                        possible care.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    <div id="at-6510" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6510" aria-expanded="false">What happens if a
                                        patient
                                        requires surgery?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">If a patient requires special medical treatment or
                                        surgery, we will coordinate the
                                        patient’s
                                        transfer to a hospital for the necessary procedures.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    <div id="at-6511" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6511" aria-expanded="false">How do you recruit
                                        your
                                        nursing specialists,
                                        therapists, pharmacists, and lab experts?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We carefully hire qualified and skilled professionals
                                        in
                                        various healthcare fields following a
                                        rigorous recruitment process. Our recruitment process includes evaluating
                                        qualifications, and
                                        experience, and conducting interviews to ensure we have a competent team.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    <div id="at-6512" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6512" aria-expanded="false">Do I need to sign a
                                        long-term contract?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, we do not require any long-term contract.
                                        However, we
                                        will create a customized
                                        care plan
                                        catering to your specific needs and health condition, and you will be charged
                                        accordingly.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                    <div id="at-6512" class="c-accordion__title js-accordion-controller" role="button"
                                        tabindex="0" aria-controls="ac-6513" aria-expanded="false">Is there any
                                        specialized healthcare support for children?</div>
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">Yes, we provide healthcare services for all ages. At
                                        HealthOnUs, you can get specialized care for your children from specialists.</p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" class="wp-block-spacer emptyheightdiv"></div>
</div> -->

<div class="careatcenter">
    <div class="container">
        <div aria-hidden="true" class="emptyheightdivhundred"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div aria-hidden="true" class="emptyheightdivseventy"></div>
                <p class="fs-2 colors050D40 fontw600 lnheight">HealthOnUs Center</p>
                <p class="fs-2 fontw600 colors967CFF">A Heaven of Healing</p>
                <p class="fs-2 fontw600 colors050D40 lnheight">Where Care Meets Compassion</p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <p class="text-dark fs-5 fw-normal font-family-Open Sans">
                    Entrust your journey to recovery to the seasoned expertise at HealthOnUs. We pledge to deliver
                    exceptional, comprehensive care, meticulously tailored to your unique needs.
                    &nbsp;&nbsp;
                </p>
                <div aria-hidden="true" class="emptyheightdivforty"></div>
                <div class="btns d-flex">
                    <p class="text-dark fs-6 fw-semibold font-family-Outfit contactustext">
                        Contact Us
                    </p>
                    <div class="circular-bgcontactcircle">
                        <figure class="d-flex text-center">
                            <a [routerLink]="['/contact-us']">
                                <img src="../../assets/products/arrowrightslight.svg" alt="arrowrightslight_ione" title="arrowrightslight_ione" class="img-fluid"
                                    id="animatedArrow">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 imgesizeborder">
                <owl-carousel-o [options]="customOptions" class="imgesizeborder">
                    <ng-container *ngFor="let image of images">
                        <ng-template carouselSlide>
                            <img src="{{ image }}" alt="care_at_centre_itwo" class="img-fluid" title="care_at_centre_itwo">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
        <div aria-hidden="true" class="emptyheightdivforty"></div>
        <div class="row">
            <p class="text-center fs-2 colors050D40 fontw600">Embark on a New Journey of Healing and Strength</p>
            <div aria-hidden="true" class="emptyheightdivtwenty"></div>
            <p class="text-center colors313131 fontw400">There is a journey to recovery with the seasoned expertise at
                HealthOnUs. We pledge to deliver exceptional, comprehensive care, meticulously tailored to your unique
                needs.</p>
        </div>
        <div aria-hidden="true" class="emptyheightdivforty"></div>
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-3 my-2">
                <div class="px-2 bg967CFF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg mx-2">
                        <figure>
                            <img src="../../assets/careathome/doctorwithstethinpurple.svg" alt="doctorwithstethinpurple_ithree" class="img-fluid"
                                title="doctorwithstethinpurple_ithree">

                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="text-white fontw600 mx-2">Transition Care Unit</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="text-white fontw400 mx-2">Experience a seamless, comforting, and effective journey to
                        recovery. </p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/healthecgraph.svg" alt="healthecgraph_ifour" class="img-fluid" title="healthecgraph_ifour">

                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">Intensive Care Unit</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">State-of-the-art equipment and personalized care for each
                        patient.</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/examinereport.svg" alt="examinereport_ifive" class="img-fluid" title="examinereport_ifive">
                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">Physiotherapy rehab center</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">Injury recovery or recuperation from illness, we are your
                        one-stop destination.</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 my-2">
                <div class="px-2 bgEDE8FF br10px">
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div class="circular-bg2 mx-2">
                        <figure>
                            <img src="../../assets/careathome/time24.svg" alt="time_isix" class="img-fluid" title="time_isix">
                        </figure>
                        <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    </div>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw600 colors967CFF mx-2">Sick bay facility</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <p class="fontw400 colorsblack mx-2">A range of equipment from basic to advanced and
                        dedicated caregivers.</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                </div>
            </div>
            <div aria-hidden="true" class="emptyheightdivhundred"></div>
            <div class="row text-center">
                <p class="fs-2 colors050D40 fontw600">HealthOnUs multi-specialty care center <span
                        class="colors967CFF fontw600"></span>
                </p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <p class="colors313131 fontw400">Embark on an exemplary healthcare journey, guided by our highly skilled
                    and licensed professionals.</p>
            </div>
            <div aria-hidden="true" class="emptyheightdiv"></div>
            <!--transition-->
            <div class="row" id="transition">
                <div class="col-sm-12 col-md-6">
                    <figure>
                        <img src="../../assets/careatcentre/patientreadingbook.png" alt="patientreadingbook_iseven" class="img-fluid" title="patientreadingbook_iseven">
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="colors050D40 fontw600 fs-2">Transition Care</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <ul class="ticklist">
                        <li>
                            <p class="colors313131 fontw400 mx-4"> A comprehensive
                                medical supervision and health support, empowering you to regain the physical and mental
                                strength to resume your daily lives with confidence.</p>
                        </li>
                    </ul>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <ul class="ticklist">
                        <li>
                            <p class="colors313131 fontw400 mx-4">A special care of skeletal muscle strength and
                                integrity through physiotherapy techniques. to help you gain normal or near-normal
                                function.</p>
                        </li>
                    </ul>
                    <div class="booknowbtn mt-4">
                        <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                                [routerLink]="['/careers']">Book Now</a>
                        </li>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="emptyheightdivtwenty"></div>
            <!--transition ends-->
        </div>
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <!--physio and rehab-->
        <div class="bg142346" id="physiorehab">
            <div class="row padding1em">
                <div class="col-sm-12 col-md-5 megamart">
                    <div aria-hidden="true" class="emptyheightdiv"></div>
                    <p class="text-white fs-2 fontw600 mx-3">Physio & Rehab Services</p>
                    <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                    <div>
                        <div aria-hidden="true" class="emptyheightdivthirty"></div>
                        <ul class="ticklist mx-3">
                            <li>
                                <p class="text-white fontw400 mx-4">They will assess your health concerns, create a
                                    personalized therapy plan, and work in harmony with your physician’s medications.
                                </p>
                            </li>
                        </ul>
                        <div aria-hidden="true" class="emptyheightdivthirty"></div>
                        <ul class="ticklist mx-3">
                            <li>
                                <p class="text-white fontw400 mx-4">With the use of standard techniques and advanced
                                    equipment, we strive to expedite your recovery and provide guidance on the benefits,
                                    considerations, and necessary precautions throughout your treatment journey</p>
                            </li>
                        </ul>
                        <div aria-hidden="true" class="emptyheightdivforty"></div>
                        <div class="newbooknowbtn mt-4 mx-3">
                            <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                                    [routerLink]="['/careers']">Book Now</a>
                            </li>
                        </div>
                        <div aria-hidden="true" class="emptyheightdiv"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7" style="display: flex !important; align-items: center !important;">
                    <figure>
                        <img src="../../assets/careatcentre/physiotreatmentbydocpatient.png" alt="physiotreatmentbydocpatient_ieight" class="img-fluid"
                            title="physiotreatmentbydocpatient_ieight">
                    </figure>
                </div>
            </div>
        </div>
        <!--physio and rehab ends-->
        <div aria-hidden="true" class="emptyheightdiv"></div>
        <!--mega pharma-->
        <div class="row" id="megamart">
            <div class="col-sm-12 col-md-6">
                <div aria-hidden="true" class="emptyheightdiv"></div>
                <figure>
                    <img src="../../assets/careatcentre/disucesstabletincreasse.png" alt="disucesstabletincreasse_inine" class="img-fluid" title="disucesstabletincreasse_inine">
                </figure>
                <div aria-hidden="true" class="emptyheightdiv"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div aria-hidden="true" class="emptyheightdiv"></div>
                <p class="colors050D40 fs-2 fontw600 mx-3">Mega Pharmacy Mart</p>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <ul class="ticklist mx-3">
                    <li>
                        <p class="colors313131 fontw400 mx-4">A diverse range of
                            medicines and medical equipment to complement your prescriptions.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <ul class="ticklist mx-3">
                    <li>
                        <p class="colors313131 fontw400 mx-4 text-white">Maintaining
                            pharmacy premises and systems to ensure optimal functionality.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <ul class="ticklist mx-3">
                    <li>
                        <p class="colors313131 fontw400 mx-4 text-white">Ensuring
                            the
                            suitability of prescribed medications and providing medication advice.</p>
                    </li>
                </ul>
                <div aria-hidden="true" class="emptyheightdivtwenty"></div>
                <div class="booknowbtn mt-4">
                    <li><a class="wp-block-button__link wp-element-button has-text-align-start" href="#"
                            [routerLink]="['/careers']">Book Now</a>
                    </li>
                </div>
            </div>
        </div>
        <!--mega pharma ends-->
        <div aria-hidden="true" class="emptyheightdiv"></div>
    </div>
    <div class="E9E9E9Line"></div>
    <div class="container">
        <div class="accordianclass accordiannewhomepage">
            <div class="container">
                <div class="row">
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <h1 class="color050D40 lineheight fontweight700 pt-3 text-center">
                        Frequently Asked Questions
                    </h1>
                    <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
                    <div class="accordion accordion-flush pt-3" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="accordion-header font_h5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <p id="at-20"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-20" aria-expanded="true">Is
                                        HealthOnUs healthcare a government agency?
                                    </p>
                                </button>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">No, HealthOnUs is a private agency. We have obtained
                                        all the necessary certifications and adhere to relevant policies to ensure
                                        compliance with the law.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <div class="accordion-header font_h5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <p id="at-21"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-21" aria-expanded="false">What are
                                        your operating hours?
                                    </p>
                                </button>
                            </div>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We are available 24/7 to provide healthcare services.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <div class="accordion-header font_h5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <p id="at-22"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-22" aria-expanded="false">What
                                        happens if a patient requires a specialist?
                                    </p>
                                </button>
                            </div>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">At HealthOnUs center, we have doctors available.
                                        However, if a patient requires specialized medical treatment, we will arrange
                                        for the patient to be transferred to a hospital for the best possible care.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <div class="accordion-header font_h5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    <p id="at-23"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-23" aria-expanded="false">What
                                        happens if a patient requires surgery?
                                    </p>
                                </button>
                            </div>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">If a patient requires special medical treatment or
                                        surgery, we will coordinate the patient's transfer to a hospital for the
                                        necessary procedures.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                        <div class="accordion-item">
                            <div class="accordion-header font_h5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    <p id="at-23"
                                        class="c-accordion__title js-accordion-controller color0F0F25 fontw600"
                                        role="button" tabindex="0" aria-controls="ac-23" aria-expanded="false">How do
                                        you recruit your nursing specialists, therapists, pharmacists, and lab experts?
                                    </p>
                                </button>
                            </div>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="paragraphlineheight">We carefully hire qualified and skilled professionals
                                        in various healthcare fields following a rigorous recruitment process. Our
                                        recruitment process includes evaluating qualifications, experience, and
                                        conducting interviews to ensure we have a competent team.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
                    </div>
                </div>
                <div aria-hidden="true" class="wp-block-spacer emptyheightdivthirty"></div>
            </div>
        </div>

    </div>
</div>