<div class="pharmacymaindiv ms-5 me-5">

    <div class="physiointro">
        <div class="physioh2">
            <h1 class="has-text-align-center">
                Convenience and Quality Combined: <br>
                All-in-One <span class="medications">Medication</span> Destination
            </h1>
        </div>
        <img src="../../assets/careatcentre/pharma-medicine-picking.png" alt="pharma_medicine_ione" title="pharma_medicine_ione" />
        <div class="container">
            <div class="physiopara">
                <p class="has-text-align-center">“At HealthOnUs, we are committed to making your healthcare journey
                    effective and pleasant by serving as your one-stop destination for all your medication requirements.
                    Rest assured, we provide 100% genuine products at competitive prices, ensuring your peace of mind
                    and
                    well-being”.</p>
            </div>
        </div>
    </div>

    <div aria-hidden="true" class="emptyheightdivten"></div>
    <div class="secondsection">
        <div class="container">
            <h2 class="mt-50">
                Stay on Top of Your <span class="medications">Medications</span>
            </h2>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <p>
                At HealthOnUs Center, we prioritize your medication management. Our
                expert pharmacists provide you with convenient access to medications and
                comprehensive care. From prescription refills to medication therapy
                management and immunizations, we offer attentive support to meet your
                unique needs. Discover how we can assist you in optimizing your
                medication regimen by downloading our user-friendly app. Take charge of
                your health today with reliable medication management services at
                HealthOnUs.
            </p>
            <div aria-hidden="true" class="emptyheightdivseventy"></div>
            <h2 class="healthandsafety">Your Health and Safety Above All</h2>
            <div aria-hidden="true" class="emptyheightdivforty"></div>
            <p>
                <strong>At HealthOnUs center, our pharmacists take on important
                    responsibilities to ensure the highest standards of patient care
                    by-</strong>
            </p>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
        </div>
        <div class="backgroundgrey">
            <div class="container">
                <div class="py-57 mb-28">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-6">
                            <ul class="ticklist">
                                <li>
                                    Taking care of dispensed medications including errors and
                                    prevention
                                </li>
                                <li>Ensuring Suitability of Prescribed Medications</li>
                                <li>
                                    Providing medication advice, including potential side effects
                                </li>
                                <li>Responding to patients’ queries</li>
                                <li>Adhering to Legal Regulations for Medication Supply</li>
                                <li>
                                    Maintaining Pharmacy Premises and Systems to Ensure Optimal
                                    Functionality
                                </li>
                                <li>Offering Expert Guidance to Patient</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-6">
                            <img src="../../assets/careatcentre/medicalimagedoctor.png" alt="medicalimagedoctor_itwo" class="img-fluid"
                                title="medicalimagedoctor_itwo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" />
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
            <h3 class="qualifiedpharmacists">Registered and Qualified Pharmacists</h3>
            <div aria-hidden="true" class="emptyheightdivthirty"></div>
        </div>
        <div class="emptyheightdiv-50"></div>
        <div class="backgroundpink">
            <div class="py-57 mb-28">
                <div class="container">
                    <div class="row position-relative">
                        <div class="col-sm-12 col-md-6">
                            <figure class="wp-block-image size-full">
                                <img src="../../assets/careatcentre/registerdoctor.png" alt="registerdoctor_ithree"
                                    class="img-fluid widthheight" title="registerdoctor_ithree" />
                            </figure>
                        </div>
                        <div class="col-sm-12 col-md-6 imagetext position-absolute ">
                            <p>At HealthOnUs Center, we prioritize your medication management. Our expert pharmacists
                                provide
                                you
                                with
                                convenient access to medications and comprehensive care. From prescription refills to
                                medication
                                therapy
                                management and immunizations, we offer attentive support to meet your unique needs.
                                Discover
                                how
                                we
                                can
                                assist you in optimizing your medication regimen by downloading our user-friendly app.
                                Take
                                charge
                                of
                                your health today with a reliable medication management services at HealthOnUs.</p>
                        </div>
                        <div class="emptyheightdiv"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <div class="downloadclass">
        <div class="container">
            <app-common-download></app-common-download>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
    <div class="faq">
        <div class="container">
            <h2 class="text-center fw-700">FAQs</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">What does a pharmacist do?</h5>
                    </button>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">Pharmacists dispense medications and provide expertise in
                                their safe use to promote healthier lives. They also conduct health screenings,
                                administer immunizations, and oversee medication adherence.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">What are the duties and responsibilities of a
                            pharmacist?</h5>
                    </button>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">Pharmacists are responsible for verifying and dispensing
                                medications, compounding pharmacy medicines if necessary, and providing health advice
                                based on symptom analysis.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">What makes a good Pharmacist?</h5>
                    </button>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">A good pharmacist possesses excellent moral character,
                                honesty in dealing with patients regarding their medications, and takes responsibility
                                for patient care through effective communication and meeting individual needs while
                                maintaining professionalism.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <h5 id="at-657" class="c-accordion__title js-accordion-controller" role="button" tabindex="0"
                            aria-controls="ac-657" aria-expanded="false">Who does a pharmacist work with?</h5>
                    </button>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="paragraphlineheight">Pharmacists work closely with Pharmacy Technicians to provide
                                patient education, recommend appropriate medications, and prepare medications if
                                required.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyheightdivhundred"></div>
</div>