<div class="commondownload downloadclassbg">
    <div class="background">
        <div class="container text-center">
            <h1>
                Your Complete Health Solution, Right in Your Palm
            </h1>
            <div class="row">
                <h3 class="commondcontent">Unlock limitless possibilities for you and your loved ones with
                    just a
                    click. Find us on the Play Store and App Store. Download Now!</h3>
                <div class="row position-relative">
                    <img [src]="environment?.websiteassetsURL + 'Mobile_Section (2).png'" alt="Mobile_Section_ione" class="img-fluid"
                        title="Mobile_Section_ione" />
                    <img [src]="environment?.websiteassetsURL + 'qrscanner.png'" alt="qrscanner_itwo"
                        class="img-fluid position-absolute scanner-img cursorpointer" title="qrscanner_itwo" (click)="playStore()">
                </div>
            </div>
        </div>
    </div>
</div>