<div class="content frs-content">
    <div class="container">

        <h1 class="wp-block-heading has-text-align-center mt2rem">Terms and Conditions</h1>



        <p>With effect from: 1 Jan 2023</p>

        <p>Revised on: 01 April 2024</p>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivten"></div>
        <p>Welcome to https://www.healthonus.io/ (“<strong>Website</strong>”) and the mobile application HealthOnUs
            (<strong>“App”</strong>) collectively referred to as the <strong>“Platform”</strong>. Please read these
            terms and conditions carefully before using this Platform.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>The Platform is operated by HealthOnUs Technologies Private Limited, having its registered office at Dwaraka
            Icon, Plot No. 131, Kavuri Hills, Madhapur, Hyderabad – 500 033, and its affiliates (hereinafter referred to
            as the <strong>“Company”</strong> or “<strong>us</strong>” or “<strong>we</strong>”, which expression shall
            mean and include its officers, successors and permitted assigns).</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>The Company is engaged as a telemedicine, care at centre, home care, physiotherapy services and
            pharmaceutical services service provider providing healthcare services remotely offering a range of features
            and benefits to make healthcare more accessible and convenient for patients. Through the Platform, we
            provide you services including and not limited to:</p>

        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>


        <ul class="dotted_list">
            <li>Scheduling appointments</li>



            <li>Consultation with doctors</li>



            <li>Accessing medical records</li>



            <li>Sharing medical related documents and images</li>



            <li>Tracking health data</li>



            <li>Messaging doctors</li>



            <li>Refilling prescription</li>



            <li>Payment of bills</li>
        </ul>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>BY USING THE PLATFORM, YOU HEREBY ACKNOWLEDGE THAT WE DO NOT PROVIDE ANY MEDICAL ADVICE THROUGH THE PLATFORM.
            ANY INFORMATION ON THIS PLATFORM IS NOT INTENDED OR IMPLIED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL
            ADVICE, DIAGNOSIS OR TREATMENT. WE ARE ONLY RESPONSIBLE FOR FACILITATING THE INTERACTION BETWEEN YOU AND THE
            MEDICAL PROFESSIONALS THROUGH THE PLATFORM. WE ARE NOT RESPONSIBLE OR LIABLE FOR ANY ADVICE, COURSE OR
            TREATMENT, DIAGNOSIS OR ANY OTHER INFORMATION, THAT YOU MAY OBTAIN THROUGH THIS PLATFORM. ALL MEDICAL
            ADVICE, DIAGNOSIS AND TREATMENT ON THE PLATFORM IS PROVIDED THROUGH REGISTERED MEDICAL PROFESSIONALS. MANY
            OF THE PHYSICIANS AFFILIATED WITH OUR SERVICE ARE INDEPENDENT PRACTITIONERS AND ARE NEITHR OUR EMPLOYEES NOR
            OUR AGENTS AND WE ARE NOT RESPONSIBLE FOR THE CARE PROVIDED BY THEM.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <p>By using our Platform, you confirm that you accept these Terms of Use and that you agree to comply with them.
            If you do not agree to these terms, you must not use our Platform. We recommend that you print a copy of
            these terms for future reference.</p>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">1. Applicability of these terms</h2>



        <ol type="1" class="dotted_list">
            <li>These Terms of Use shall apply to all users (including but not limited to healthcare professionals and
                patients) who have registered with us.</li>



            <li>We request you to carefully go through these Terms of Use and the Privacy Policy before you decide to
                access this Website or use the Services. These Terms of Use and the Privacy Policy, together constitute
                an agreement (“<strong>Agreement</strong>”) between you and the Company in connection with your visit to
                the Platform and your use of the Services.</li>



            <li>Your use of the Platform or the Services will signify your acceptance of the Agreement and your
                Agreement to be legally bound by the same. If you do not agree to, or wish to, be bound by the terms of
                the Agreement, you may not access or otherwise use the Platform or the Services<span>.</span>
            </li>



            <li>Nothing in the Agreement should be construed to confer any rights to third party beneficiaries.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">2. We may make changes to these terms and the services on the Platform</h2>



        <ol class="dotted_list">
            <li>We amend these terms and the Services provided on the Platform from time to time. We may choose to
                notify you of any changes to the Terms of Use or our Services as and when required.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">3. We may suspend or withdraw our Platform</h2>



        <ol class="dotted_list">
            <li>We do not guarantee that our Platform, or any content on it, will always be available or be
                uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our
                Platform for business and operational reasons. We will try to give you reasonable notice of any
                suspension or withdrawal.</li>



            <li>You are also responsible for ensuring that all persons who access our Platform through your internet
                connection are aware of these terms of use and other applicable terms and conditions, and that they
                comply with them.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">4. Access</h2>



        <ol class="dotted_list">
            <li>You will need to register to use our Services. You are required to use the same credentials for
                accessing the Services subsequently. We may reject, or require that you change, any username, password
                or other information that you provide. Your username and password are for your personal use only and are
                not to be shared with others. You are solely responsible for maintaining the confidentiality of your
                credentials and for restricting access to your mobile device, computer, and/or other means of accessing
                the Services. We are not responsible for any use of your credentials caused by your failure to keep them
                confidential. You are solely responsible for all activities that occur under your account, either with
                or without your knowledge. You must promptly notify us of any unauthorized use of your credentials or
                account of which you become aware.</li>



            <li>When you use the Platform, you are responsible for maintaining the confidentiality of your account and
                password and for restricting access to your computer or mobile or other similar devices to prevent
                unauthorized access to your account. We request you to safeguard your password and your account and make
                sure that others do not have access to it. It is your responsibility to keep your account information
                current and accurate. You agree to (a) ensure that you exit from your account at the end of each
                session, and (b) immediately notify the Company of any unauthorized use of your account information or
                any other breach of security. The Company cannot, and will not, be liable for any loss or damage arising
                from your failure to comply with these conditions. You may be held liable for losses incurred by the
                Company or any other user of or visitor to the Platform due to authorized or unauthorized use of your
                account as a result of your failure to keep your account information secure and confidential.</li>



            <li>We reserve the right to refuse access to the Platform and to terminate accounts if there has been a
                breach of our Terms of Use.</li>



            <li>We will aim to make the Platform error-free on a best effort basis. Your access to the Platform may be
                occasionally suspended or restricted to allow for repairs, maintenance, or for introduction of new
                facilities or services. However, we do not take responsibility for internet related issues at your end.
            </li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">5. Safety and Security Guidelines</h2>



        <ol class="dotted_list">
            <li>You understand and agree that during your association with the Platform and on booking your appointment,
                the healthcare service provider shall physically visit your premises to provide the healthcare services
                and you shall be liable for all liabilities that may arise during the course of the services being
                provided by the healthcare service provider at your premises.</li>



            <li>You understand that all associated issues pertaining to safety and security of the healthcare service
                provider at your premises shall be your responsibility and the Company and the healthcare service
                provider shall have the right to refuse services at your premises and on occurrence of any safety and
                security compromise, the Company and the healthcare service provider shall have the right to initiate
                such legal action as may be required.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">6. Interaction on the Platform</h2>



        <ol class="dotted_list">
            <li>You understand and agree that any interactions and associated issues with other users of the Services on
                the Platform is strictly between you and the other users. You shall not hold the Company responsible for
                any such interactions and associated issues. The Company is not involved in providing any healthcare or
                medical advice or diagnosis and hence is not responsible for any outcome between you and the other user
                which you ultimately interact with via the Platform. Since we have both inhouse and external parties can
                we tune in such a way to covers both.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">7. How you may use functions and material on our Platform</h2>



        <ol class="dotted_list">
            <li>We are the owner or the licensee of all intellectual property rights in our Platform, and in the
                functions and material published on it. Those works are protected by copyright and trademark laws and
                treaties around the world. All such rights are reserved.</li>



            <li>You may print off and download extracts, of any page(s) from our Platform for your personal use only.
            </li>



            <li>If you print off, copy or download any part of our Platform in breach of these Terms of Use, your right
                to use our Platform will cease immediately and you must, at our option, return or destroy any copies of
                the materials you have made.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">8. Platform Content</h2>



        <ol>
            By using our Platform, you are confirming your understanding and agreement that the Company does not
            warrant that:
            <ul class="dotted_list">
                <li>The functions contained in any content, information and material on the Platform, including,
                    without limitation any third-party sites or Services linked to the Platform and / or that the
                    Services will be uninterrupted, timely or error-free</li>



                <li>The data shared on the Platform will be limited to the Platform,&nbsp but the data shared may
                    &nbspbe used by the Company for providing services through other platforms of permitted assigns
                    and affiliates of the Company.</li>



                <li>The defects will be rectified, or that the Platform or the servers that make such content,
                    information and materials available are free from viruses or other harmful components</li>



                <li>Any material downloaded or otherwise obtained through the Platform is accessed at your own risk,
                    and you will be solely responsible for any damage or loss of data that results from such
                    download and / or use and</li>



                <li>The Platform cannot and will not assure you that other users of the Platform will be complying
                    with the foregoing rules or any other provisions of these Terms of Use. As between you and the
                    Company, you hereby assume all risk of harm or injury resulting from any such lack of
                    compliance.</li>
            </ul>

        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">9. Representations and Warranties by the Users</h2>



        <ol>
            <li>By using the Platform, you represent and warrant that:
                <ol class="dotted_list">
                    <li>You are 18 years of age or older and that your use of the Platform will not violate any
                        applicable law or regulation</li>



                    <li>All the information provided by you is owned by you and/or you have the right to use it</li>



                    <li>All information provided on the Platform by you is true, factual and accurate and you agree to
                        maintain the accuracy of such information. We will not be liable for any incident occurring due
                        to incorrect or insufficient information provided by you</li>



                    <li>The posting of your information on or through the Service does not violate the privacy rights,
                        publicity rights, copyrights, contract rights or any other rights of any person or entity.</li>



                    <li>You have fully read and understood these Terms of Use and the Privacy Policy and consent to
                        them</li>



                    <li>You will not use the Services for any unlawful purposes, to publish illegal content, or in
                        furtherance of illegal activities</li>



                    <li>You will not infringe or misappropriate the intellectual property rights of the Company or any
                        third party</li>



                    <li>You will not send spam or bulk unsolicited messages</li>



                    <li>You will not interfere with, disrupt, or attack any service or network</li>



                    <li>You will not create, distribute, or enable material that is/or that facilitates or operates in
                        conjunction with malware, spyware, adware, or other malicious programs or code</li>



                    <li>You will not disclose sensitive personal information of others and</li>



                    <li>You will not use the Services in violation of these Terms of Use or of the Privacy Policy.</li>
                </ol>
            </li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">10. Our responsibility for loss or damage suffered by you</h2>



        <ol type="1" class="dotted_list">
            <li>We exclude all implied conditions, warranties, representations or other terms that may apply to our
                Platform or any content on it.</li>



            <li>We will not be liable to you for any loss or damage, whether in contract, tort (including negligence),
                breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
                <ul class="dotted_list">
                    <li>Use of, or inability to use, our Platform</li>



                    <li>Use of or reliance on any content displayed on our Platform</li>



                    <li>Downloading content onto your computer system</li>



                    <li>Any viruses attack, or other technologically harmful material that may infect your device, data
                        or other proprietary material due to your use of the Services</li>



                    <li>Unauthorized access to or alteration of your transmissions or data or</li>



                    <li>Reliance on any third-party web sites, links or services.</li>
                </ul>
            </li>



            <li>In particular, we will not be liable for:
                <ul class="dotted_list">
                    <li>Business interruption</li>



                    <li>Loss of business opportunity, loss of profits, goodwill or reputation or</li>



                    <li>Any indirect or consequential loss or damage.</li>
                </ul>
            </li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">11. Conditions of Use</h2>



        <ol type="1" class="dotted_list">
            <li>The Services will be provided on best efforts basis. We will make reasonable efforts and shall endeavour
                that you are able to use the Services without undue disruption, interruption or delay.</li>



            <li>You shall use this Platform for reasonable and lawful purposes only, and shall not indulge in any
                activity that is not envisaged through the Platform.</li>



            <li>You covenant that you will not:
                <ul class="dotted_list">
                    <li>Modify any content of the Platform</li>



                    <li>Decompile, reverse engineer or disassemble the content</li>



                    <li>Use the Services in any way that is unlawful or harms the Company or any other person or entity,
                        as determined in Company’s sole discretion</li>



                    <li>Make false or malicious statements against the Services or Platform or the Company</li>



                    <li>Post, copy, submit, upload, distribute or otherwise transmit or make available any software or
                        other computer files that contain a virus or other harmful components, or otherwise impair or
                        damage the Platform and / or Services or any connected network, or otherwise interfere with any
                        person or entity’s use or enjoyment of the Platform and / or the Services</li>



                    <li>Post or upload any content that is libellous, defamatory, abusive, threatening, harassing,
                        hateful, offensive or otherwise violates any law or right of any third party</li>



                    <li>Delete or modify any content of the Platform and / or Services, including but not limited to,
                        legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos,
                        that you do not own or have express permission to modify and</li>



                    <li>Host, display, upload, modify, publish, transmit, update or share any information that:
                        <ul class="dotted_list">
                            <li>Belongs to another person and to which the user does not have any right</li>



                            <li>Is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic,
                                paedophilic, libellous, invasive of another’s privacy, hateful, racially or ethnically
                                objectionable, disparaging, relating to or encouraging money laundering or gambling, or
                                otherwise unlawful in any manner whatever</li>



                            <li>Harm minors in any way</li>



                            <li>Infringes any patent, trademark, copyright or other proprietary rights</li>



                            <li>Violates any law for the time being in force</li>



                            <li>Deceives or misleads the addressee about the origin of such messages or communicates any
                                information which is grossly offensive or menacing in nature</li>



                            <li>Impersonates another person</li>



                            <li>Threatens the unity, integrity, defence, security, friendly relations with foreign
                                states, or public order or causes incitement to the commission of any cognizable offence
                                or prevents investigation of any offence or is insulting any other nation.</li>
                        </ul>
                    </li>
                </ul>
            </li>



            <li>You acknowledge that all intellectual property rights on the Platform feed vests with the Company. You
                further agree not to infringe upon Company’s intellectual property by copying or plagiarizing content
                available on the Platform. Company reserves its right to initiate all necessary legal remedies available
                to them in case of such an infringement by you. You agrees not to post any reviews that would violate
                the intellectual property of any third party, including but not limited to patent, trademark, copyright
                or other proprietary rights. Company reserves the right to remove any reviews which it may determine at
                its own discretion as violating the intellectual property rights of any third party. You agrees to
                absolve Company from and indemnify Company against all claims that may arise as a result of any third
                party intellectual property right claim that may arise from your use of the Platform.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">12. You may not transfer your registration to someone else</h2>



        <ol type="1" class="dotted_list">
            <li>We are giving you personally the right to use the Platform and the Service as set out herein. You do not
                have the right to transfer the Platform or the Service to someone else, whether for money, for anything
                else or for free. If you sell any device on which the Platform is installed, you must remove the
                Platform from it.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">13. Links to Third Party websites</h2>



        <ol type="1" class="dotted_list">
            <li>The Platform includes links to other websites whose terms and privacy practices may differ from those of
                the Company. The inclusion of a link does not imply any endorsement by the Company of the third party
                website, the website’s provider, or the information on the third party website. If the users access or
                submit personal information to any of those websites, such access and information will be governed by
                the terms of use and privacy policies of such third party websites and the Company is not responsible or
                liable with respect to the terms, policies or the websites. The users are encouraged to carefully read
                the terms and privacy policy of any website that they visit.</li>



            <li>We reserve the right to withdraw linking permission without notice.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">14. Payment Terms and Conditions:</h2>



        <ol class="dotted_list">
            <li>You will pay to Company at the time of confirming your healthcare service requirements, at the rates set
                out on the Platform. At the time of visiting your premises for the practitioner for the services
                requires, You are not required to pay any amount. After availing the service, You are required to let
                the Company through the know, that You have availed the services successfully which will then be
                authenticated by the practitioner.</li>



            <li>Payment process: Upon your confirmation of the Services, the Platform will redirect you to a payment
                gateway options which shall be CCAvenue, and ICICI UPI Platform. You are permitted to choose
                the relevant payment method to make your payment which shall help us confirm to you the Services
                requested by you. Should you require any additional services after or during the practitioner’s
                services, you will be required to login into your account on the Platform and avail for those services
                and make the payment through the payment gateway before the service. The Platform and the Company shall
                in no manner permit the practitioner to collect cash on deliver/payment in the form of cash at any given
                time. The Company waives any liability that may arise for any direct services rendered by the
                practitioner with the relevant customer and towards any payments made directly to the practitioner.</li>



            <li><strong>Service Cancellation and Refund Policy:</strong> You may have an option to cancel Your Services.
                You will contact the customer support chat channel regarding
                cancelling Your Service. Further, Cancellation request can be placed before the practitioner departs for
                providing the services. The cancellation request shall be disabled if and after the practitioner has
                departed for providing services. The Company may refund the amount paid by You towards services at its
                sole discretion.</li>



            <li>All refunds of the amounts to the user are subject to internal verification process and the refund
                amount will made to the user within fifteen (15) business days of such cancellation request.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>

        <h2 class="wp-block-heading">15. Refer and Earn Program </h2>
        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>
        <ol type="1" class="dotted_list">
            <li>As a Platform, we offer all the registered user to participate in Refer and Earn program(“Program”) and
                avail Referral Coin(s) pursuant to the number of referrals. </li>

            <li>Define: A registered users who refer a new User to our Platform will henceforth be called
                <strong>“Referrer”</strong> and
                the new User who registers for our Platform using the referral code or link will be called
                <strong>“Referee”</strong>.
            </li>

            <li>How to refer: A Referrer can participate in the program by referring his/ her referral code or link with
                eligible new User and getting them to download and register in the app for the first time.</li>

            <li>Referral Terms and Conditions: The following Terms and Conditions are related to the Refer & Earn
                Programme. By entering this program, both the Referrer and Referee shall be deemed to have accepted and
                agreed to be bound by the terms and conditions of this Programme:

                <ol type="1">
                    <li>
                        Referrer and Referees must be 18 years or above and a resident of India.
                    </li>
                    <li>
                        Referral Coins are Non-Transferable and Non-Redeemable for cash or credit.
                    </li>
                    <li>
                        Referrer can refer any number of new User(s), each time using a new referral code.
                    </li>
                    <li>The Referee should not have earlier downloaded nor registered on our Platform.</li>
                    <li>
                        As part of the Program, any information collected from Referrer and Referee will be used only
                        in accordance with the company’s privacy policy.
                    </li>
                    <li>
                        We reserve all the right to Amend, Modify, Suspend or Withdraw the Referral Program, its
                        Features, Terms and Conditions in Whole or in Part for Business or Operational purposes, at any
                        time without serving any prior notice. In such case, such revision will be updated on the
                        Platform accordingly.
                    </li>
                    <li>
                        Any such changes will apply to all the Users registered on our Platform.
                        In such instance, we shall not be obliged to provide a reason for such
                        exclusion.
                    </li>
                    <li>
                        Company reserves the right to void any Referral coins or withhold any
                        granted Referral coins at any time on its sole discretion for any reasons, under this Program.
                        In such instance, company shall not be obliged to provide a reason for such exclusion.
                    </li>
                    <li>
                        We are entitled to run specific algorithms to qualify referrals as genuine. In case of any
                        fraudulent or unethical practices, we reserve the right to cancel all referrals and suspend the
                        account without prior notice. No correspondence in this matter will be entertained.
                    </li>
                    <li>
                        In the event of a dispute, the final decision rests with the company.
                    </li>
                    <li>
                        Daily and monthly limits for the referral(s) can be imposed and enabled without prior notice
                        to reduce instances of fraud.
                    </li>
                    <li>
                        There could be multiple scenarios in which a referral may seem eligible but there could be
                        technical (or other) reason(s) for it to not be counted as a successful referral. In such cases
                        the final decision rests with the company.
                    </li>
                </ol>
            </li>
        </ol>

        <h2 class="wp-block-heading">16. Limitation of Liability</h2>



        <ol class="dotted_list">
            <li>You acknowledge and undertake that you are accessing the Services through the Platform, transacting at
                your own risk and are using your best and prudent judgment before entering into any transactions through
                the Platform.</li>



            <li>To the fullest extent permitted by law, under no circumstances will the Company be liable to you or any
                other person or entity for any direct, indirect, incidental, special, remote or consequential damages,
                including but not limited to damages for loss of profits, goodwill, data or other intangible losses,
                resulting from any circumstances, including:
                <ul>
                    <li>The use or the inability to use the Services or</li>



                    <li>Unauthorized access to or alteration of your transmissions or data or</li>



                    <li>Any other matter relating to the Platform and / or Services.</li>
                </ul>
            </li>



            <li>Whether or not foreseeable, and whether or not the Company has been advised of the possibility of such
                damages<strong>.</strong></li>



            <li>We shall neither be liable nor responsible for any actions or inactions of the other users of the
                Platform nor any breach of conditions, representations or warranties by them. We do not take any
                obligation to mediate or resolve any dispute or disagreement between you and the other users of the
                Platform.</li>



            <li>Further, none of the directors, officers or employees of the Company shall be personally liable for any
                action in connection with the Platform or the Services.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">17. Force Majeure</h2>



        <ol type="1" class="dotted_list">
            <li>We will not be responsible for any delay or failure to comply with our obligations under these Terms of
                Use or in performing the Services, if the delay or failure arises due to any event or circumstance
                beyond our reasonable control including and not limited to force majeure events.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">18. Restrictions</h2>



        <ol type="1" class="dotted_list">
            <li>Your personal and non-commercial use of the Platform shall be subjected to the following restrictions:
                <ul class="dotted_list">
                    <li>You may not modify any content of the Platform</li>



                    <li>You may not decompile, reverse engineer, or disassemble the content</li>



                    <li>You may not remove any copyright, trademark registration, or other proprietary notices from the
                        Platform.</li>
                </ul>
            </li>



            <li>You further agree not to access or use the Platform in any manner that may be harmful to the operation
                of the Platform or its content.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">19. Termination</h2>



        <ol type="1" class="dotted_list">
            <li>In case of non-compliance with the Terms of Use or Privacy Policy or in the event any other user reports
                violation of any of their rights as a result of your use of the Services, the Company reserves the right
                to immediately:
                <ul class="dotted_list">
                    <li>Suspend or terminate your access to the Platform with or without notice to you</li>



                    <li>To remove such non-compliant information from the Platform and</li>



                    <li>To exercise any other remedy available under law.</li>
                </ul>
            </li>



            <li>Any suspected illegal, fraudulent or abusive activity will be grounds for terminating your access to the
                Platform. Upon suspension or termination, your right to avail the Services and access to the Platform
                will immediately cease and Company reserves the right to remove or delete your information that is
                available, including but not limited to login, account information and information posted by you.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">20. Applicable Law and jurisdiction</h2>



        <ol type="1" class="dotted_list">
            <li>These Terms of Use, their subject matter and their formation (and any non-contractual disputes or
                claims) are governed under the applicable laws in India. The courts of Hyderabad, India shall have
                exclusive jurisdiction towards any disputes arising between you and us.</li>



            <li>Any dispute, claim or controversy arising out of or relating to these Terms of Use, including the
                determination of the scope or applicability to arbitrate, or your use of the Website or the Services or
                information to which it gives access, shall be determined by arbitration in India, before a sole
                arbitrator appointed by the Company. Arbitration shall be conducted in accordance with the Arbitration
                and Conciliation Act, 1996. The seat of such arbitration shall be Hyderabad. All proceedings of such
                arbitration, including, without limitation, any awards, shall be in the English language. The award
                shall be final and binding on the parties to the dispute.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">21. Report Abuse and Complaints</h2>



        <ol class="dotted_list">
            <li>In the event you come across any abuse or violation of the Terms of Use or if you become aware of any
                objectionable content on the Platform or should you have any issues with respect to the Platform or the
                Services, including any discrepancies and complaints with respect to processing of information, please
                contact and report to technical support at <a href="mailto:grievance@healthonus.io" data-type="URL"
                    data-id="mailto"><u>grievance&#64;healthonus.io</u></a></li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">22. Severability</h2>



        <ol class="dotted_list">
            <li>If any provision of these Terms of Use is held by a court of competent jurisdiction or arbitral tribunal
                to be unenforceable under applicable law, then such provision shall be excluded from these Terms of Use
                and the remainder of these Terms of Use shall be interpreted as if such provision were so excluded and
                shall be enforceable in accordance with its terms provided however that, in such event these Terms of
                Use shall be interpreted so as to give effect, to the greatest extent consistent with and permitted by
                applicable law, to the meaning and intention of the excluded provision as determined by such court of
                competent jurisdiction or arbitral tribunal.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">23. Notices</h2>



        <ol class="dotted_list">
            <li>All notices and other communications required or permitted hereunder to be given to a party shall be
                sent by e-mail, addressed to <a href="mailto:legal@healthonus.io" data-type="mailto"
                    data-id="mailto:legal@healthonus.io">legal&#64;healthonus.io</a>.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">24. Waiver</h2>



        <ol class="dotted_list">
            <li>No term of these Terms of Use shall be deemed waived and no breach excused, unless such waiver or
                consent shall be in writing and signed by the Company. Any consent by the Company to, or waiver of a
                breach by you, whether expressed or implied, shall not constitute consent to, waiver of, or excuse for
                any other different or subsequent breach.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">25. Indemnity</h2>



        <ol class="dotted_list">
            <li>You agree to defend, indemnify and hold the Company harmless, the Company’s affiliates and its licensors
                and their respective officers, directors, shareholders, agents, employees and representatives on demand,
                against any claim, action, damage, loss, liability, cost, charge, expense or payment which we may pay,
                suffer, incur or are liable for, in relation to (i) in breach of these Terms of Use or any additional
                terms applicable or (ii) a violation of any law, rules or regulations.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>


        <h2 class="wp-block-heading">26. Other Important Terms</h2>



        <ol type="1" class="dotted_list">
            <li>The Terms of Use do not, and shall not be construed to, create any partnership, joint venture,
                employer-employee, agency or franchisor-franchisee relationship between you and us.</li>



            <li>We may assign, transfer or sublicense any or all of our rights or obligations under the same without
                restriction.</li>



            <li>No waiver by either party of any breach or default under these Terms of Use will be deemed to be a
                waiver of any preceding or subsequent breach or default.</li>



            <li>Any heading, caption or section title contained herein is for convenience only, and in no way defines or
                explains any section or provision. All terms defined in the singular shall have the same meanings when
                used in the plural, where appropriate and unless otherwise specified. Any use of the term “including” or
                variations thereof in this Agreement shall be construed as if followed by the phrase “without
                limitation.”</li>



            <li>These Terms of Use, including any terms and conditions incorporated herein, is the entire agreement
                between you and us relating to the subject matter of this agreement, and, in the absence of fraud,
                supersedes any and all prior or contemporaneous written or oral agreements or understandings between you
                and us relating to such subject matter.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">27. How you may use the App, including how many devices you may use it on</h2>



        <ol class="dotted_list">
            <li>In return for your agreeing to comply with these terms you may:
                <ul class="dotted_list">
                    <li>Download or stream a copy of the App onto your mobile phone and view, use and display the App
                        and the Service on such devices for your personal purposes only.</li>



                    <li>Use any Documentation to support your permitted use of the App and the Service.</li>



                    <li>Make up to five copies of the App and the Documentation for back-up purposes</li>



                    <li>Receive and use any free supplementary software code or update of the App incorporating
                        “patches” and corrections of errors as we may provide to you.</li>
                </ul>
            </li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">28. Update to the App and changes to the Service</h2>



        <ol class="dotted_list">
            <li>From time to time we may automatically update the App and change the Service to improve performance,
                enhance functionality, reflect changes to the operating system or address security issues. Alternatively
                we may ask you to update the App for these reasons.</li>



            <li>If you choose not to install such updates or if you opt out of automatic updates you may not be able to
                continue using the App and the Services.</li>



            <li>The App will always work with the current or previous version of the operating system (as it may be
                updated from time to time) and match the description of it provided to you when you bought it.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">29. Limitations to the App and the Services</h2>



        <ol class="dotted_list">
            <li>The App and the Services are provided for general information and entertainment purposes only. They do
                not offer advice on which you should rely. You must obtain professional or specialist advice before
                taking, or refraining from, any action on the basis of information obtained from the App or the Service.
                Although we make reasonable efforts to update the information provided by the App and the Service, we
                make no representations, warranties or guarantees, whether express or implied, that such information is
                accurate, complete or up to date.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">30. Please back-up content and data used with the App</h2>



        <ol class="dotted_list">
            <li>We recommend that you back up any content and data used in connection with the App, to protect yourself
                in case of problems with the App or the Service.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">31. We are not responsible for events outside our control</h2>



        <ol class="dotted_list">
            <li>If our provision of the Services or support for the App or the Services is delayed by an event outside
                our control then we will contact you as soon as possible to let you know and we will take steps to
                minimise the effect of the delay.</li>
        </ol>



        <div aria-hidden="true" class="wp-block-spacer emptyheightdivtwenty"></div>



        <h2 class="wp-block-heading">32. We may end your rights to use the App and the Services if you are in breach or
            in non-compliance of these Terms of Use</h2>



        <ol class="dotted_list">
            <li>We may end your rights to use the App and Services at any time if you have broken these terms in a
                serious way. If what you have done can be put right we will give you a reasonable opportunity to do so.
                If we end your rights to use the App and Services:
                <ul class="dotted_list">
                    <li>You must stop all activities authorised by these terms, including your use of the App and any
                        Services.</li>



                    <li>You must delete or remove the App from all devices in your possession and immediately destroy
                        all copies of the App which you have and confirm to us that you have done this.</li>
                </ul>
            </li>


            <li>We may remotely access your devices and remove the App from them and cease providing you with access to
                the Services.</li>
        </ol>
    </div>
</div>